<section class="page-section  page-section-account-setting">
    <div class="container">
        <div class="page-header custom-page-header">
            <div class="pull-left">
                <h1 class="h1 custom-h1">Account setting</h1>
            </div>
        </div>
    </div>
</section>
<section class="page-section"  ng-controller="company_settings">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- <section class="page-section-education">
                    <div class="page-header custom-page-header-brline">
                        <h2 class="h2 custom-h2">Notification</h2>
                    </div>
                    <div class="panel-group custom-panel-onboarding-group">
                        <div class="panel panel-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5 class="h4 custom-h5"> Desktop Notifications </h5>
                                    <h5 class="h5 custom-h5-04">Get a desktop notification when you are online.</h5>
                                    <div class="btn-group-account-setting">
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="desktop-notification-on" class="checkbox-input" type="checkbox">
                                            <label for="desktop-notification-on" class="checkbox-label-01"> on</label>
                                        </div>
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="desktop-notification-off" class="checkbox-input" type="checkbox" checked>
                                            <label for="desktop-notification-off" class="checkbox-label-01"> off</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5 class="h4 custom-h5"> Email Notifications </h5>
                                    <h5 class="h5 custom-h5-04">Get an email, when other users comment or like your posts.</h5>
                                    <div class="btn-group-account-setting">
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="email-notification-on" class="checkbox-input" type="checkbox">
                                            <label for="email-notification-on" class="checkbox-label-01"> on</label>
                                        </div>
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="email-notification-offline" class="checkbox-input" type="checkbox" checked>
                                            <label for="email-notification-offline" class="checkbox-label-01">When I'm offline</label>
                                        </div>
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="email-notification-always" class="checkbox-input" type="checkbox">
                                            <label for="email-notification-always" class="checkbox-label-01">Always</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5 class="h4 custom-h5"> Email activities </h5>
                                    <h5 class="h5 custom-h5-04">Get an email, by every activity from other users you follow or work together in workspaces.</h5>
                                    <div class="btn-group-account-setting">
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="email-activity-never" class="checkbox-input" type="checkbox">
                                            <label for="email-activity-never" class="checkbox-label-01"> Never</label>
                                        </div>
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="email-activity-daily" class="checkbox-input" type="checkbox" checked>
                                            <label for="email-activity-daily" class="checkbox-label-01"> Daily summery</label>
                                        </div>
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="email-activity-offline" class="checkbox-input" type="checkbox">
                                            <label for="email-activity-offline" class="checkbox-label-01"> When I'm offline</label>
                                        </div>
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="email-activity-always" class="checkbox-input" type="checkbox">
                                            <label for="email-activity-always" class="checkbox-label-01"> Always</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                <section class=" page-section-education">
                    <div class="page-header custom-page-header-brline">
                        <h2 class="h2 custom-h2">Account</h2>
                    </div>
                    <div class="panel-group custom-panel-onboarding-group">
                        <!-- <div class="panel panel-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="h4 custom-h5"> Your username </h5>
                                    <div class="form-group">
                                        <h5 class="h5 h5 custom-h5-04"><a href="#" class="link-user">http://www.firstsynch.com/@<span class="account-user-name">test-user</span></a></h5>
                                        <input type="text" class="form-control" >
                                    </div>
                                    </h5>
                                    <div class="btn-group-account-setting"> <button class="btn btn-default  custom-btn-default-08">Edit Username</button> </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="panel panel-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="h4 custom-h5"> Your Email </h5>
                                    <div class="form-group">
                                        <h5 class="h5 h5 custom-h5-04"><a href="#" class="link-email">{{company_setting.e_mail}}</a></h5>
                                        <input type="text" class="form-control" id="student_setting_email" ng-model="company_setting_email">
                                    </div>
                                    <div class="btn-group-account-setting"> <button ng-click="company_setting_email_update(company_setting_email)"  class="btn btn-default  custom-btn-default-08">Save</button> <button class="btn btn-default  custom-btn-default-03">Cancel</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="h4 custom-h5"> Your Password </h5>
                                    <div class="form-group">
                                        <h5 class="h5 h5 custom-h5-04">.....</h5>
                                        <input type="text" class="form-control" id="student_setting_password" ng-model="company_setting_password">
                                    </div>
                                    <div class="btn-group-account-setting"> <button ng-click="company_setting_change_password(company_setting_password)" class="btn btn-default  custom-btn-default-08">Edit password</button> </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel panel5-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="h4 custom-h5"> Language </h5>
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="panel panel5-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="h4 custom-h5"> Profile visibility </h5>
                                    <div class="btn-group-account-setting">
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="profile-visibility-register" class="checkbox-input" type="checkbox">
                                            <label for="profile-visibility-register" class="checkbox-label-01"> Registered users only</label>
                                        </div>
                                        <div class="checkbox custom-checkbox checkbox-circle">
                                            <input id="profile-visibility-visible" class="checkbox-input" type="checkbox" checked>
                                            <label for="profile-visibility-visible" class="checkbox-label-01"> Visible for all</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="panel panel5-default custom-panel-onboarding-default ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="h4 custom-h5"> Delete account </h5>
                                    <h5 class="h5 custom-h5-04">If you want to delete your account, all
                                        your published content will be removed
                                    </h5>
                                    <div class="btn-group-account-setting"> <a href="#" ng-confirm-click="Are you sure to delete your account ?" confirmed-click="company_setting_delete_account()" class="btn btn-default  custom-btn-default-08">Delete account</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- List Starts -->
                <!-- List Ends -->
            </div>
        </div>
    </div>
</section>
