<div id="projects" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="projectmessage">{{projectmessage}}</div>
       <h1 class="custom-h1-01 custom-h1-btm-space-55">Projects</h1>
        <table>
            <tr>
                <th>S.no</th>
                <th>Project</th>
                <th>Start Date</th>
                <th>Leave Date</th>
                <th>Description</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="projects in projecteditform">
                <td>{{ $index+1 }}</td>
                <td>{{ projects.title }}</td>
                <td>{{ projects.start_date }}</td>
                <td>{{ projects.completation_date }}</td>
                <td>{{ projects.project_description }}</td>
                <td><a ng-click="editproject( projects )" class="button">Edit</a> | <a ng-click="removeprojects( projects )" class="button">Remove</a></td>
            </tr>

        </table>
        <!-- <hr class="hr-line-lidership"> -->
        <form name="epeprojecteditform" ng-submit="projectssubmit(projecteditform.images)">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-11 col-md-11">
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase" ng-class="{'has-success': epeprojecteditform.title.$valid}">Projects</label>
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="projecteditform.user" name="user">
                        <input type="text" name="title" class="form-control custom-form-control-br-bottom" ng-model="projecteditform.title" placeholder="Company Name" ng-class="{'has-error': epeprojecteditform.title.$touched, 'has-success': epeprojecteditform.title.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase" ng-class="{'has-success': epeprojecteditform.start_date.$valid}">Start Date</label>
                        <input type="text" name="start_date" datepicker class="form-control custom-form-control-br-bottom" ng-model="projecteditform.start_date" placeholder="Start Date" ng-class="{'has-error': epeprojecteditform.start_date.$touched, 'has-success': epeprojecteditform.start_date.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase" ng-class="{'has-success': epeprojecteditform.completation_date.$valid}">End Date</label>
                        <input type="text" name="completation_date" datepicker class="form-control custom-form-control-br-bottom" ng-model="projecteditform.completation_date" placeholder="Graduated Year" ng-class="{'has-error': epeprojecteditform.completation_date.$touched, 'has-success': epeprojecteditform.completation_date.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Description</label>
                        <textarea class="form-control custom-text-area" rows="4" ng-model="projecteditform.project_description" placeholder="Write a description  about your roles and responsibility" maxlength="150"></textarea>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Picture</label>
                        <input type="file" ngf-select ng-model="projecteditform.images" name="files" accept="image/*" >
                    </div>
                </div>
                <input type="submit" value="Submit" ng-disabled="epeprojecteditform.title.$invalid || epeprojecteditform.start_date.$invalid || epeprojecteditform.completation_date.$invalid" class="btn btn-default custom-btn btn-lg"/>
            </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
            </div> -->
        </form>
    </div>
</div>
