<div id="work-history" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="workhistroymessage">{{workhistroymessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Work History</h1>
         <table class="table table-striped">
            <tr>
                <th>S.no</th>
                <th>Company name</th>
                <th>Start Date</th>
                <th>Leave Date</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="workhistroy in workhistroyform">
                <td>{{ $index+1 }}</td>
                <td>{{ workhistroy.company }}</td>
                <td>{{ workhistroy.start_date }}</td>
                <td>{{ workhistroy.leave_date }}</td>
                <td>{{ workhistroy.job_title }}</td>
                <td>{{ workhistroy.job_description }}</td>
                <td><a ng-click="editworkinghistroy( workhistroy )" class="button btn-link"><span class="glyphicon glyphicon-pencil"></span></a> | <a ng-click="removeWorkinghistrory( workhistroy )" class="button btn-link"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>

        </table>
        <!-- <hr class="hr-line-lidership"> -->
        <form name="epeworkhistroy" ng-submit="workhistroyformsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
               <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeworkhistroy.company.$valid}">Work</label>
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.user" name="user">
                        <input type="text" class="form-control custom-form-control-br-bottom" name="company" ng-model="workhistroyform.company" placeholder="Company Name" ng-class="{'has-error': epeworkhistroy.company.$touched, 'has-success': epeworkhistroy.company.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeworkhistroy.start_date.$valid}">Start Date</label>
                        <input type="text" datepicker name="start_date" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.start_date" placeholder="Start Date" ng-class="{'has-error': epeworkhistroy.start_date.$touched, 'has-success': epeworkhistroy.start_date.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeworkhistroy.leave_date.$valid}">Leave Date</label>
                        <input type="text" datepicker name="leave_date" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.leave_date" placeholder="Graduated Year" ng-class="{'has-error': epeworkhistroy.leave_date.$touched, 'has-success': epeworkhistroy.leave_date.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Job Title</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.job_title" placeholder="Job Title">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Job Description</label>
                        <textarea class="form-control custom-text-area" rows="4" ng-model="workhistroyform.job_description" placeholder="Write a description  about your roles and responsibility"></textarea>
                    </div>
                
                 <p class="edt-pro-btn-group">
                <input type="submit" value="Submit" ng-disabled="epeworkhistroy.start_date.$invalid || epeworkhistroy.company.$invalid || epeworkhistroy.leave_date.$invalid" class="btn btn-default custom-btn btn-lg btn-submit"/>
                </p>
            </div></div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
            </div> -->
        </form>
    </div>
</div>
