<div id="software" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="softwareskillmessage">{{softwareskillmessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Software</h1>
        <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="softwareskill in skillsetsoftwareform | filter:{skill_type:'Software'}">
            <input id="softwareskill" class="checkbox-input" checked="" type="checkbox">
            <label for="softwareskill" class="checkbox-label"> {{softwareskill.name}} - {{softwareskill.rating}}</label>
        </div>
        <form name="epeskillsetsoftwareform" ng-submit="softwareskillsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="skillsetsoftwareform.user" name="user">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="skillsetsoftwareform.skilltype" name="skill_type">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeskillsetsoftwareform.name.$valid}">Name</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="skillsetsoftwareform.name" name="name" placeholder="Skill Name" ng-class="{'has-error': epeskillsetsoftwareform.name.$touched, 'has-success': epeskillsetsoftwareform.name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeskillsetsoftwareform.rating.$valid}">Rating</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="skillsetsoftwareform.rating" name="rating" placeholder="Skill Rating" ng-class="{'has-error': epeskillsetsoftwareform.rating.$touched, 'has-success': epeskillsetsoftwareform.rating.$valid}" required>
                    </div>
                
                 <p class="edt-pro-btn-group">
                <input type="submit" ng-disabled="epeskillsetsoftwareform.name.$invalid || epeskillsetsoftwareform.rating.$invalid" value="Save" class="
btn btn-default custom-btn btn-lg btn-submit" />
                </p>
                <!-- <hr class="hr-line-lidership"> -->
            </div></div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
            </div> -->
        </form>
    </div>
</div>
