<div id="leadership-roles" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="leadershipmessage">{{leadershipmessage}}</div>
       <h1 class="custom-h1-01 custom-h1-btm-space-55">Leadership roles</h1>
       <div class="table-responsive">
       <table class="table table-striped" ng-if="leadershipform.length > 0">
           <tr>
               <th>S.no</th>
               <th>Leadership</th>
               <th>Description</th>
               <th>Action</th>
           </tr>

           <tr ng-repeat="leadership in leadershipform">
               <td>{{ $index+1 }}</td>
               <td>{{ leadership.leadership_role }}</td>
               <td>{{ leadership.description }}</td>
               <td><a ng-click="editleadership(leadership)" class="button btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
                   <a ng-confirm-click="Are you sure to delete your leadership details?" confirmed-click="removeleadership(leadership.id)" class="button btn-link"><span class="glyphicon glyphicon-trash"></span></a></td>
           </tr>

       </table>
       </div>
        <form name='epeleadershipform' ng-submit="leadershipsubmit()" >
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeleadershipform.leadership_role.$valid}">Lidership role</label>
                        <span ng-show="epeleadershipform.leadership_role.$error.pattern" class="validation_msg">Enter only alphabets and spaces</span>
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="leadershipform.student" name="student">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="leadershipform.editid" name="leadereditid">
                        <input maxlength="200" type="text" class="form-control custom-form-control-br-bottom" maxlength="50" name="leadership_role" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="leadershipform.leadership_role" placeholder="Give it a leadership role" ng-class="{'has-error': epeleadershipform.leadership_role.$touched, 'has-success': epeleadershipform.leadership_role.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group custom-form-group-new">
                        <label class="text-uppercase" ng-class="{'has-success': leadershipform.description}">Description</label>
                        <textarea ng-trim="false" ng-class="{'has-success': leadershipform.description}" class="form-control custom-text-area" rows="4" ng-model="leadershipform.description" placeholder="Write a description  about your lidership role" maxlength="500"></textarea>
                        <p class="text-overlay-textarea">{{500 - leadershipform.description.length}}</p>
                    </div>
                    <p class="edt-pro-btn-group">
                        <input type="submit" value="Submit" ng-disabled="epeleadershipform.leadership_role.$invalid" class="btn btn-default custom-btn btn-lg btn-submit" />
                        <button type="button" ng-click="employee_edit_leadership_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>

                <!-- <hr class="hr-line-lidership"> -->
            </div>
             <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-12 "> <a href="#" title="Add role" class="btn-addrole">Add role</a> </div>
            </div> -->
        </form>
    </div>
</div>
