<div id="characteristics" class="tab-pane hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="charactermessage">{{charactermessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Charactertics</h1>
        <p class="text-edit-profile">Select things that are important in a potential job <span class="text-description">(Select {{seshouldDisablecount}}/5 characteristics)</span></p>
        <form>
            <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="characters in availablecharacter">
                <input id="{{characters.charac}}" ng-click="charactercheck($event,characters.charac)" class="checkbox-input" ng-model="selectedCharacter[characters.charac]" type="checkbox">
                <label for="{{characters.charac}}" class="checkbox-label"> {{characters.charac}}</label>
            </div>
            <p class="edt-pro-btn-group">
                <input type="submit" ng-disabled="!epecharacterbtndisable"  class="btn btn-default custom-btn btn-lg btn-submit" name="submit" value="Save" ng-click="charactersubmit()"/>
                <button type="reset" class="btn btn-primary custom-btn btn-lg btn-cancel " ng-click="employee_edit_profile_character_reset()">Cancel</button>
            </p>
        </form>
    </div>
</div>
