<div id="my-schools" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="educationmessage">{{educationmessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">My Schools</h1>
        <form name="epeeducationform" ng-submit="educationupdatesubmit(educationform.id,educationform.school_name,educationform.year_started,educationform.year_graduated,educationform.major,educationform.gpa)" ng-repeat="educationform in educationform" style="margin-bottom: 50px;">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle glyphicon-minus"></span> </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.school_name.$valid}">School</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.school_name.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                        <input maxlength=200 type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/"  class="form-control custom-form-control-br-bottom" ng-model="educationform.school_name" placeholder="School Name" name="school_name" ng-class="{'has-error': educationform.school_name.$touched, 'has-success': epeeducationform.school_name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.major.$valid}">Major</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.major.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                        <input type="text" maxlength="200" ng-pattern="/^[a-zA-Z0-9\s]*$/" class="form-control custom-form-control-br-bottom" ng-model="educationform.major" placeholder="Major"  name="major" ng-class="{'has-error': educationform.major.$touched, 'has-success': epeeducationform.major.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.year_started.$valid}">Year Started</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.year_started.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                        <input type="text" maxlength="12" class="form-control custom-form-control-br-bottom" ng-change="datecheckErr(educationform.year_started,educationform.year_graduated)" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="educationform.year_started" datepicker placeholder="Start Date"  name="year_started" ng-class="{'has-error': educationform.year_started.$touched, 'has-success': epeeducationform.year_started.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.year_graduated.$valid}">Graduated Year</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.year_graduated.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                        <span ng-show="dateerrMessage" class="validation_msg">{{dateerrMessage}}</span>
                        <input type="text" maxlength="12" class="form-control custom-form-control-br-bottom" ng-change="datecheckErr(educationform.year_started,educationform.year_graduated)" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="educationform.year_graduated" datepicker  placeholder="Graduated Year" name="year_graduated" ng-class="{'has-error': educationform.year_graduated.$touched, 'has-success': epeeducationform.year_graduated.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.gpa.$valid}">GPA</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.gpa.$error.pattern" class="validation_msg">Enter the value 0 to 4 only with two decimals</span>
                        <input maxlength="10" type="number" min="1" max="4" class="form-control custom-form-control-br-bottom" ng-pattern="/^([0-3]|4(\.0{1,2})?$)(\.[0-9]{1,2})?$/" name="gpa" ng-model="educationform.gpa" placeholder="GPA" ng-class="{'has-error': educationform.gpa.$touched, 'has-success': epeeducationform.gpa.$valid}" required>
                    </div>
                    <p class="edt-pro-btn-group">
                        <input type="submit" value="Save" ng-disabled="epeeducationform.gpa.$invalid||epeeducationform.school_name.$invalid || epeeducationform.major.$invalid || epeeducationform.year_started.$invalid || epeeducationform.year_graduated.$invalid" class="btn btn-default custom-btn btn-lg btn-submit">
                        <!--<button type="button" ng-click="employee_edit_leadership_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>-->
                        <button type="button" ng-confirm-click="Are you sure to delete your education details?" confirmed-click="removeeducation(educationform.id)" class="btn btn-primary custom-btn btn-lg btn-cancel">Delete</button>
                    </p>
                </div>

            </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
            </div> -->
        </form>

        <form name="epeeducationform" ng-submit="educationsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.school_name.$valid}">School</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.school_name.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                        <input maxlength=200 type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/"  class="form-control custom-form-control-br-bottom" ng-model="educationform.school_name" placeholder="School Name" name="school_name" ng-class="{'has-error': educationform.school_name.$touched, 'has-success': epeeducationform.school_name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.major.$valid}">Major</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.major.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                        <input type="text" maxlength="200" ng-pattern="/^[a-zA-Z0-9\s]*$/" class="form-control custom-form-control-br-bottom" ng-model="educationform.major" placeholder="Major"  name="major" ng-class="{'has-error': educationform.major.$touched, 'has-success': epeeducationform.major.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.year_started.$valid}">Year Started</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.year_started.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                        <input type="text" maxlength="12" class="form-control custom-form-control-br-bottom" ng-change="datecheckErr(educationform.year_started,educationform.year_graduated)" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="educationform.year_started" datepicker placeholder="Start Date"  name="year_started" ng-class="{'has-error': educationform.year_started.$touched, 'has-success': epeeducationform.year_started.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.year_graduated.$valid}">Graduated Year</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.year_graduated.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                        <span ng-show="dateerrMessage" class="validation_msg">{{dateerrMessage}}</span>
                        <input type="text" maxlength="12" class="form-control custom-form-control-br-bottom" ng-change="datecheckErr(educationform.year_started,educationform.year_graduated)" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="educationform.year_graduated" datepicker  placeholder="Graduated Year" name="year_graduated" ng-class="{'has-error': educationform.year_graduated.$touched, 'has-success': epeeducationform.year_graduated.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeeducationform.gpa.$valid}">GPA</label> <sup class="asterisk">*</sup>
                        <span ng-show="epeeducationform.gpa.$error.pattern" class="validation_msg">Enter the value 0 to 4 only with two decimals</span>
                        <input maxlength="10" type="number" min="1" max="4" class="form-control custom-form-control-br-bottom" ng-pattern="/^([0-3]|4(\.0{1,2})?$)(\.[0-9]{1,2})?$/" name="gpa" ng-model="educationform.gpa" placeholder="GPA" ng-class="{'has-error': educationform.gpa.$touched, 'has-success': epeeducationform.gpa.$valid}" required>
                    </div>
                    <p class="edt-pro-btn-group">
                        <input type="submit" value="Add Education" style="width: 120px;" ng-disabled="!dateerrcondition||epeeducationform.gpa.$invalid||epeeducationform.school_name.$invalid || epeeducationform.major.$invalid || epeeducationform.year_started.$invalid || epeeducationform.year_graduated.$invalid" class="btn btn-default custom-btn btn-lg btn-submit">
                        <button type="button" ng-click="employee_edit_school_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>

            </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
            </div> -->
        </form>
    </div>
</div>
