<div id="aboutme-hobbies" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="epehobbiesmessage">{{epehobbiesmessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Hobbies</h1>
        <!-- <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="hobbies in hobbyform">
            <input id="hobbies" class="checkbox-input" checked="" type="checkbox">
            <label for="hobbies" class="checkbox-label"> {{hobbies.name}}</label>
        </div> -->
        <table class="table table-striped" ng-show="epehobbyform.length > 0">
           <tr>
               <th>S.no</th>
               <th>Hobby</th>
               <th>Description</th>
               <th>Action</th>
           </tr>

           <tr ng-repeat="hobby in epehobbyform">
               <td>{{ $index+1 }}</td>
               <td>{{ hobby.name }}</td>
               <td>{{ hobby.description }}</td>
               <td><a ng-click="epeedithobby( hobby )" class="button  btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
                   <a ng-confirm-click="Are you sure to delete your work project details?" confirmed-click="eperemovehobby( hobby.id )" class="button  btn-link"><span class="glyphicon glyphicon-trash"></span></a></td>
           </tr>

       </table>
        <form name="epeahobbyform" ng-submit="epehobbysubmit(epehobbyformadd.image,epehobbyformadd.existing_id)">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
               <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeahobbyform.name.$valid}">Hobby</label> <span ng-show="epeahobbyform.name.$error.pattern" class="validation_msg">Enter only alphabets and spaces</span>
                        <input type="hidden" name="stud_id" ng-model="epehobbyformadd.stud_id">
                        <input type="hidden" name="existing_id" ng-model="epehobbyformadd.existing_id">
                        <input maxlength="200" type="text"  ng-pattern="/^[a-zA-Z\s]*$/" class="form-control custom-form-control-br-bottom" placeholder="Give it a name" name="name"  ng-model="epehobbyformadd.name" ng-class="{'has-error': epeahobbyform.name.$touched, 'has-success': epeahobbyform.name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group custom-form-group-new">
                        <label class="text-uppercase" ng-class="{'has-success': epehobbyformadd.description}">Description</label>
                        <textarea ng-class="{'has-success': epehobbyformadd.description}" class="form-control custom-text-area" rows="4" placeholder="Write a description  about your hobbies" ng-model="epehobbyformadd.description" maxlength="500"></textarea>
                        <p class="text-overlay-textarea">{{500 - epehobbyformadd.description.length}}</p>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epehobbyformadd.image}">Picture</label>
                        <span ng-show="epeahobbyform.file.$invalid" class="validation_msg">Maximum 2 MB with only image format</span>
                        <input ng-class="{'has-success': epehobbyformadd.image}" ngf-max-size="2MB" type="file" ngf-select ng-model="epehobbyformadd.image" name="file" accept="image/*" >
                        <img ngf-thumbnail="epehobbyformadd.image" height="100" width="100">
                        <img ng-if="!epehobbyformadd.image" src="{{epehobbyformadd.imagesrc}}" height="100" width="100">
                    </div>
                </div>
                <!-- <hr class="hr-line-lidership"> -->
            </div>
             <p class="edt-pro-btn-group">
            <input type="submit" ng-disabled="epeahobbyform.name.$invalid" value="Save" class="btn btn-default custom-btn btn-lg btn-submit"/>
            <button type="button" ng-click="employee_edit_profile_hobbies_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
            </p>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Hobby</a> </div>
            </div> -->
        </form>
    </div>
</div>
