<div id="work-history" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="workhistroymessage">{{workhistroymessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Work History</h1>
        <table>
            <tr>
                <th>S.no</th>
                <th>Company name</th>
                <th>Start Date</th>
                <th>Leave Date</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="workhistroy in workhistroyform">
                <td>{{ $index+1 }}</td>
                <td>{{ workhistroy.company }}</td>
                <td>{{ workhistroy.start_date }}</td>
                <td>{{ workhistroy.leave_date }}</td>
                <td>{{ workhistroy.job_title }}</td>
                <td>{{ workhistroy.job_description }}</td>
                <td><a ng-click="editworkinghistroy( workhistroy )" class="button">Edit</a> | <a ng-click="removeWorkinghistrory( workhistroy )" class="button">Remove</a></td>
            </tr>

        </table>
        <!-- <hr class="hr-line-lidership"> -->
        <form ng-submit="workhistroyformsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-11 col-md-11">
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase">Work</label>
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.user" name="user">
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.company" placeholder="Company Name">
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase">Start Date</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.start_date" placeholder="Start Date">
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase">Leave Date</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.leave_date" placeholder="Graduated Year">
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase">Job Title</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.job_title" placeholder="Job Title">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Job Description</label>
                        <textarea class="form-control custom-text-area" rows="4" ng-model="workhistroyform.job_description" placeholder="Write a description  about your roles and responsibility"></textarea>
                    </div>
                </div>
                <input type="submit" value="Submit"  class="btn btn-default custom-btn btn-lg"/>
            </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
            </div> -->
        </form>
    </div>
</div>
