<div id="professional" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="professionalskillmessage">{{professionalskillmessage}}</div>
       <h1 class="custom-h1-01 custom-h1-btm-space-55">Professional</h1>
        <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="professionalskill in skillsetprofessionalform | filter:{skill_type:'Professional'}">
            <input id="professionalskill" class="checkbox-input" checked="" type="checkbox">
            <label for="professionalskill" class="checkbox-label"> {{professionalskill.name}} - {{professionalskill.rating}}</label>
        </div>
        <form name="epeskillsetprofessionalform" ng-submit="professionalskillsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="skillsetprofessionalform.student" name="user">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="skillsetprofessionalform.skill_type" name="skill_type">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeskillsetprofessionalform.name.$valid}">Name</label> <sup class="asterisk">*</sup>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="skillsetprofessionalform.name" name="name" placeholder="Skill Name" ng-class="{'has-error': epeskillsetprofessionalform.name.$touched, 'has-success': epeskillsetprofessionalform.name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': epeskillsetprofessionalform.rating.$valid}">Rating</label> <sup class="asterisk">*</sup>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="skillsetprofessionalform.rating" name="rating" placeholder="Skill Rating" ng-class="{'has-error': epeskillsetprofessionalform.rating.$touched, 'has-success': epeskillsetprofessionalform.rating.$valid}" required>
                    </div>

                 <p class="edt-pro-btn-group">
                <input type="submit" ng-disabled="epeskillsetprofessionalform.name.$invalid || epeskillsetprofessionalform.rating.$invalid" value="Save" class="
btn btn-default custom-btn btn-lg btn-submit" />
</p>
                <!-- <hr class="hr-line-lidership"> -->
            </div>   </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
            </div> -->
        </form>
    </div>
</div>
