<div ng-controller="company_careerfair_detail">
<!--[Career fair Details Slider Start]-->
<section class="page-section page-bg-gray page-section-career-details"  ng-init="initCareerFairDetails()">
  <div class="container">
    <div class="page-control-container">
      <a href="/com/careerfair" title="Career Fairs" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span>Fairs</a>
    </div>
    <div class="row custom-row-15"  ng-show="company_careerfair_notfound">

      <div class="col-sm-6 col-md-5">
        <h3 class="h3 custom-h3">{{ careerfair_details.title }}</h3>
        <p class="details-content" style="height:160px;overflow-y:scroll;">{{ careerfair_details.description }}</p>

        <div ng-if="request_membership_closed">
          <div class="slider-btn-group" ng-if="availability_requested">
            <a class="btn custom-btn-following followed_btn activated_btn">
              <span class="glyphicon glyphicon-ok"></span>{{request_status}}
            </a>
            <div ng-if="request_status=='Approved'" class="btn custom-btn-following fileContainer">
                <span class="glyphicon glyphicon-plus"></span> Add Video
                <input type="file" class="file_multi_video fileinput" accept="video/*" id="file" name="file" multiple onchange="angular.element(this).scope().getCareerFileDetails(this)">
            </div>

          </div>
          <div class="slider-btn-group" ng-if="!availability_requested">
            <a ng-click="company_career_request_member(careerfair_details.id)" class="btn  custom-btn-following">
              <span class="glyphicon  custom-glyphicon-plus"></span>
              Request Member</a>
          </div>
        </div><!--check request member available for this career fair-->

        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 pull-right">
          <img ng-src="{{ careerfair_details.image }}" class="img-responsive img-380">
        </div>
      </div>


      <div class="row custom-row-15"  ng-show="company_careerfair_notfound">
        <div class="col-sm-12 slider-bottom-solical">
          <div class="pull-left">
            <p class="date-location">{{ careerfair_details.start_time | date:"MMMM d, y"  }}<span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.start_time | date:"h:mma"  }} - {{ careerfair_details.stop_time | date:"h:mma"  }} </span></p>
            <p class="company-location">{{ careerfair_details.country }} <span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.where }}</span></p>
          </div>
          <div class="pull-right">
            <div class="pull-left social-total-list">
              <span class="total-followers">{{ careerfair_details.requested.length }}</span> Posts
            </div>
            <div class="pull-left social-total-list">
              <span class="total-followers">{{ careerfair_details.request_member.length }}</span> Companies
            </div>
            <div class="pull-left social-total-list">
              <span class="total-followers">{{ careerfair_details.followed.length }}</span> Followers
            </div>
            <div class="pull-left social-total-list">
              <span class="total-followers">{{ careerfair_details.viewed.length }}</span> Viewers
            </div>
          </div>
        </div>
      </div>

      <div class="text-center" ng-show="!company_careerfair_notfound"><h1>Invalid URL!</h1></div>
    </div>


    <div class="modal custom-model custom-addvideo-model" id="page-video-edit" role="dialog" style="overflow:auto">
      <div class="modal-dialog">
        <div class="modal-content custom-modal-video-content">
          <div class="modal-header custom-modal-header-add-video">
            <h4 class="h4 custom-addvideo-h4">Adding video</h4>
            <button type="button" class="close custom-modal-close" data-dismiss="modal">×</button>
          </div><!--header-->
          <form name="video_create_form" class="ng-pristine ng-valid">

            <div id="video_popup_loader">


            </div><!--video_popup_loader-->
            <div class="modal-body add-video-modal-body after_video_process" style="display:none;">
              <aside></aside>
              <div class="add-video-center-container">
                <div class="custom-addvideo-form-group add-video-player-container">
                  <div class="form-group">
                    <input type="text" value="Your video is ready" class="form-control form-control-noborder">
                  </div>
                  <div class="add-video-player">
                    <video width="100%"  height="376px" id="ma">
                      <source src="" type="video/mp4" id="after_video">
                        Your browser does not support HTML5 video.
                      </video>
                      <div class="play-button-add-video" id="playcus" onclick="vidplay()">
                        <i class="icon-play-button"></i>
                      </div>
                    </div>
                    <div class="form-group custom-addvideo-form-group">
                      <div class="">
                        <label class="text-uppercase">privacy video</label>
                        <div class="allow-text">Allow other users to see this video?</div>

                        <div class="add-video-checkbox">
                          <div class="checkbox custom-checkbox checkbox-circle" ng-init="published='True'">
                            <input type="radio" name="published" ng-model="published" value="True"class="checkbox-input"  id="published-allow">
                            <label for="published-allow" class="checkbox-label-01">Allow</label>
                          </div>

                          <div class="checkbox custom-checkbox checkbox-circle">
                            <input type="radio" name="published" ng-model="published" value="False"class="checkbox-input" id="published-Forbid">
                            <label for="published-Forbid" class="checkbox-label-01">Forbid</label>
                          </div>

                        </div>
                      </div>
                    </div><!--custom-addvideo-form-group-->
                  </div><!--add-video-player-container-->
                  <input type="hidden" value="{{careerfair_details.id}}" id="careerfair_details_id">
                  <div class="form-group custom-addvideo-form-group custom-form-group-new">
                    <label class="text-uppercase" ng-class="{'has-success': video_create_form.title.$valid}">Title</label> <sup class="asterisk">*</sup>
                    <textarea class="form-control custom-text-area custom-text-area-36"  rows="1" placeholder="Type your title" maxlength="30" required id="title" name="title" ng-model="title" ng-class="{'has-error': video_create_form.title.$touched && video_create_form.title.$error.required, 'has-success': video_create_form.title.$valid}"></textarea>
                    <p class="text-overlay-textarea">{{30 - title.length}}</p>
                  </div>

                  <div class="form-group custom-addvideo-form-group custom-form-group-new">
                    <label class="text-uppercase">Description</label>
                    <textarea class="form-control custom-text-area custom-text-area-100"  rows="3" placeholder="Type your description" maxlength="250"  id="description" name="description" ng-model="description"></textarea>
                    <p class="text-overlay-textarea">{{500 - description.length}}</p>
                  </div>

                  <div class="form-group custom-addvideo-form-group">
                    <label class="text-uppercase" ng-class="{'has-success': video_create_form.skill_text.$valid}">Skills that we are sekking (Separate with commas)</label> <sup class="asterisk">*</sup>
                    <textarea class="form-control custom-text-area"  rows="2" placeholder="Add skills" maxlength="150" required id="skill_text" name="skill_text" ng-model="skill_text" ng-class="{'has-error': video_create_form.skill_text.$touched && video_create_form.skill_text.$error.required, 'has-success': video_create_form.skill_text.$valid}"></textarea>
                  </div>

                </div><!--add-video-center-container-->
              </div><!--after_video_process-->

              <div class="add-video-btn-group after_video_process" style="display: none; padding-bottom:30px;">
                <button type="submit" ng-disabled="video_create_form.$invalid" ng-click="uploadFile()" class="btn btn-default custom-btn btn-lg btn-submit">
                  <i class="icon-action icon-upload"></i> Upload this video
                </button>
                <!--<button type="button"  class="btn btn-primary custom-btn btn-lg btn-cancel"><i class="icon-action icon-edit"></i> Edit</button>-->
              </div>
            </form>
            <div class="modal-footer modal-footer-add-video before_video_process">
              <div class="add-video-btn-group add-video-btn-group-right">
                <button type="button" id="add_new_question" class="btn btn-default custom-btn btn-lg btn-submit" onclick="addnewquestion()">
                  <i class="icon-action icon-question"></i> Add a new question
                </button>
                <button type="button" id="trim_finish" class="btn btn-primary custom-btn btn-lg btn-cancel" onclick="trimchaptermaking()">
                  <i class="icon-action icon-trim"></i> Trim &amp; finish
                </button>

                <textarea style="display:none;" id="result" ng-model="video_chapters" required class="form-control custom-text-area ng-pristine ng-valid ng-empty ng-touched" maxlength="150" rows="4"></textarea>
                <input type="hidden" id="video_duration">
              </div>
            </div><!--footer-->

          </div><!--moal-content-->
        </div><!--modal-dialog-->
      </div><!--page-edit-popup-->

      <!--[Page Seach Section Content Start]-->
      <div class="modal fade custom-model" id="error_msg_model">
        <div class="modal-dialog">
          <div class="modal-content custom-modal-video-content">
            <div class="modal-header cusom-model-onboard-header">
              <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
              <div class="page-header custom-page-header">
                <div class="pull-left">
                </div>
              </div>
            </div>
            <div class="modal-body custom-video-modal-body">
              <h1 class="h3 custom-h3">
                Please upload 1 minute video.
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!--[Page Seach Section Content End]-->

      <!--Video End Popup-->
      <div class="company-verify" id="video_end">
        <div class="loader">
        </div>
        <div class="cont-verify-profile">Your Video is currently being processed.</div>
        <div class="cont-verify-profile">
          <div ng-show="progressVisible">
            <div class="percent">{{progress}}%</div>
            <div class="progress1-bar">
              <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
          </div>
        </div>
      </div>

</section>
<!--[Career fair Details Slider End]-->

<!--[Dashboard company Start]-->
<section class="page-section page-section-new-member" ng-show="cfdcompany.length > 0">
  	<div class="container">
	    <div class="page-header custom-page-header">
	      <div class="pull-left">
	        <h3 class="h3 custom-h3">Jobs</h3>
	      </div>
	      <div class="pull-right"> <a href="javascript:void(0)" ng-show="cfdcompany.length > 9" class="link-all home_company_all_link" title="Show All"  ng-click="showall_companyvideo()">Show All</a> </div>
	    </div>
	    <div class="row custom-row-10 for_home_com_less_all" >
	      	<div class="col-sm-4" ng-repeat="comp in cfdcompany | limitTo:9">
	      		<a data-id="{{comp.id}}" ng-click="videoPopup(comp.id)"  href="#" class = "thumbnail customn-thumbs-color-{{10 | randomize}} custom-thumbnail-image-gallery">
	      			<img ng-src="{{comp.thumbnail}}" class="img-responsive custom-img-responsive">
	        		<div class="overlay "></div>
	        		<span class="arrow-triangle"></span>
	        		<span class="link-new">New</span>
	        		<div class="box-inside-content">
	          			<span class="logo-companies">
	          				<img ng-src="{{comp.company.logo}}" class="img-responsive">
	          			</span>
	                	<h6 class="h6 custom-h6">{{comp.company.name}}</h6>
	              		<h1 class="h1 custom-gallery-h1">{{comp.title}}</h1>
	        		</div>
	        	</a>
	        </div>
	    </div>
	    <div class="row custom-row-10 for_home_com_show_all"></div>
  	</div>
</section>
<!--[Dashboard company End]-->
</div>
