
	<!--[Career fair Details Slider Start]-->
<section class="page-section page-bg-gray page-section-career-details"  ng-controller="company_careerfair_detail">
<div class="container">
<div class="page-control-container">
<a href="/com/careerfair" title="Career Fairs" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span>Career Fairs</a>
</div>
<div class="row custom-row-15">

<div class="col-sm-6 col-md-5">
<h2 class="h2 custom-sub-heading-02">{{ careerfair_details.title }}</h2>
<p class="details-content">{{ careerfair_details.description }}</p>

<div class="slider-btn-group" ng-if="availability_followup"><a class="btn  custom-btn-following"><span class="glyphicon  custom-glyphicon-plus"></span>Followed</a></div>
<div class="slider-btn-group" ng-if="!availability_followup"><a ng-click="company_career_follow(careerfair_details.id)" class="btn  custom-btn-following"><span class="glyphicon  custom-glyphicon-plus"></span>Follow</a></div>
</div>
<div class="col-sm-5 col-md-5 col-lg-4 pull-right">

  <img ng-src="{{ careerfair_details.image }}" class="img-responsive">


   </div>
  </div>

  <div class="row custom-row-15">
  <div class="col-sm-12 slider-bottom-solical">
  	<div class="pull-left">
    <p class="date-location">{{ careerfair_details.start_date | date:"MMMM d, y" }}<span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.start_date | date:"h:mma"  }} </span></p>
    <p class="company-location">{{ careerfair_details.country }} <span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.where }}</span></p>
    </div>
    <div class="pull-right">
    <div class="pull-left social-total-list">
    <span class="total-followers"></span> Posts
    </div>
    <div class="pull-left social-total-list">
    <span class="total-followers"></span> Companies
    </div>
    <div class="pull-left social-total-list">
    <span class="total-followers"></span> Followers
    </div>
    </div>
    </div>
  </div>
  </div>
</section>
<!--[Career fair Details Slider End]-->
