
<section class="page-section page-section-career-fair-near"  ng-controller="company_near_by_career_fair">
	<div class="container" ng-show="near_by_career.length > 0">
		<div class="page-header custom-page-header">
			<div class="pull-left">
				<h3 class="h3 custom-h3">Fairs Near You</h3>
			</div>
			<div class="pull-right"> <a href="#" ng-show="near_by_career.length > 3" class="link-all cfd_nc_all_link" title="Show All" ng-click="showall_near_by_career()">Show All</a> </div>
		</div>
		<div class="row custom-row-15 for_cfd_nc_less_all" >
			<div class="col-sm-4"  data-ng-repeat="near_career in near_by_career | limitTo:3" >
				<a href="/com/careerfair/{{near_career.slug}}" style="color:#fff;">
					<div class="thumbnail customn-thumbs-color-{{10 | randomize}} custom-thumbnail-image-gallery"> <img ng-src="{{near_career.image}}">
						<div class="overlay"></div>
						<div class="box-inside-content">
							<p class="date-location">{{near_career.start_time | date:"MMM d, y"}}<span> •</span> {{near_career.city}}, {{near_career.country}}</p>
							<h1 class="custom-gallery-h1">{{near_career.title}}</h1>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row custom-row-15 for_cfd_nc_show_all" ></div>
	</div>
</section>
