
<!--[Career fair Details Slider Start]-->
<section class="page-section page-bg-gray page-section-career-details"  ng-controller="company_careerfair_detail" ng-init="initCareerFairDetails()">
  <div class="container">
    <div class="page-control-container">
      <a href="/com/careerfair" title="Career Fairs" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span>Career Fairs</a>
    </div>
    <div class="row custom-row-15">

      <div class="col-sm-6 col-md-5">
        <h3 class="h3 custom-h3">{{ careerfair_details.title }}</h3>
        <p class="details-content" style="height:160px;overflow-y:scroll;">{{ careerfair_details.description }}</p>

        <div ng-if="request_membership_closed">
          <div class="slider-btn-group" ng-if="availability_requested">
            <a class="btn custom-btn-following followed_btn activated_btn">
              <span class="glyphicon glyphicon-ok"></span>Requested
            </a>
          </div>
          <div class="slider-btn-group" ng-if="!availability_requested">
            <a ng-click="company_career_request_member(careerfair_details.id)" class="btn  custom-btn-following">
              <span class="glyphicon  custom-glyphicon-plus"></span>
              Request Member</a>
          </div>
        </div><!--check request member available for this career fair-->

        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 pull-right">
          <img ng-src="{{ careerfair_details.image }}" class="img-responsive img-380">
        </div>
      </div>


      <div class="row custom-row-15">
        <div class="col-sm-12 slider-bottom-solical">
          <div class="pull-left">
            <p class="date-location">{{ careerfair_details.start_time | date:"MMMM d, y"  }}<span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.start_time | date:"h:mma"  }} - {{ careerfair_details.stop_time | date:"h:mma"  }} </span></p>
            <p class="company-location">{{ careerfair_details.country }} <span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.where }}</span></p>
          </div>
          <div class="pull-right">
            <div class="pull-left social-total-list">
              <span class="total-followers">{{ careerfair_details.requested.length }}</span> Posts
            </div>
            <div class="pull-left social-total-list">
              <span class="total-followers">{{ careerfair_details.request_member.length }}</span> Companies
            </div>
            <div class="pull-left social-total-list">
              <span class="total-followers">{{ careerfair_details.followed.length }}</span> Followers
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<!--[Career fair Details Slider End]-->
