<!--[All Comapnies Participated in Career Fair]-->
<section class="page-section  page-section-All-companies all_studeent_act page-section-top-companies" ng-controller="cfairparicipation" ng-show="participatingcompanies.length > 0">
    <div class="container">
        <div class="row custom-row-10">
            <div class="col-sm-12">
                <div class="page-header custom-page-header">
                    <div class="pull-left">
                        <h3 class="h3 custom-h3">Participating Companies</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" ng-repeat="pc in participatingcompanies">
                <a href="#" data-id="{{pc.id}}" ng-click="fairCompanyPopup(pc.id)" class="custom-company-list-140">
                  <div class="thumbnail custom-thumbnail-company-logo">
                    <img ng-src="{{pc.logo}}" class="logo-companies-box">
                  </div>
                </a>
            </div>

        </div>
    </div>

    <!--company detail popup-->
    <div class="modal fade custom-model careerfair_participating_company_popup" id="fairparticipatedcompanypopup" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content custom-modal-video-content">
          <div class="video_loader_bk">
            <div class="video_loader">
              <div class="sk-spinner sk-spinner-fading-circle">
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
              </div>
            </div>
          </div>

          <div class="modal-header cusom-model-dashboard-header">
            <div class="media cusom-model-media">
              <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
              <div class="media-left cusom-model-media-left">
                <a href="#">
                  <img ng-src="{{faircompanydetails.logo}}" class="media-object-user img-circle">
                </a>
              </div>
              <div class="media-body cusom-media-model-body">
                <div class="col-mob-75 pull-left">
                  <h3 class="custom-h3">{{faircompanydetails.company_name}}</h3>
                  <h6 ng-if="faircompanydetails.video" class="custom-h6-label-model">about {{ today | amDifference:  faircompanydetails.video.created_at : 'days'}} days ago</h6>
                </div>
                <div class="col-mob-25 pull-right">
                </div>
              </div>
            </div>

            </div>
            <div class="modal-body custom-video-modal-body">
              <section class="video-model-container">
                <div class="row">
                  <div class="col-sm-3">
                    <ul class="nav nav-tabs custom-tabs-model" role="tablist">
                      <li role="presentation"  ng-repeat="chapter in faircompanydetails.video.videochapter | orderBy: 'start_time'">
                        <a style="cursor: pointer;" href="javascript:void(0)" data-id="{{chapter.cue_points}}" onclick='jwplayer().seek(this.getAttribute("data-id"));'>{{chapter.title}}</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-9">
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="tellAboutYourself">
                        <div id='careerfairjwplayer'>Loading the player...</div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="row custom-row-10">
              <div class="col-sm-12">
                <div class="form-group custom-addvideo-form-group">
                  <label class="text-uppercase">Industry</label>
                  <p class="description-content">{{faircompanydetails.employeement_type}}</p>
                </div>

                <div class="form-group custom-addvideo-form-group">
                  <label class="text-uppercase">Description</label>
                  <p class="description-content">{{faircompanydetails.description}}</p>
                </div>

                <div class="form-group custom-addvideo-form-group">
                  <label class="text-uppercase">Internal Student Hiring</label>
                  <p class="description-content">{{faircompanydetails.international_student_hiring}}</p>
                </div>
              </div>
              </div>
              <!--col-sm-12-->

              </div>
          </div>
        </div>
      <!-- company details popup end-->
</section>
<!--[All Comapnies Participated in Career Fair End]-->
