<div id="company_gallery" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="gallerymessage">{{gallerymessage}}</div>
       <h1 class="custom-h1-01 custom-h1-btm-space-55">Office</h1>
        <form ng-submit="gallerysubmit(galleryform.photos)" name="cofficeimageform">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                 <div class="form-group custom-lider-form-group">
        </div>

                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Office Images</label>
                        <span ng-if="cofficeimageform.file.$invalid" class="validation_msg">Upload only Images with file type .jpeg,.png etc</span>
                        <input type="file" ngf-multiple="true" ngf-select ngf-pattern="image/*" ng-model="galleryform.photos" name="file" accept="image/*" required>
                        <img ngf-thumbnail="galleryform.photos" height="100" width="100">
                    </div>
                <p class="edt-pro-btn-group">
                        <input type="submit" class="btn btn-default custom-btn btn-lg btn-submit" value="Save"/>
                    </p>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="off_img in office_image">
        <div class="thumbnail thumbnail-templates">
          <img ng-src="{{off_img.photo}}" class="img-responsive custom-img-responsive">
        </div>
      </div>
    </div><!--row-->
</div>
