<div id="company_growth_rate" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="growthratemessage">{{growthratemessage}}</div>
       <h1 class="custom-h1-01 custom-h1-btm-space-55">Company Growth Rate</h1>
        <form ng-submit="growthratesubmit()">
            <div class="row">
                <div class="col-sm-11 col-md-11">
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase">Growth Rate</label>
                        <input type="hidden" name="id" ng-model="growthrateform.id">
                        <input type="text"  name="growth_rate" ng-model="growthrateform.growth_rate" class="form-control custom-form-control-br-bottom" placeholder="Give it a growth rate">
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase">Description</label>
                        <input type="text" name="growth_rate_description" ng-model="growthrateform.growth_rate_description" class="form-control custom-form-control-br-bottom" placeholder="Give it a growth rate description">
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <input type="submit" class="btn btn-default custom-btn btn-lg" value="Save"/>
                    </div>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--company_growth_rate-->
