<div id="averageentrylevelsalary" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="salarymessage">{{salarymessage}}</div>
       <h1 class="custom-h1-01 custom-h1-btm-space-55">Average Entry Level Salary</h1>
        <form ng-submit="salarysubmit()">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                 <div class="form-group custom-lider-form-group"></div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Salary Range</label>{{salaryform.average_entry_level_sal}}
                        <input type="range" ng-model="salaryform.average_entry_level_sal" min="0" max="100" class="form-control" placeholder="Starting Salary Range">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Description</label>
                        <textarea maxlength="500" ng-model="salaryform.average_entry_level_sal_description" class="form-control custom-form-control-br-bottom" placeholder="Share some information about the salaries and other benefits you offer."></textarea>
                        <p>{{500 - salaryform.average_entry_level_sal_description.length}} left</p>
                    </div>
                    <p class="edt-pro-btn-group">
                        <input type="submit" class="btn btn-default custom-btn btn-lg btn-submit" value="Save"/>
                        <button type="button" ng-click="company_edit_salary_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--averageentrylevelsalary-->
