<div id="company_size" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="companysizemessage">{{companysizemessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">COMPANY SIZE</h1>
        <form name="cpcompanysizeform" ng-submit="companysizesubmit()">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cpcompanysizeform.company_size.$valid}">SIZE </label>
                        <span ng-if="cpcompanysizeform.company_size.$error.pattern" class="validation_msg">Enter only numerals between 0 to 9</span>
                        <input type="hidden" name="id"  ng-model="companysizeform.id">
                        <input maxlength="200" type="text" name="company_size" ng-model="companysizeform.company_size" ng-pattern="/^[0-9]{1,10}$/" class="form-control custom-form-control-br-bottom" placeholder="How big is your company?" ng-class="{'has-error': cpcompanysizeform.company_size.$touched, 'has-success': cpcompanysizeform.company_size.$valid}" required >
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': companysizeform.company_size_description}">Description</label>
                        <textarea ng-class="{'has-success': companysizeform.company_size_description}" name="company_size_description" ng-model="companysizeform.company_size_description" class="form-control custom-form-control-br-bottom" placeholder="Share some stories about the companies size."></textarea>
                        <p>{{500 - companysizeform.company_size_description.length}} left</p>
                    </div>
                   <p class="edt-pro-btn-group">
                        <input type="submit" ng-disabled="cpcompanysizeform.company_size.$invalid||cpcompanysizeform.company_size.$error.pattern" class="btn btn-default custom-btn btn-lg btn-submit" value="Save"/>
                        <button type="button" ng-click="company_edit_size_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--company_size-->
