<div id="maininfo" class="tab-pane tabe-pane-lidarship company_edit_profile_main_content_child" ng-controller="companybasicprofileupload" ng-init="company_edit_profile_basic_data()">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" id="edit_succ_msg" ng-if="basicinfomessage">{{basicinfomessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Company Information</h1>
        <form name="cpbasicinfoform" ng-submit="basicinfosubmit(basicinfoform.logo)" id="company_reset_forms">
            <div class="row">
                <div class="form-group custom-lider-form-group">
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cpbasicinfoform.name.$valid, 'error_lab_msg':cpbasicinfoform.name.$invalid}">Company Name </label> <sup class="asterisk">*</sup>
                        <span ng-show="cpbasicinfoform.name.$error.pattern" class="validation_msg">Enter only alphabets,numerals and spaces</span>
                        <input type="hidden" name="id" ng-model="basicinfoform.id">
                        <input type="hidden" name="user" ng-model="basicinfoform.user">
                        <input maxlength="200" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" class="form-control custom-form-control-br-bottom" placeholder="Give it a company name" name="name" ng-model="basicinfoform.name" ng-class="{'has-error': cpbasicinfoform.name.$invalid, 'has-success': cpbasicinfoform.name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cpbasicinfoform.category.$valid}">Industry</label> <sup class="asterisk">*</sup>
                        <!-- <input type="text" class="form-control custom-form-control-br-bottom" placeholder="Give it a Industry name"  name="category"  ng-model="basicinfoform.category" > -->
                        <select class="form-control custom-form-control-br-bottom" ng-model="basicinfoform.category"  name="category"  ng-class="{'has-error': cpbasicinfoform.category.$touched, 'has-success': cpbasicinfoform.category.$valid}" required>
                            <option value="Tech">Tech</option>
                            <option value="Trades">Trades</option>
                            <option value="Health">Health</option>
                            <option value="Money">Money</option>
                            <option value="Outdoor / Travel">Outdoor / Travel</option>
                            <option value="Creative">Creative</option>
                            <option value="Fortune 500">Fortune 500</option>
                            <option value="Environmental">Environmental</option>
                            <option value="Social Good">Social Good</option>
                            <option value="Goods">Goods</option>
                            <option value="Services">Services</option>
                            <option value="Food and Beverage">Food and Beverage</option>
                            <option value="Education">Education</option>
                            <option value="Customer Service">Customer Service</option>
                        </select>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cpbasicinfoform.product_category.$valid}">Product Category</label> <sup class="asterisk">*</sup>
                        <span ng-show="cpbasicinfoform.product_category.$error.pattern" class="validation_msg">Enter only alphabets and spaces</span>
                        <input maxlength="200" type="text" ng-pattern="/^[a-zA-Z\s]*$/" class="form-control custom-form-control-br-bottom" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Give it a product category name" name="product_category"  ng-model="basicinfoform.product_category" ng-class="{'has-error': cpbasicinfoform.product_category.$touched, 'has-success': cpbasicinfoform.product_category.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group custom-form-group-new">
                        <label class="text-uppercase" ng-class="{'has-success': basicinfoform.description}">About Company</label>
                        <textarea ng-class="{'has-success': basicinfoform.description}" class="form-control custom-form-control-br-bottom" placeholder="About your company" name="description"  ng-model="basicinfoform.description" maxlength="500"></textarea>
                        <p class="text-overlay-textarea">{{500 - basicinfoform.description.length}}</p>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cpbasicinfoform.website.$valid}">Website</label> <sup class="asterisk">*</sup>
                        <span ng-if="cpbasicinfoform.website.$error.pattern" class="validation_msg">The website address is not valid. Use like http://......</span>
                        <input maxlength="200" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" type="url" class="form-control custom-form-control-br-bottom" placeholder="Give it a Website URL" name="website"  ng-model="basicinfoform.website" ng-class="{'has-error': cpbasicinfoform.website.$touched, 'has-success': cpbasicinfoform.website.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': basicinfoform.linkedin_url}">Linkedin</label>
                        <span ng-if="cpbasicinfoform.linkedin_url.$invalid" class="validation_msg">The linkedin address is not valid. Use like http://......</span>
                        <input maxlength="200" type="url" ng-class="{'has-success': basicinfoform.linkedin_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" class="form-control custom-form-control-br-bottom" placeholder="Give it a Linkedin URL" name="linkedin_url"  ng-model="basicinfoform.linkedin_url">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': basicinfoform.twitter_url}">Twitter</label>
                        <span ng-if="cpbasicinfoform.twitter_url.$invalid" class="validation_msg">The twitter address is not valid. Use like http://......</span>
                        <input maxlength="200" type="url" ng-class="{'has-success': basicinfoform.twitter_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" class="form-control custom-form-control-br-bottom" placeholder="Give it a Twitter URL" name="twitter_url"  ng-model="basicinfoform.twitter_url">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': basicinfoform.facebook_url}">Facebook</label>
                        <span ng-if="cpbasicinfoform.facebook_url.$invalid" class="validation_msg">The facebook address is not valid. Use like http://......</span>
                        <input maxlength="200" type="url" ng-class="{'has-success': basicinfoform.facebook_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" class="form-control custom-form-control-br-bottom" placeholder="Give it a Facebook URL" name="facebook_url"  ng-model="basicinfoform.facebook_url">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': basicinfoform.logo || basicinfoform.logos }">Company Logo</label>
                        <span ng-if="cpbasicinfoform.file.$invalid" class="validation_msg">Upload only Images with file type .jpeg,.png etc(Max 2 MB)</span>
                        <img ng-if="basicinfoform.logos && !basicinfoform.logo" height="100" width="100" src="{{basicinfoform.logos}}"/>
                        <img ngf-thumbnail="basicinfoform.logo"  height="100" width="100">
                        <input ngf-max-size="2MB" type="file" ngf-select ngf-pattern="image/*" ng-model="basicinfoform.logo" name="file" accept="image/*" >
                    </div>
                    <p class="edt-pro-btn-group">
                        <input type="submit" ng-disabled="cpbasicinfoform.file.$invalid||cpbasicinfoform.facebook_url.$invalid||cpbasicinfoform.twitter_url.$invalid||cpbasicinfoform.linkedin_url.$invalid||cpbasicinfoform.product_category.$invalid||cpbasicinfoform.category.$invalid||cpbasicinfoform.name.$invalid||cpbasicinfoform.website.$invalid" class="btn btn-default custom-btn btn-lg btn-submit" value="Save"/>
                        <button type="button" ng-click="company_edit_basic_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--proudest-achievement-->
