  <div id="proudest-achievementc" class="tab-pane tab-pane-yourgoals hide company_edit_profile_inner_title">
    <div class="contanier-inside">
      <!--[Career fair Details Slider Start]-->
      <section class="page-section page-section-career-details">
        <div class="row custom-row-15">
          <div class="col-sm-6 col-md-5">
            <h1 class="custom-h1-01">Making a video</h1>
            <h5 class="h5-video">About 1 minute</h5>
            <p class="details-content">Break the video into small pieces no longer
              than 10-20 seconds with a story about yourself. Idally, the video shout not last more than a minute, so try to make
              a story about yourself in one minue</p>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
              <div class="maker-video-content">
                <div id="help_video">
                   <video width="100%" height="100%" controls="" poster="https://s3-us-west-2.amazonaws.com/firstsynchvideosoutput/firstsynch_static_videos/makevideo.png">
                  <source src="https://s3-us-west-2.amazonaws.com/firstsynchvideosoutput/firstsynch_static_videos/FS_How_To_Make_a_Video.mp4" type="video/mp4">
                  </video>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--[Career fair Details Slider End]-->

          <!--[Jobs Scetion Start]-->
          <section class="page-section page-section-templates">
            <div class="page-header custom-page-header">
              <div class="pull-left">
                <h3 class="h3 custom-h3">Templates</h3>
              </div>
            </div>

            <div class="row custom-row-10">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail thumbnail-templates create-template text-center fileContainer">
                  <span class="glyphicon glyphicon-plus"></span>
                  <h5 class="h5 custom-h5-01">
                    Upload New Video
                  </h5>
                  <input type="file" class="file_multi_video fileinput" accept="video/*" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)">
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 student_uploaded_video{{$index}}" ng-repeat="vid in video_list">
                <div class="thumbnail thumbnail-templates">
                  <div class="icon-template-action" style="z-index: 9;">
                    <span class="glyphicon glyphicon-pencil circle-icon" ng-click="videoEditPopup(vid.id)"></span>
                    <button style="background:none; border:none;" type="button" ng-confirm-click="Are you sure to delete this video ?" confirmed-click="deleteVideo(vid.id,$index)">
                      <span class="glyphicon glyphicon-trash circle-icon"></span>
                    </button>
                  </div>
                  <img ng-src="{{vid.thumbnail}}" class="img-responsive custom-img-responsive">
                  <a href="#" data-id="{{vid.id}}" ng-click="videoPopup(vid.id)">
                    <div class="box-inside-content">
                      <h5 class="h5 custom-h5-01 ng-binding">{{vid.title|truncate:50}}</h5>
                    </div>
                  </a>
                </div>
              </div>

            </div>

          </section>
          <!--[Jobs Scetion End]-->
        </div>



        <div class="modal custom-model custom-addvideo-model" id="page-video-edit" role="dialog" style="overflow:auto">
          <div class="modal-dialog">
            <div class="modal-content custom-modal-video-content">
              <div class="modal-header custom-modal-header-add-video">
                <h4 class="h4 custom-addvideo-h4">Adding video</h4>
                <button type="button" class="close custom-modal-close" data-dismiss="modal">×</button>
              </div><!--header-->
              <form name="video_create_form" class="ng-pristine ng-valid">

                <div id="video_popup_loader">


                </div><!--video_popup_loader-->
                <div class="modal-body add-video-modal-body after_video_process" style="display:none;">
                  <aside></aside>
                  <div class="add-video-center-container">
                    <div class="custom-addvideo-form-group add-video-player-container">
                      <div class="form-group">
                        <input type="text" value="Your video is ready" class="form-control form-control-noborder">
                      </div>
                      <div class="add-video-player">
                        <video width="100%"  height="376px" id="ma">
                          <source src="" type="video/mp4" id="after_video">
                            Your browser does not support HTML5 video.
                          </video>
                          <div class="play-button-add-video" id="playcus" onclick="vidplay()">
                            <i class="icon-play-button"></i>
                          </div>
                        </div>
                        <div class="form-group custom-addvideo-form-group">
                          <div class="">
                            <label class="text-uppercase">privacy video</label>
                            <div class="allow-text">Allow other users to see this video?</div>

                            <div class="add-video-checkbox">
                              <div class="checkbox custom-checkbox checkbox-circle">
                                <input type="radio" name="published" ng-model="published" value="True"class="checkbox-input"  id="published-allow" checked>
                                <label for="published-allow" class="checkbox-label-01">Allow</label>
                              </div>

                              <div class="checkbox custom-checkbox checkbox-circle">
                                <input type="radio" name="published" ng-model="published" value="False"class="checkbox-input" id="published-Forbid">
                                <label for="published-Forbid" class="checkbox-label-01">Forbid</label>
                              </div>

                            </div>
                          </div>
                        </div><!--custom-addvideo-form-group-->
                      </div><!--add-video-player-container-->
                      <div class="form-group custom-addvideo-form-group custom-form-group-new">
                        <label class="text-uppercase">Title</label>
                        <textarea class="form-control custom-text-area custom-text-area-36"  rows="1" placeholder="Type your title" maxlength="30" required id="title" name="title" ng-model="title"></textarea>
                        <p class="text-overlay-textarea">{{30 - title.length}}</p>
                      </div>

                      <div class="form-group custom-addvideo-form-group custom-form-group-new">
                        <label class="text-uppercase">Description</label>
                        <textarea class="form-control custom-text-area custom-text-area-100"  rows="3" placeholder="Type your description" maxlength="250" required id="description" name="description" ng-model="description"></textarea>
                        <p class="text-overlay-textarea">{{500 - description.length}}</p>
                      </div>

                      <div class="form-group custom-addvideo-form-group">
                        <label class="text-uppercase">Skills that we are sekking (Separate with commas)</label>
                        <textarea class="form-control custom-text-area"  rows="2" placeholder="Add skills" maxlength="150" required id="skill_text" name="skill_text" ng-model="skill_text"></textarea>
                      </div>

                    </div><!--add-video-center-container-->
                  </div><!--after_video_process-->

                  <div class="add-video-btn-group after_video_process" style="display: none; padding-bottom:30px;">
                    <button type="submit" ng-disabled="video_create_form.$invalid" ng-click="uploadFile()" class="btn btn-default custom-btn btn-lg btn-submit">
                      <i class="icon-action icon-upload"></i> Upload this video
                    </button>
                    <!--<button type="button"  class="btn btn-primary custom-btn btn-lg btn-cancel"><i class="icon-action icon-edit"></i> Edit</button>-->
                  </div>
                </form>
                <div class="modal-footer modal-footer-add-video before_video_process">
                  <div class="add-video-btn-group add-video-btn-group-right">
                    <button type="button" id="add_new_question" class="btn btn-default custom-btn btn-lg btn-submit" onclick="addnewquestion()">
                      <i class="icon-action icon-question"></i> Add a new question
                    </button>
                    <button type="button" id="trim_finish" class="btn btn-primary custom-btn btn-lg btn-cancel" onclick="trimchaptermaking()">
                      <i class="icon-action icon-trim"></i> Trim &amp; finish
                    </button>

                    <textarea style="display:none;" id="result" ng-model="video_chapters" required class="form-control custom-text-area ng-pristine ng-valid ng-empty ng-touched" maxlength="150" rows="4"></textarea>
                    <input type="hidden" id="video_duration">
                  </div>
                </div><!--footer-->

              </div><!--moal-content-->
            </div><!--modal-dialog-->
          </div><!--page-edit-popup-->

          <!--[Page Seach Section Content Start]-->
          <div class="modal fade custom-model" id="error_msg_model">
            <div class="modal-dialog">
              <div class="modal-content custom-modal-video-content">
                <div class="modal-header cusom-model-onboard-header">
                  <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
                  <div class="page-header custom-page-header">
                    <div class="pull-left">
                    </div>
                  </div>
                </div>
                <div class="modal-body custom-video-modal-body">
                  <h1 class="h3 custom-h3">
                    Please upload 1 minute video.
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <!--[Page Seach Section Content End]-->

          <!--Video End Popup-->
          <div class="company-verify" id="video_end">
            <div class="loader">
            </div>
            <div class="cont-verify-profile">Your Video is currently being processed.</div>
            <div class="cont-verify-profile">
              <div ng-show="progressVisible">
                <div class="percent">{{progress}}%</div>
                <div class="progress1-bar">
                  <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
              </div>
            </div>
          </div>



      </div><!--proudest-achievement-->
