<div id="total_funding_size" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="fundingmessage">{{fundingmessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Total Funding Size</h1>
        <form name="cpfundingform" ng-submit="fundingsubmit()">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                 <div class="form-group custom-lider-form-group">
                 </div>

                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cpfundingform.funding_size.$valid}">Funding Size</label>
                        <span ng-if="cpfundingform.funding_size.$error.pattern" class="validation_msg">Enter only numerals between 0 to 9</span>
                        <input type="hidden" name="id" ng-model="fundingform.id">
                        <input maxlength="20" type="text" name="funding_size" ng-model="fundingform.funding_size" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" class="form-control custom-form-control-br-bottom" placeholder="Funding size" ng-class="{'has-error': cpfundingform.funding_size.$touched, 'has-success': cpfundingform.funding_size.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group custom-form-group-new">
                        <label class="text-uppercase" ng-class="{'has-success': fundingform.funding_size_description}">Description</label>
                        <textarea name="funding_size_description" ng-class="{'has-success': fundingform.funding_size_description}" maxlength="500" ng-model="fundingform.funding_size_description" class="form-control custom-form-control-br-bottom" placeholder="Share some information about your previous funding rounds and investors."></textarea>
                        <p class="text-overlay-textarea">{{500 - fundingform.funding_size_description.length}}</p>
                    </div>
                     <p class="edt-pro-btn-group">
                        <input type="submit" ng-disabled="cpfundingform.funding_size.$invalid||cpfundingform.funding_size.$error.pattern" class="btn btn-default custom-btn btn-lg btn-submit" value="Save"/>
                        <button type="button" ng-click="company_edit_funding_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--total_funding_size-->
