<div id="hire_departure_rates" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="hireratemessage">{{hireratemessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">HIRE & DEPARTURE RATES</h1>
        <form name="cphirerateform" ng-submit="hireratesubmit()">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group"></div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cphirerateform.hire_rates.$valid}">HIRE RATE</label>
                        <span ng-if="cphirerateform.hire_rates.$error.pattern" class="validation_msg">Enter only numerals between 0 to 9</span>
                        <input type="hidden" name="id" ng-model="hirerateform.id">
                        <input maxlength="20" type="text"  name="hire_rates" ng-model="hirerateform.hire_rates" ng-pattern="/^[0-9]{1,10}$/" class="form-control custom-form-control-br-bottom" placeholder="On average, how many new employees do you hire per year?" ng-class="{'has-error': cphirerateform.hire_rates.$touched, 'has-success': cphirerateform.hire_rates.$valid}" required >
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': hirerateform.hire_rates_description}">Description</label>
                        <textarea ng-class="{'has-success': hirerateform.hire_rates_description}" name="hire_rates_description" maxlength="500" ng-model="hirerateform.hire_rates_description" class="form-control custom-form-control-br-bottom" placeholder="Share some information about your hiring rates and growth."></textarea>
                        <p>{{500 - hirerateform.hire_rates_description.length}} left</p>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cphirerateform.departure_rate.$valid}">Departure Rate</label>
                        <span ng-if="cphirerateform.departure_rate.$error.pattern" class="validation_msg">Enter only numerals between 0 to 9</span>
                        <input maxlength="20" type="text" name="departure_rate" ng-model="hirerateform.departure_rate" ng-pattern="/^[0-9]{1,10}$/" class="form-control custom-form-control-br-bottom" placeholder="On average, how many employees leave your business each year?" ng-class="{'has-error': cphirerateform.departure_rate.$touched, 'has-success': cphirerateform.departure_rate.$valid}" required >
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': hirerateform.departure_rate_description}">Description</label>
                        <textarea ng-class="{'has-success': hirerateform.departure_rate_description}" name="departure_rate_description" maxlength="500" ng-model="hirerateform.departure_rate_description" class="form-control custom-form-control-br-bottom" placeholder="Share some information about why these people leave."></textarea>
                        <p>{{500 - hirerateform.departure_rate_description.length}} left</p>
                    </div>
                     <p class="edt-pro-btn-group">
                        <input type="submit" ng-disabled="cphirerateform.departure_rate.$invalid || cphirerateform.hire_rates.$invalid" class="btn btn-default custom-btn btn-lg btn-submit" value="Save"/>
                        <button type="button" ng-click="company_edit_hire_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--company_size-->
