<aside class="col-sm-3 col-md-2 custom-sidebar" id="#accordion">
    <h6 class="sidebar-h6" style="font-weight: bold;">Drag <span class="glyphicon glyphicon-th custom-heaing-glyphicon"></span> to rearrange</h6>
    <div class="panel-group sidebar-pabel-group" id="accordion">
        <div class="panel panel-default custom-panel-default company_edit_profile_side_parent">
            <div class="panel-heading custom-panel-heading">
                <h4 class="panel-title custom-panel-title">
                    <a class="accordion-toggle collapsed custom-accordion-toggle company_edit_profile_side_child_title active" data-toggle="collapse" data-parent="#accordion" href="">
                    Main <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <span class="custom-accordion-drag"></span>
                </h4>
            </div>
            <div id="cmpy_profile_main" class="panel-collapse collapse in company_edit_profile_side_child_collapsable">
                <div class="panel-body custom-panel-body">
                    <ul class="nav nav-tabs custom-nav-tabs">
                        <li class="custom-list-group-item active">
                            <a data-id="maininfo" class="company_edit_profile_inner_title" data-toggle="tab" title="My schools" href="">
                                <div class="custom-list-group-item-title"> Main info </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge inactive">01</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default custom-panel-default company_edit_profile_side_parent">
            <div class="panel-heading custom-panel-heading">
                <h4 class="panel-title custom-panel-title">
                    <a  class="accordion-toggle collapsed custom-accordion-toggle company_edit_profile_side_child_title" data-toggle="collapse" data-parent="#accordion"  href=""> Company
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <span class="custom-accordion-drag"></span>
                </h4>
            </div>
            <div id="cmpy_profile_company" class="panel-collapse collapse company_edit_profile_side_child_collapsable" >
                <div id="video-scroll-navi" class="sideba-navi-scroll">
                    <div class="panel-body custom-panel-body">
                        <ul class="nav nav-tabs custom-nav-tabs">
                            <li class="custom-list-group-item">
                                <a data-id="company_doe" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="establishment_edit()">
                                    <div class="custom-list-group-item-title"> Date of establishment </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">01</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="company_internships" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="internship_edit()">
                                    <div class="custom-list-group-item-title"> Internships </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">02</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="company_size" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="companysize_edit()">
                                    <div class="custom-list-group-item-title"> Company size </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">03</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="hire_departure_rates" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="hirerate_edit()">
                                    <div class="custom-list-group-item-title"> Hire & Departure Rates </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">04</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="averageentrylevelsalary" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="salary_edit()">
                                    <div class="custom-list-group-item-title"> Average entry level salary </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">05</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="total_funding_size" data-toggle="tab" class="company_edit_profile_inner_title" href="" title=""  ng-click="funding_edit()">
                                    <div class="custom-list-group-item-title"> Total funding size </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">06</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="company_growth_rate" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="growthrate_edit()">
                                    <div class="custom-list-group-item-title"> Company growth rate </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">07</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="invester_confidence" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="investor_edit()">
                                    <div class="custom-list-group-item-title"> Investor Confidence </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">08</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <!-- <li class="custom-list-group-item">
                                <a data-id="company_characteristics" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="">
                                    <div class="custom-list-group-item-title"> Characteristics </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">09</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li> -->
                            <li class="custom-list-group-item">
                                <a data-id="company_gallery" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="office_gallery_edit()">
                                    <div class="custom-list-group-item-title"> Office </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">10</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-id="company_location" data-toggle="tab" class="company_edit_profile_inner_title" href="" title="" ng-click="location_edit()">
                                    <div class="custom-list-group-item-title"> Location </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">11</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="custom-list-group-item">
                                <a data-toggle="tab" class="company_edit_profile_inner_title" href="" title="">
                                    <div class="custom-list-group-item-title"> Founders </div>
                                    <div class="custom-list-group-right">
                                        <span class="badge custom-badge active">12</span>
                                        <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default custom-panel-default company_edit_profile_side_parent">
            <div class="panel-heading custom-panel-heading">
                <h4 class="panel-title custom-panel-title">
                    <a class="accordion-toggle collapsed company_edit_profile_side_child_title  custom-accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=""> We are hiring
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <span class="custom-accordion-drag"></span>
                </h4>
            </div>
            <div id="cmpy_profile_wearehire" class="panel-collapse collapse company_edit_profile_side_child_collapsable">
                <div class="panel-body custom-panel-body">
                    <ul class="nav nav-tabs custom-nav-tabs">
                        <li class="custom-list-group-item">
                            <a data-id="company_workforus" class="company_edit_profile_inner_title" data-toggle="tab" title="Hobbies" href="" ng-click="workforus_edit()">
                                <div class="custom-list-group-item-title"> Why you should work for US </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">01</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                        <li class="custom-list-group-item">
                            <a data-id="company_add_video" class="company_edit_profile_inner_title"  data-toggle="tab" title="Hobbies" href="" ng-click="hobbies_edit()">
                                <div class="custom-list-group-item-title"> Positions hiring for  </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">02</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                        <li class="custom-list-group-item">
                            <a data-id="aboutme-hobbies" class="company_edit_profile_inner_title" data-toggle="tab" title="Hobbies" href="" ng-click="hobbies_edit()">
                                <div class="custom-list-group-item-title"> Skills that we are seeking </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">03</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                        <li class="custom-list-group-item">
                            <a data-id="aboutme-hobbies" class="company_edit_profile_inner_title" data-toggle="tab" title="Hobbies" href="" ng-click="hobbies_edit()">
                                <div class="custom-list-group-item-title"> Interview questons </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">04</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default custom-panel-default company_edit_profile_side_parent">
            <div class="panel-heading custom-panel-heading">
                <h4 class="panel-title custom-panel-title">
                    <a class="accordion-toggle collapsed company_edit_profile_side_child_title  custom-accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=""> Employees
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <span class="custom-accordion-drag"></span>
                </h4>
            </div>
            <div id="cmpy_profile_wearehire" class="panel-collapse collapse company_edit_profile_side_child_collapsable">
                <div class="panel-body custom-panel-body">
                    <ul class="nav nav-tabs custom-nav-tabs">
                        <li class="custom-list-group-item">
                            <a data-id="aboutme-hobbies" class="company_edit_profile_inner_title" data-toggle="tab" title="Hobbies" href="">
                                <div class="custom-list-group-item-title"> Top 3 schools our employees graduated from </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">01</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                        <li class="custom-list-group-item">
                            <a data-id="aboutme-hobbies" class="company_edit_profile_inner_title" data-toggle="tab" title="Hobbies" href="" ng-click="hobbies_edit()">
                                <div class="custom-list-group-item-title"> Employee reviews </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">02</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                        <li class="custom-list-group-item">
                            <a data-id="aboutme-hobbies" class="company_edit_profile_inner_title" data-toggle="tab" title="Hobbies" href="" ng-click="hobbies_edit()">
                                <div class="custom-list-group-item-title"> Past employees </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">03</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default custom-panel-default company_edit_profile_side_parent">
            <div class="panel-heading custom-panel-heading">
                <h4 class="panel-title custom-panel-title">
                    <a class="accordion-toggle collapsed company_edit_profile_side_child_title  custom-accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=""> Videos
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <span class="custom-accordion-drag"></span>
                </h4>
            </div>
            <div id="cmpy_profile_wearehire" class="panel-collapse collapse company_edit_profile_side_child_collapsable">
                <div class="panel-body custom-panel-body">
                    <ul class="nav nav-tabs custom-nav-tabs">
                        <li class="custom-list-group-item">
                            <a data-id="proudest-achievementc" class="company_edit_profile_inner_title" data-toggle="tab" title="Hobbies" href="" ng-click="workforus_edit()">
                                <div class="custom-list-group-item-title"> Express Yourself </div>
                                <div class="custom-list-group-right">
                                    <span class="badge custom-badge active">01</span>
                                    <span class="glyphicon glyphicon-th custom-list-group-glyphicon"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>
