<div id="company_doe" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="establishmentmessage">{{establishmentmessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">DATE OF ESTABLISHMENT</h1>
        <form name="cpestablishmentform" ng-submit="establishmentsubmit()">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group"> </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cpestablishmentform.establishment_date.$valid}" >ESTABLISHMENT DATE</label> <sup class="asterisk">*</sup>
                        <span ng-show="cpestablishmentform.establishment_date.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                        <input type="hidden" name="id" ng-model="establishmentform.id">
                        <input maxlength="12" type="text" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/"  class="form-control custom-form-control-br-bottom" datepicker placeholder="When was the company established?" name="establishment_date" ng-model="establishmentform.establishment_date" ng-class="{'has-error': cpestablishmentform.establishment_date.$touched, 'has-success': cpestablishmentform.establishment_date.$valid}" required >
                    </div>
                    <div class="form-group custom-lider-form-group custom-form-group-new">
                        <label class="text-uppercase" ng-class="{'has-success': establishmentform.est_date_description}">Description</label>
                        <textarea class="form-control custom-form-control-br-bottom" ng-class="{'has-success': establishmentform.est_date_description}" maxlength="500" placeholder="Share some stories about the founding of the company." name="est_date_description" ng-model="establishmentform.est_date_description"></textarea>
                        <p class="text-overlay-textarea">{{500 - establishmentform.est_date_description.length}}</p>
                    </div>
                    <p class="edt-pro-btn-group">
                        <input type="submit" ng-disabled="cpestablishmentform.establishment_date.$invalid" class="btn btn-default custom-btn btn-lg btn-submit" value="Save"/>
                        <button type="button" ng-click="company_edit_doe_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--company_doe-->
