<div id="company_internships" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="internshipmessage">{{internshipmessage}}</div>

<h1 class="custom-h1-01 custom-h1-btm-space-55">INTERNSHIPS</h1>
        <form name="cpinternshipform" ng-submit="internshipsubmit()">
            <div class="row">
                <div class="col-sm-11 col-md-11">
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase" ng-class="{'has-success': cpinternshipform.internships_to_jobs.$valid}">MIGRATION LABEL</label>
                        <input type="hidden" name="id" ng-model="internshipform.id">
                        <input type="range" name="internships_to_jobs" ng-model="internshipform.internships_to_jobs" min="0" max="100" class="form-control custom-form-control-br-bottom" placeholder="Give it a empoyee migration percentage" ng-class="{'has-error': cpinternshipform.internships_to_jobs.$touched, 'has-success': cpinternshipform.internships_to_jobs.$valid}" required >
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase">Description</label>
                        <input type="text" name="internships_job_description" ng-model="internshipform.internships_job_description" class="form-control custom-form-control-br-bottom" placeholder="Give it a employee migration description">
                    </div>
                    <div class="form-group custom-lider-form-grou">
                        <input type="submit" ng-disabled="cpinternshipform.internships_to_jobs.$invalid" class="btn btn-default custom-btn btn-lg" value="Save"/>
                    </div>
                </div>
                <hr class="hr-line-lidership">
            </div>
        </form>
    </div>
</div><!--company_internships-->
