<div id="company_edit_interview" class="tab-pane tabe-pane-lidarship hide company_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="interviewmessage">{{interviewmessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Interview Questions</h1>
        <table class="table table-striped" ng-if="c_edit_interview.length > 0">
           <tr>
               <th>Order.no</th>
               <th>Question</th>
               <th>Action</th>
           </tr>

           <tr ng-repeat="interview in c_edit_interview">
               <td>{{ $index+1 }}</td>
               <td>{{ interview.question }}</td>
               <td>
                 <a ng-click="editinterview( interview )" class="button  btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
                 <a href="#" ng-confirm-click="Are you sure to delete your interview question details?" confirmed-click="removeinterview(interview.id)" class="button  btn-link"><span class="glyphicon glyphicon-trash"></span></a>
               </td>
           </tr>

       </table>
        <!-- <hr class="hr-line-lidership"> -->
        <form name="cepinterviewform" ng-submit="interviewsubmit()">
            <input type="hidden" ng-model="interviewform.existing_id" name="existing_id">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': cepinterviewform.interview_question.$valid}">Question</label> <sup class="asterisk">*</sup>
                        <span ng-show="cepinterviewform.interview_question.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                        <input maxlength=200 type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/"  class="form-control custom-form-control-br-bottom" ng-model="interviewform.interview_question" placeholder="Interview question" name="interview_question" ng-class="{'has-error': cepinterviewform.interview_question.$touched, 'has-success': cepinterviewform.interview_question.$valid}" required>
                    </div>
                    <p class="edt-pro-btn-group">
                        <input type="submit" value="Save" ng-disabled="cepinterviewform.school_name.$invalid" class="btn btn-default custom-btn btn-lg btn-submit">
                        <button type="button" ng-click="company_edit_interview_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
