<section id="company_edit_employees" class="page-section  page-section-All-companies all_studeent_act page-section-top-companies hide company_edit_profile_main_content_child">
    <div class="container">
        <div class="row custom-row-10">
            <div class="col-sm-12">
                <div class="page-header custom-page-header">
                    <div class="pull-left">
                        <h3 class="h3 custom-h3">Employees</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" ng-repeat="all_stu in c_edit_employees">
                <a href="/student/{{all_stu.slug}}"  class="custom-company-list">
                    <div class="thumbnail custom-thumbnail-company-logo">
                      <div ng-if="!all_stu.profile_picture" class="grey_logo_icon logo-companies-box">
                        <ng-letter-avatar ng-if="!all_stu.profile_picture" alphabetcolors="grey" charCount="2" data="{{all_stu.first_name}}"></ng-letter-avatar>
                      </div>
                      <img ng-if="all_stu.profile_picture" ng-src="{{all_stu.profile_picture}}" class="logo-companies-box">
                    </div>
                    <div class="company-heading-group">
                        <h4 class="h4 custom-h4">{{all_stu.first_name}} </h4>
                        <h5 class="h5 custom-h5" ng-if="all_stu.city && all_stu.state">{{all_stu.city}}, {{all_stu.state}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
