<div class="container-775 pull-left">
<section class="slider-profile-container">
          <div class="profile-bg-02 slider-profile">
            <div class="row">
              <div class="col-sm-7 text-center">
                <div class="slider-content-container"> <img ng-src="{{student_profile_details.profile_picture}}" class="img-user-profile">
                  <div class="slider-content-group">
                    <h1 class="h1 custom-h1-01">{{student_profile_details.first_name}} {{student_profile_details.last_name}}</h1>
                    <p class="para-slider">{{student_profile_details.about_me}}</p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-4 pull-right"> <a href="#" title="Edit profile" class="btn btn-default pull-right custom-btn-edit-profile"><span class="icon-img icon-edit-img"></span>Edit Profile</a> </div> -->
            </div>
          </div>
          <div class="social-network-container">
            <div class="pull-left">
              <ul class="social-network">
                <li><a ng-if="student_profile_details.facebook_url" href="{{student_profile_details.facebook_url}}" target="_blank" class="fa fa-facebook"></a></li>
                <li><a ng-if="student_profile_details.linkedin_url" href="{{student_profile_details.linkedin_url}}" target="_blank" class="fa fa-linkedin"></a></li>
                <li><a ng-if="student_profile_details.twitter_url" href="{{student_profile_details.twitter_url}}" target="_blank" class="fa fa-twitter"></a></li>
                <li><a ng-if="student_profile_details.stackoverflow_url" href="{{student_profile_details.stackoverflow_url}}" target="_blank" class="fa fa-stack-overflow"></a></li>
                <li><a ng-if="student_profile_details.github_url" href="{{student_profile_details.github_url}}" target="_blank" class="fa fa-github"></a></li>
                <li><a ng-if="student_profile_details.website" href="{{student_profile_details.website}}" target="_blank" class="fa fa-globe"></a></li>
              </ul>
            </div>
            <div class="pull-right"><span class="total-followers">{{student_profile_details.followers.length}}</span> followers</div>
          </div>
        </section>
        </div>
