<section class="page-section page-section-education page-inner-education" id="guest_student_profile_education" ng-if="student_profile_details.education.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2">
        <div class="container-775 pull-left">
        <h1 class="h1 custom-page-h1">Education</h1>
        <div class="thumbnail custom-thumbnail-education" ng-repeat="educations in student_profile_details.education">
          <div class="row">
            <div class="col-sm-4"><img src="assets/images/img-education.jpg" class="img-responsive custom-img-responsive"></div>
            <div class="col-sm-8">
              <div class="edu-details">
                <div class="pass-year">{{educations.year_started | date:"y"}}-{{educations.year_graduated | date:"y"}}</div>
                <h3 class="school-name">{{educations.school_name}}</h3>
                <h5 class="department">{{educations.major}}</h5>
              </div>
              <div class="rating-container" ng-if="educations.gpa > 0">
                <div class="pull-left">GPA : {{educations.gpa|number}}</div>
                <div class="pull-right">
                  <div class="rating-container">
                    <ng-rate-it ng-model="educations.gpa" read-only="1" resetable="false" max="4" star-width="20" star-height="20"></ng-rate-it>
                    <span class="total-star">{{educations.gpa|number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
