<!-- <section class="page-section page-section-experience">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2">
                <h1 class="h1 custom-heading-01">Experience</h1>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="group-experience" ng-repeat="experiences in student_profile_details.experience">
                            <h5>{{experiences.start_date | date:"MMMM d, y"}} - {{experiences.leave_date | date:"MMMM d, y"}}</h5>
                            <h2 class="h2 custom-sub-h2">{{experiences.job_title|truncate:50}} - {{experiences.company}}</h2>
                            <p class="cont-experience">{{experiences.job_description}}</p>
                            <div class="row custom-row-15">
                                <div class="col-sm-4">
                                    <div class="thumbnail custom-thumbnail-profile-views"> <img src="assets/images/instagram-01.jpg" class="img-responsive custom-img-responsive"> </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail custom-thumbnail-profile-views"> <img src="assets/images/instagram-02.jpg" class="img-responsive custom-img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="page-section page-inner-experience" id="guest_student_profile_experience" ng-if="(student_profile_details.experience.length > 0 && student_profile_details.experience[0].job_title) || student_profile_details.project.length > 0">
    <div class="container">

  <div class="row">
            <div class="col-sm-offset-2">
<h1 class="h1 custom-page-h1">Experience</h1>
               <section class="page-section page-work-history" ng-if="student_profile_details.experience.length > 0 && student_profile_details.experience[0].job_title">
                   <h2 class="h2 custom-page-h2">Work history
                   </h2>
                   <div class="row row-experience"  ng-repeat="experiences in student_profile_details.experience">
                       <div class="col-sm-4">
                           <h2 class="h2-insde-head">{{experiences.company}}</h2>
                           <p class="medium-text grey-text text-uppercase">{{experiences.start_date | date:"MMM, y"}} - {{experiences.leave_date | date:"MMM, y"}}</p>
                       </div>
                       <div class="col-sm-5">
                           <h2 class="h2-insde-head">{{experiences.job_title}}</h2>
                           <p class="cont-experience">
                               {{experiences.job_description}}
                           </p>
                       </div>
                   </div>
               </section>
               <section class="page-section page-work-history" ng-if="student_profile_details.project.length > 0">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="h2 custom-page-h2">Projects</h2>
      </div>
    <div class="col-sm-12">
      <div class="group-experience group-experience-new"  ng-repeat="studentproject in student_profile_details.project">
        <h5 class="custom-h5-date">{{studentproject.start_date | date:"MMMM y"}}</h5>
        <h3  class="h3 custom-title-h3">{{studentproject.title}}</h3>
        <div class="row custom-row-15">
          <div class="col-sm-7">
            <p class="cont-experience cont-experience-new">{{studentproject.project_description}}</p>
            </div>
          </div>

        <div class="row custom-row-10 row-experience-new" ng-if="studentproject.image">
          <div class="col-sm-3">
            <div class="thumbnail custom-thumbnail-profile-views">
              <img ng-src="{{studentproject.image}}" class="img-responsive custom-img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
                </section>
        </div>

    </div>
</section>
