<section class="page-section background-color-02 page-section-skills" id="guest_student_profile_skills" ng-if="student_profile_details.skill.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2">
        <h1 class="h1 custom-heading-01">Skills</h1>
        <div class="row" ng-init="skill_option = 'Professional'">
          <div class="col-sm-8">
            <div class="row skill_show_main_function">
              <div class="col-sm-4 skill_show_function {{skills.skill_type}}" ng-show="skill_option == skills.skill_type" ng-repeat="skills in student_profile_details.skill">
                <div class="cols-skills">
                  <!-- <div class="circle-bg">{{skills.rating}}</div> -->
                  <div class="progress-circle progress-{{skills.rating * 20}}"><span>{{skills.rating}}</span></div>
                  <h4 class="heading-skill">{{skills.name}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <ul class="navi-skills">
              <li class="active" ng-repeat-start="skills in student_profile_details.skill  | unique:'skill_type'" ng-if="$first">
                  <a href="#" class="skill_click_function" title="{{skills.skill_type}}">{{skills.skill_type}}</a>
              </li>
              <li ng-repeat-end ng-if="!$first">
                  <a href="#" class="skill_click_function" title="{{skills.skill_type}}">{{skills.skill_type}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
