
<div  ng-controller="guest_student_profile">
    <div class="container">

        <div class="row">
            <aside class="col-sm-2 sidebar-navi-default" ng-show="guest_seeker_notfound">
                <nav  class="sidebar-navigation">
                    <ul class="custom-sidebar-nav">
                        <li ng-if="student_profile_details.video.length > 0"><a scroll-to="guest_student_profile_videos" href="" title="Videos">Videos</a></li>
                        <li ng-if="student_profile_details.hobby.length > 0 || student_profile_details.student_characteristic.length > 0"><a scroll-to="guest_student_profile_aboutme" href="" title="About me">About me</a></li>
                        <li ng-if="student_profile_details.education.length > 0"><a scroll-to="guest_student_profile_education" href="" title="Education">Education</a></li>
                        <li ng-if="student_profile_details.experience.length > 0 || student_profile_details.project.length > 0"><a scroll-to="guest_student_profile_experience" href="" title="Experience">Experience</a></li>
                        <!-- <li ng-if="student_profile_details.skill.length > 0"><a scroll-to="guest_student_profile_skills" href="" title="Skills">Skills</a></li> -->
                        <!-- <li><a scroll-to="guest_student_profile_reviews" href="" title="Reviews">Reviews</a></li> -->
                    </ul>
                </nav>
            </aside>

            <div class="col-sm-offset-2" ng-show="guest_seeker_notfound">

                <section class="page-section page-section-edit-profile">

                    <div ng-include ="'GuestRole/student_profile/basic_profile.html'"></div>

                    <!-- <div ng-include ="'GuestRole/student_profile/extra.html'"></div> -->

                    <div ng-include ="'GuestRole/student_profile/video.html'"></div>

                </section>

            </div>
            <div class="text-center" ng-show="!guest_seeker_notfound"><h1>Invalid URL!</h1></div>
        </div>
    </div>
    <div class="page-about-me-section" ng-show="guest_seeker_notfound">

        <div ng-include ="'GuestRole/student_profile/aboutme.html'"></div>

        <div ng-include ="'GuestRole/student_profile/leadership.html'"></div>

        <div ng-include ="'GuestRole/student_profile/instagram.html'"></div>

    </div>

    <div ng-show="guest_seeker_notfound" ng-include ="'GuestRole/student_profile/education.html'"></div>

    <div ng-show="guest_seeker_notfound" ng-include ="'GuestRole/student_profile/experience.html'"></div>

    <!-- <div ng-include ="'GuestRole/student_profile/skills.html'"></div> -->
</div>
