<section class="page-section complete-profile" ng-controller="studentprofileform">
    <div class="thumbnail custom-thumbnail-pro-accordion">
        <h5 class="custom-h5">Complete your profile</h5>
        <div class="row">
          <div class="col-sm-12">
            <div class="progress custom-progress">
              <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="74"
    aria-valuemin="0" aria-valuemax="100" style="width:74%"> </div>
            </div>
            <div class="toal-complete-container"> <span class="total-profile-complete">74%</span> Complete </div>
          </div>
        </div>
        <div class="panel-group custom-panel-group" id="accordion">
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_basic_information" ng-if="!student_profile_details.profile_picture && !student_profile_details.first_name && !student_profile_details.last_name && !student_profile_details.about_me ">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#sbasicinformation"  data-toggle="collapse" data-parent="#accordion"><span class="glyphicon custom-glyphicon-accordion"></span>Basic Profile</a>
                    </h4>
                </div>
                <div id="sbasicinformation" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form name="basicprofile" ng-submit="basicprofilesubmit(basicprofileform.profile_picture)" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-minus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Basic Profile</label>
                                    <input type="hidden" name="user" ng-model="basicprofileform.user">
                                    <input type="hidden" name="id" ng-model="basicprofileform.id">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">First Name</label>
                                    <input id="first_name" type="text" class="form-control custom-textbox" name="first_name"  ng-model="basicprofileform.first_name" >
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Last Name</label>
                                    <input type="text" class="form-control custom-textbox" name="last_name" placeholder="Please provide your Laste Name" ng-model="basicprofileform.last_name" >
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Date of Birth</label>
                                    <input type="text" class="form-control custom-textbox" name="dob" placeholder="Please provide your Date of Birth" ng-model="basicprofileform.dob" >
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Gender</label>
                                    <select name="gender" ng-model="basicprofileform.gender">
                                        <option value="Male" ng-selected="{{ basicprofileform.gender == 'Male' }}">Male</option>
                                        <option value="Female" ng-selected="{{ basicprofileform.gender == 'Female' }}">FeMale</option>
                                    </select>
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Category</label>
                                    <select name="category" ng-model="basicprofileform.category">
                                        <option value="Creative Thinker" ng-selected="{{ basicprofileform.category == 'Creative Thinker' }}">Creative Thinker</option>
                                        <option value="Working Hand" ng-selected="{{ basicprofileform.category == 'Working Hand' }}">Working Hand</option>
                                        <option value="Computer Genius" ng-selected="{{ basicprofileform.category == 'Computer Genius' }}">Computer Genius</option>
                                        <option value="Number Cruncher" ng-selected="{{ basicprofileform.category == 'Number Cruncher' }}">Number Cruncher</option>
                                        <option value="Builder" ng-selected="{{ basicprofileform.category == 'Builder' }}">Builder</option>
                                        <option value="Negotiator" ng-selected="{{ basicprofileform.category == 'Negotiator' }}">Negotiator</option>
                                        <option value="Entrepreneur" ng-selected="{{ basicprofileform.category == 'Entrepreneur' }}">Entrepreneur</option>
                                        <option value="Entertainer" ng-selected="{{ basicprofileform.category == 'Entertainer' }}">Entertainer</option>
                                        <option value="Organizer" ng-selected="{{ basicprofileform.category == 'Organizer' }}">Organizer</option>
                                        <option value="Social Butterfly" ng-selected="{{ basicprofileform.category == 'Social Butterfly' }}">Social Butterfly</option>
                                    </select>
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Social Network Link</label>
                                    <input type="text" class="form-control custom-textbox"  ng-model="basicprofileform.facebook_url" name="facebook_url" placeholder="Please provide your Facebook URL">
                                    <input type="text" class="form-control custom-textbox" ng-model="basicprofileform.linkedin_url" name="linkedin_url" placeholder="Please provide your Linkedin URL">
                                    <input type="text" class="form-control custom-textbox"  ng-model="basicprofileform.twitter_url" name="twitter_url" placeholder="Please provide your Twitter URL">
                                    <input type="text" class="form-control custom-textbox"  ng-model="basicprofileform.github_url" name="twitter_url" placeholder="Please provide your Github URL">
                                    <input type="text" class="form-control custom-textbox"  ng-model="basicprofileform.stackoverflow_url" name="twitter_url" placeholder="Please provide your Stackoverflow URL">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Website</label>
                                    <input type="text" class="form-control custom-textbox"   ng-model="basicprofileform.website" name="website" placeholder="Please provide your Facebook URL">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Profile Picture</label>
                                    <input type="file" ngf-select ng-model="basicprofileform.profile_picture" name="file" accept="image/*" >
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">About me</label>
                                    <textarea class="form-control custom-text-area" rows="4" placeholder="Write a description  about you" ng-model="basicprofileform.about_me" name="about_me" maxlength="150"></textarea>
                                </div>
                                <!--<div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Profile Image</label>
                                    <input type="file" class="file_multi_video" id="file" accept="image/*" name="file" multiple
                                        onchange="angular.element(this).scope().getFileDetails(this)" />
                                    <img src="basicprofileform.profile_picture"/>
                                </div>-->
                            </div>
                            <!-- <hr class="hr-line-lidership"> -->
                        </div>
                        <input type="submit" value="Submit" />
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Hobby</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_hobbies" ng-if="student_profile_details.hobby.length ==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#shobbies"  data-toggle="collapse" data-parent="#accordion"><span class="glyphicon custom-glyphicon-accordion"></span>Hobbies</a>
                    </h4>
                </div>
                <div id="shobbies" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="hobbiessubmit(hobbiesform.image)">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Hobby</label>
                                    <input type="hidden" name="id" ng-model="hobbiesform.id">
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a name" name="name"  ng-model="hobbiesform.name">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Description</label>
                                    <textarea class="form-control custom-text-area" rows="4" placeholder="Write a description  about your hobbies" maxlength="150" ng-model="hobbiesform.description"></textarea>
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Profile Picture</label>
                                    <input type="file" ngf-select ng-model="hobbiesform.image" name="hobbiesimage" accept="image/*" >
                                </div>
                            </div>
                            <!-- <hr class="hr-line-lidership"> -->
                        </div>
                        <input type="submit" value="Submit" />
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Hobby</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_characteristics" ng-if="student_profile_details.student_characteristic.length == 0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#scharactertics"  data-toggle="collapse" data-parent="#accordion"><span class="glyphicon custom-glyphicon-accordion"></span>Charactertics</a>
                    </h4>
                </div>
                <div id="scharactertics" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="charactersubmit()">
                        <input type="hidden" name="charid" ng-model="characteristic.id">
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Realistic" class="checkbox-input" ng-model="pselectedCharacter['Realistic']" type="checkbox">
                            <label for="Realistic" class="checkbox-label"> Realistic</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Investigative"  class="checkbox-input" ng-model="pselectedCharacter['Investigative']" type="checkbox">
                            <label for="Investigative" class="checkbox-label"> Investigative</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Artistic" class="checkbox-input" ng-model="pselectedCharacter['Artistic']" type="checkbox">
                            <label for="Artistic" class="checkbox-label"> Artistic</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Social" class="checkbox-input" ng-model="pselectedCharacter['Social']" type="checkbox">
                            <label for="Social" class="checkbox-label"> Social</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Enterprising" class="checkbox-input" ng-model="pselectedCharacter['Enterprising']" type="checkbox">
                            <label for="Enterprising" class="checkbox-label"> Enterprising</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Conventional" class="checkbox-input" ng-model="pselectedCharacter['Conventional']" type="checkbox">
                            <label for="Conventional" class="checkbox-label"> Conventional</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Rule_Follower" class="checkbox-input" ng-model="pselectedCharacter['Rule Follower']" type="checkbox">
                            <label for="Rule_Follower" class="checkbox-label"> Rule Follower</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Self-Motivated" class="checkbox-input" ng-model="pselectedCharacter['Self-Motivated']" type="checkbox">
                            <label for="Self-Motivated" class="checkbox-label"> Self-Motivated</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Responsibility" class="checkbox-input" ng-model="pselectedCharacter['Responsibility']" type="checkbox">
                            <label for="Responsibility" class="checkbox-label"> Responsibility</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Accustomed" class="checkbox-input" ng-model="pselectedCharacter['Accustomed to Routine']" type="checkbox">
                            <label for="Accustomed" class="checkbox-label"> Accustomed to Routine</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Study_Skills" class="checkbox-input" ng-model="pselectedCharacter['Learned Study Skills']" type="checkbox">
                            <label for="Study_Skills" class="checkbox-label"> Learned Study Skills</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="Reading" class="checkbox-input" ng-model="pselectedCharacter['Love of Reading']" type="checkbox">
                            <label for="Reading" class="checkbox-label"> Love of Reading</label>
                        </div>
                        <p>
                            <input type="submit" value="Submit" />
                        </p>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_whatiamlooking" ng-if="student_profile_details.whatimlooking.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#swhatiamlooking"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            What I'm looking for
                        </a>
                    </h4>
                </div>
                <div id="swhatiamlooking" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form  ng-submit="whatiamlooksubmit()">
                        <input type="hidden" name="lookingid" ng-model="looking.id">
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="a-role-in-a-large-company" class="checkbox-input" ng-model="pwhatiamlooking['A role in a large company']" type="checkbox">
                            <label for="a-role-in-a-large-company" class="checkbox-label"> A role in a large company</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="build-a-career" class="checkbox-input" ng-model="pwhatiamlooking['Build a career']" type="checkbox">
                            <label for="build-a-career" class="checkbox-label"> Build a career</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="career-growth" class="checkbox-input" ng-model="pwhatiamlooking['Career growth']" type="checkbox">
                            <label for="career-growth" class="checkbox-label"> Career growth</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="explain-your-motivation" class="checkbox-input" ng-model="pwhatiamlooking['Explain your motivation']" type="checkbox">
                            <label for="explain-your-motivation" class="checkbox-label"> Explain your motivation</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="extremely-productive-and-creative" class="checkbox-input" ng-model="pwhatiamlooking['Extremely productive and creative']" type="checkbox">
                            <label for="extremely-productive-and-creative" class="checkbox-label"> Extremely productive and creative</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="friendly-staff" class="checkbox-input" ng-model="pwhatiamlooking['Friendly staff']" type="checkbox">
                            <label for="friendly-staff" class="checkbox-label"> Friendly staff</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="high-earnings" class="checkbox-input" ng-model="pwhatiamlooking['High earnings']" type="checkbox">
                            <label for="high-earnings" class="checkbox-label"> High earnings</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="interesting-projects" class="checkbox-input" ng-model="pwhatiamlooking['Interesting projects']" type="checkbox">
                            <label for="interesting-projects" class="checkbox-label"> Interesting projects</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="learn-new-things" class="checkbox-input" ng-model="pwhatiamlooking['Learn new things']" type="checkbox">
                            <label for="learn-new-things" class="checkbox-label"> Learn new things</label>
                        </div>
                        <div class="checkbox custom-checkbox checkbox-circle">
                            <input id="official-employment" class="checkbox-input" ng-model="pwhatiamlooking['Official employment']" type="checkbox">
                            <label for="official-employment" class="checkbox-label"> Official employment</label>
                        </div>
                        <p>
                            <input type="submit" value="Submit" />
                        </p>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_leadership" ng-if="student_profile_details.leadship_role.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#sleadership"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Lidership roles
                        </a>
                    </h4>
                </div>
                <div id="sleadership" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="leadershipsubmit()" >
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-minus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Lidership role</label>
                                    <input type="hidden" class="form-control custom-textbox" ng-model="leadershipform.id" name="student">
                                    <input type="text" class="form-control custom-textbox" ng-model="leadershipform.leadership_role" placeholder="Give it a name">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Description</label>
                                    <textarea class="form-control custom-text-area" rows="4" ng-model="leadershipform.description" placeholder="Write a description  about your lidership role" maxlength="150"></textarea>
                                </div>
                            </div>
                            <input type="submit" value="Submit" />
                            <!-- <hr class="hr-line-lidership"> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add role</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>

            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_myschool" ng-if="student_profile_details.education.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#smyschools"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            MY SCHOOLS
                        </a>
                    </h4>
                </div>
                <div id="smyschools" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="educationsubmit()">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">School</label>
                                    <input type="hidden" class="form-control custom-textbox" ng-model="educationform.id" name="user">
                                    <div angucomplete-alt id="universities"
                                        placeholder="Search universities"
                                        maxlength="50"
                                        pause="100"
                                        selected-object="selecteduniversity"
                                        remote-url="http://developer.firstsynch.com/api/v1/auto/school_list/?q="
                                        remote-url-data-field="results"
                                        title-field="Institution_Name"
                                        minlength="1"
                                        input-class="form-control custom-form-control-br-bottom"
                                        field-required="true"
                                        match-class="highlight"></div>
                                    <input type="hidden" class="form-control custom-form-control-br-bottom" id="university-name" name="school_name" value="{{selecteduniversity.originalObject.Institution_Name}}" ng-model="educationform.school_name"/>
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Major</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="educationform.major" placeholder="Start Date">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Year Started</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="educationform.year_started" placeholder="Start Date">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Graduated Year</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="educationform.year_graduated" placeholder="Graduated Year">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">GPA</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="educationform.gpa" placeholder="GPA">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">GPA Rating</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="educationform.gpa_rating" placeholder="GPA Rating">
                                </div>
                            </div>
                            <input type="submit" value="Submit" />
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_histroy" ng-if="student_profile_details.experience.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#sworkhistroy"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Work History
                        </a>
                    </h4>
                </div>
                <div id="sworkhistroy" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="workhistroyformsubmit()">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Work</label>
                                    <input type="hidden" class="form-control custom-textbox" ng-model="workhistroyform.id" name="user">
                                    <input type="text" class="form-control custom-textbox" ng-model="workhistroyform.company" placeholder="Company Name">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Start Date</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="workhistroyform.start_date" placeholder="Start Date">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Leave Date</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="workhistroyform.leave_date" placeholder="Graduated Year">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Job Title</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="workhistroyform.job_title" placeholder="Job Title">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Job Description</label>
                                    <textarea class="form-control custom-text-area" rows="4" ng-model="workhistroyform.job_description" placeholder="Write a description  about your roles and responsibility"></textarea>
                                </div>
                            </div>
                            <input type="submit" value="Submit" />
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_projects" ng-if="student_profile_details.project.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#sproject"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Projects
                        </a>
                    </h4>
                </div>
                <div id="sproject" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="projectsubmit(projectsform.image)">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Projects</label>
                                    <input type="hidden" class="form-control custom-textbox" ng-model="projectsform.id" name="user">
                                    <input type="text" class="form-control custom-textbox" ng-model="projectsform.title" placeholder="Company Name">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Start Date</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="projectsform.start_date" placeholder="Start Date">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">End Date</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="projectsform.completation_date" placeholder="Graduated Year">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Description</label>
                                    <textarea class="form-control custom-text-area" rows="4" ng-model="projectsform.project_description" placeholder="Write a description  about your roles and responsibility" maxlength="150"></textarea>
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Profile Picture</label>
                                    <input type="file" ngf-select ng-model="projectsform.image" name="hobbiesimage" accept="image/*" >
                                </div>
                            </div>
                            <input type="submit" value="Submit" />
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_personnal" ng-if="student_profile_details.skill.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#spersonal"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Personal
                        </a>
                    </h4>
                </div>
                <div id="spersonal" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="personnalskillsubmit()">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1">
                                <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span>
                            </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <input type="hidden" class="form-control custom-textbox" name="student" ng-model="skillsetpersonnalform.id">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Name</label>
                                    <input type="text" class="form-control custom-textbox" name="name" ng-model="skillsetpersonnalform.name" placeholder="Skill Name">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Rating</label>
                                    <input type="text" class="form-control custom-textbox" name="rating" ng-model="skillsetpersonnalform.rating" placeholder="Skill Rating">
                                </div>
                            </div>
                            <input type="submit" name="submit" value="Save">
                            <!-- <hr class="hr-line-lidership"> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_professional"  ng-if="student_profile_details.skill.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#sprofessional"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Professional
                        </a>
                    </h4>
                </div>
                <div id="sprofessional" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form  ng-submit="professionalskillsubmit()">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <input type="hidden" class="form-control custom-textbox" ng-model="skillsetprofessionalform.student" name="user">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Name</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="skillsetprofessionalform.name" name="name" placeholder="Skill Name">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Rating</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="skillsetprofessionalform.rating" name="rating" placeholder="Skill Rating">
                                </div>
                            </div>
                            <input type="submit" value="Submit" />
                            <!-- <hr class="hr-line-lidership"> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_software" ng-if="student_profile_details.skill.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#ssoftware"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Software
                        </a>
                    </h4>
                </div>
                <div id="ssoftware" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form  ng-submit="softwareskillsubmit()">
                        <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <input type="hidden" class="form-control custom-textbox" ng-model="skillsetsoftwareform.user" name="user">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Name</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="skillsetsoftwareform.name" name="name" placeholder="Skill Name">
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase">Rating</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="skillsetsoftwareform.rating" name="rating" placeholder="Skill Rating">
                                </div>
                            </div>
                            <input type="submit" value="Submit" />
                            <!-- <hr class="hr-line-lidership"> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                            <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>




        </div>
    </div>
</section>
