<section class="page-section complete-profile" ng-controller="studentprofileform">
    <div class="container-775">
        <div class="thumbnail custom-thumbnail-pro-accordion">
            <h5 class="custom-h5 h5-video">Complete your profile</h5>
            <div class="row">
                <div class="col-sm-12">
                    <div class="progress custom-progress">
                        <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="{{student_profile_details.score}}" aria-valuemin="0" aria-valuemax="100" style="width:{{student_profile_details.score}}%"> </div>
                    </div>
                    <div class="toal-complete-container"> <span class="total-profile-complete">{{student_profile_details.score}}%</span> <span class="h5-companyname">Complete</span> </div>
                </div>
            </div>
            <div class="panel-group custom-panel-group" id="accordion">
                <div class="panel panel-default custom-accordion-panel-default" id="student_profile_basic_information" ng-if="!student_profile_details.profile_picture && !student_profile_details.first_name && !student_profile_details.last_name && !student_profile_details.about_me ">
                    <div class="panel-heading custom-accordion-heading">
                        <h4 class="panel-title custom-accordion-title">
                            <a href="#" data-target="#sbasicinformation" class="collapsed" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon custom-glyphicon-accordion"></span>Basic Profile</a>
                        </h4>
                    </div>
                    <div id="sbasicinformation" class="panel-collapse custom-panel-accordion-collapse collapse">
                        <form name="basicprofile_form" ng-submit="basicprofilesubmit(basicprofileform.profile_picture_new)" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-1 col-md-1 col-lidership-md-1"> </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group custom-lider-form-group">
                                        <input type="hidden" name="user" ng-model="basicprofileform.user">
                                        <input type="hidden" name="id" ng-model="basicprofileform.id">
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofile_form.first_name.$valid}">First Name</label> <sup class="asterisk">*</sup><span ng-show="basicprofile_form.first_name.$error.pattern" class="validation_msg">Enter only alphabets and spaces</span>
                                        <input maxlength="200" id="first_name" type="text" class="form-control custom-form-control-br-bottom" name="first_name" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="basicprofileform.first_name" ng-class="{'has-error': basicprofile_form.first_name.$touched, 'has-success': basicprofile_form.first_name.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofile_form.last_name.$valid}">Last Name</label> <sup class="asterisk">*</sup><span ng-show="basicprofile_form.last_name.$error.pattern" class="validation_msg">Enter only alphabets and spaces</span>
                                        <input maxlength="200" type="text" class="form-control custom-form-control-br-bottom" name="last_name" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Please provide your Laste Name" ng-model="basicprofileform.last_name" ng-class="{'has-error': basicprofile_form.last_name.$touched, 'has-success': basicprofile_form.last_name.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofile_form.dob.$valid}">Date of Birth</label> <sup class="asterisk">*</sup><span ng-show="basicprofile_form.dob.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                                        <input maxlength="12" type="text" datepicker class="form-control custom-form-control-br-bottom" name="dob" placeholder="Please provide your Date of Birth" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="basicprofileform.dob" ng-class="{'has-error': basicprofile_form.dob.$touched, 'has-success': basicprofile_form.dob.$valid}" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6- col-lg-6">
                                            <div class="form-group custom-lider-form-group">
                                                <label class="text-uppercase" ng-class="{'has-success': basicprofile_form.gender.$valid}">Gender</label> <sup class="asterisk">*</sup>
                                                <select name="gender" ng-model="basicprofileform.gender" class="form-control custom-form-control-br-bottom"  ng-class="{'has-error': basicprofile_form.gender.$touched, 'has-success': basicprofile_form.gender.$valid}" required>
                                                    <option value="Male" ng-selected="{{ basicprofileform.gender == 'Male' }}">Male</option>
                                                    <option value="Female" ng-selected="{{ basicprofileform.gender == 'Female' }}">FeMale</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6- col-lg-6">
                                            <div class="form-group custom-lider-form-group">
                                                <label class="text-uppercase" ng-class="{'has-success': basicprofile_form.category.$valid}">Category</label> <sup class="asterisk">*</sup>
                                                <select name="category" ng-model="basicprofileform.category" class="form-control custom-form-control-br-bottom" ng-class="{'has-error': basicprofile_form.category.$touched, 'has-success': basicprofile_form.category.$valid}" required>
                                                    <option value="Creative Thinker" ng-selected="{{ basicprofileform.category == 'Creative Thinker' }}">Creative Thinker</option>
                                                    <option value="Working Hand" ng-selected="{{ basicprofileform.category == 'Working Hand' }}">Working Hand</option>
                                                    <option value="Computer Genius" ng-selected="{{ basicprofileform.category == 'Computer Genius' }}">Computer Genius</option>
                                                    <option value="Number Cruncher" ng-selected="{{ basicprofileform.category == 'Number Cruncher' }}">Number Cruncher</option>
                                                    <option value="Builder" ng-selected="{{ basicprofileform.category == 'Builder' }}">Builder</option>
                                                    <option value="Negotiator" ng-selected="{{ basicprofileform.category == 'Negotiator' }}">Negotiator</option>
                                                    <option value="Entrepreneur" ng-selected="{{ basicprofileform.category == 'Entrepreneur' }}">Entrepreneur</option>
                                                    <option value="Entertainer" ng-selected="{{ basicprofileform.category == 'Entertainer' }}">Entertainer</option>
                                                    <option value="Organizer" ng-selected="{{ basicprofileform.category == 'Organizer' }}">Organizer</option>
                                                    <option value="Social Butterfly" ng-selected="{{ basicprofileform.category == 'Social Butterfly' }}">Social Butterfly</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofileform.facebook_url}">Facebook</label>
                                        <span ng-if="basicprofile_form.facebook_url.$invalid" class="validation_msg">The website address is not valid. Use like http://......</span>
                                        <input maxlength="200" type="url" ng-class="{'has-success': basicprofileform.facebook_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" class="form-control custom-form-control-br-bottom"  ng-model="basicprofileform.facebook_url" name="facebook_url" placeholder="Please provide your Facebook URL">
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofileform.linkedin_url}">Linkedin</label>
                                        <span ng-if="basicprofile_form.linkedin_url.$invalid" class="validation_msg">The website address is not valid. Use like http://......</span>
                                        <input maxlength="200" type="url" ng-class="{'has-success': basicprofileform.linkedin_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"class=" form-control custom-form-control-br-bottom" ng-model="basicprofileform.linkedin_url" name="linkedin_url" placeholder="Please provide your Linkedin URL">
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success':basicprofileform.twitter_url}">Twitter</label>
                                        <span ng-if="basicprofile_form.twitter_url.$invalid" class="validation_msg">The website address is not valid. Use like http://......</span>
                                        <input maxlength="200" type="url" ng-class="{'has-success': basicprofileform.twitter_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"class=" form-control custom-form-control-br-bottom"  ng-model="basicprofileform.twitter_url" name="twitter_url" placeholder="Please provide your Twitter URL">
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofileform.github_url}">Github</label>
                                        <span ng-if="basicprofile_form.github_url.$invalid" class="validation_msg">The website address is not valid. Use like http://......</span>
                                        <input maxlength="200" type="url" ng-class="{'has-success': basicprofileform.github_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" class=" form-control custom-form-control-br-bottom"  ng-model="basicprofileform.github_url" name="github_url" placeholder="Please provide your Github URL">
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofileform.stackoverflow_url}">Stackoverflow</label>
                                        <span ng-if="basicprofile_form.stackoverflow_url.$invalid" class="validation_msg">The website address is not valid. Use like http://......</span>
                                        <input maxlength="200" type="url" ng-class="{'has-success': basicprofileform.stackoverflow_url}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" class=" form-control custom-form-control-br-bottom"  ng-model="basicprofileform.stackoverflow_url" name="stackoverflow_url" placeholder="Please provide your Stackoverflow URL">
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofileform.website}">Website</label>
                                        <span ng-if="basicprofile_form.website.$invalid" class="validation_msg">The website address is not valid. Use like http://......</span>
                                        <input maxlength="200" type="url" ng-class="{'has-success': basicprofileform.website}" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" class="form-control custom-form-control-br-bottom" ng-model="basicprofileform.website" name="website" placeholder="Please provide your website URL">
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': basicprofileform.profile_picture || !basicprofileform.profile_picture_new}">Profile Picture</label>
                                        <span ng-show="basicprofile_form.file.$invalid" class="validation_msg">Maximum 2 MB with only image format</span>
                                        <input type="file" ng-class="{'has-success': basicprofileform.profile_picture || !basicprofileform.profile_picture_new}" ngf-select ngf-max-size="2MB" ng-model="basicprofileform.profile_picture_new" name="file" accept="image/*" >
                                        <img ng-if="basicprofileform.profile_picture && !basicprofileform.profile_picture_new" height="100" width="100" src="{{basicprofileform.profile_picture}}"/>
                                        <img ngf-thumbnail="basicprofileform.profile_picture_new " height="100" width="100">
                                        <div class="form-group custom-lider-form-group custom-form-group-new">
                                            <label class="text-uppercase">About me</label>
                                            <textarea ng-trim="false" class="form-control custom-text-area" rows="4" placeholder="Write a description  about you" ng-model="basicprofileform.about_me" name="about_me" maxlength="500"></textarea>
                                            <p class="text-overlay-textarea">{{500 - basicprofileform.about_me.length}}</p>
                                        </div>
                                        <p class="edt-pro-btn-group">
                                            <input type="submit"
                                                    ng-disabled="basicprofile_form.first_name.$invalid
                                                                || basicprofile_form.last_name.$invalid
                                                                || basicprofile_form.dob.$invalid
                                                                || basicprofile_form.gender.$invalid
                                                                || basicprofile_form.facebook_url.$invalid
                                                                || basicprofile_form.linkedin_url.$invalid
                                                                || basicprofile_form.github_url.$invalid
                                                                || basicprofile_form.stackoverflow_url.$invalid
                                                                || basicprofile_form.website.$invalid
                                                                || basicprofile_form.file.$invalid" value="Save" class="btn btn-default custom-btn btn-lg btn-submit"/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default custom-accordion-panel-default" id="student_profile_hobbies" ng-if="student_profile_details.hobby.length ==0" >
                    <div class="panel-heading custom-accordion-heading">
                        <h4 class="panel-title custom-accordion-title">
                            <a href="#" data-target="#shobbies" class="collapsed"  data-toggle="collapse" data-parent="#accordion"><span class="glyphicon custom-glyphicon-accordion"></span>Hobbies</a>
                            <span class="pull-right accordion-total-value">+3%</span>
                        </h4>
                    </div>
                    <div id="shobbies" class="panel-collapse custom-panel-accordion-collapse collapse">
                        <form name="hobbiesforms" ng-submit="hobbiessubmit(hobbiesform.image)">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group-edit-profile">
                                        <div class="form-group custom-lider-form-group">
                                            <label class="text-uppercase" ng-class="{'has-success': hobbiesforms.name.$valid}">Hobby</label> <sup class="asterisk">*</sup> <span ng-show="hobbiesforms.name.$error.pattern" class="validation_msg">Enter only alphabets and spaces</span>
                                            <input type="hidden" name="id" ng-model="hobbiesform.id">
                                            <input maxlength="200" type="text"  ng-pattern="/^[a-zA-Z\s]*$/" class="form-control custom-form-control-br-bottom" placeholder="Give it a name" name="name"  ng-model="hobbiesform.name" ng-class="{'has-error': hobbiesforms.name.$touched, 'has-success': hobbiesforms.name.$valid}" required>
                                        </div>
                                        <div class="form-group custom-lider-form-group custom-form-group-new">
                                            <label class="text-uppercase" ng-class="{'has-success': hobbiesform.description}">Description</label>
                                            <textarea ng-class="{'has-success': hobbiesform.description}" class="form-control custom-text-area" rows="4" placeholder="Write a description  about your hobbies" ng-model="hobbiesform.description" maxlength="500"></textarea>
                                            <p class="text-overlay-textarea">{{500 - hobbiesform.description.length}}</p>
                                        </div>
                                        <div class="form-group custom-lider-form-group">
                                            <div class="upload-container">
                                                <label class="text-uppercase" ng-class="{'has-success': hobbiesform.image}">Picture</label> <sup class="asterisk">*</sup>
                                                <span ng-show="hobbiesforms.hobbiesimage.$invalid" class="validation_msg">Maximum 2 MB with only image format</span>
                                                <input required ngf-max-size="2MB" type="file" ngf-select ng-model="hobbiesform.image" name="hobbiesimage" accept="image/*" >
                                                <img ngf-thumbnail="hobbiesform.image" height="100" width="100">
                                            </div>
                                        </div>
                                        <p class="btn-panel-group">
                                            <input type="submit" ng-disabled="hobbiesforms.name.$invalid || hobbiesforms.hobbiesimage.$invalid" value="Save"  class="btn btn-default custom-btn btn-lg btn-submit"/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default custom-accordion-panel-default" id="student_profile_characteristics" ng-if="student_profile_details.student_characteristic.length == 0">
                    <div class="panel-heading custom-accordion-heading">
                        <h4 class="panel-title custom-accordion-title">
                            <a href="#" data-target="#scharactertics" class="collapsed" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon custom-glyphicon-accordion"></span>Charactertics</a>
                            <span class="pull-right accordion-total-value">+4%</span>
                        </h4>
                    </div>
                    <div id="scharactertics" class="panel-collapse custom-panel-accordion-collapse collapse">
                        <div class="form-group-edit-profile">
                            <h1 class="custom-h1-01 custom-h1-btm-space-55">Charactertics</h1>
                            <p class="text-edit-profile">Select things that are important in a potential job <span class="text-description">(Select{{sepshouldDisablecount}}/5 characteristics)</span></p>
                            <form name="scharacterticsform" ng-submit="charactersubmit()">
                                <input type="hidden" name="charid" ng-model="characteristic.id">
                                <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="characters in pavailablecharacter">
                                    <input id="{{characters.charac}}" ng-click="pcharactercheck($event,characters.charac)" class="checkbox-input" ng-model="pselectedCharacter[characters.charac]" type="checkbox">
                                    <label for="{{characters.charac}}" class="checkbox-label"> {{characters.charac}}</label>
                                </div>
                                <p class="edt-pro-btn-group">
                                    <input ng-disabled="!characterbtndisable" type="submit" value="Save" class="btn btn-default custom-btn btn-lg btn-submit"/>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default custom-accordion-panel-default" id="student_profile_whatiamlooking" ng-if="student_profile_details.whatimlooking.length==0">
                    <div class="panel-heading custom-accordion-heading">
                        <h4 class="panel-title custom-accordion-title">
                            <a href="#" data-target="#swhatiamlooking" class="collapsed" data-toggle="collapse" data-parent="#accordion">
                                <span class="glyphicon custom-glyphicon-accordion"></span>
                                What I'm looking for
                            </a>
                            <span class="pull-right accordion-total-value">+4%</span>
                        </h4>
                    </div>
                    <div id="swhatiamlooking" class="panel-collapse custom-panel-accordion-collapse collapse">
                        <p class="content-profile-description">Select things that are important in a potential job <span class="text-description">(Select {{sewlpshouldDisablecount}}/5 characteristics)</span></p>
                        <form  ng-submit="whatiamlooksubmit()"><div class="form-group-edit-profile">
                            <input type="hidden" name="lookingid" ng-model="looking.id">
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="a-role-in-a-large-company" class="checkbox-input" ng-click="plookingcheck($event,'A role in a large company')" ng-model="pwhatiamlooking['A role in a large company']" type="checkbox">
                                <label for="a-role-in-a-large-company" class="checkbox-label"> A role in a large company</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="build-a-career" class="checkbox-input" ng-click="plookingcheck($event,'Build a career')" ng-model="pwhatiamlooking['Build a career']" type="checkbox">
                                <label for="build-a-career" class="checkbox-label"> Build a career</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="career-growth" class="checkbox-input" ng-click="plookingcheck($event,'Career growth')" ng-model="pwhatiamlooking['Career growth']" type="checkbox">
                                <label for="career-growth" class="checkbox-label"> Career growth</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="explain-your-motivation" class="checkbox-input" ng-click="plookingcheck($event,'Explain your motivation')" ng-model="pwhatiamlooking['Explain your motivation']" type="checkbox">
                                <label for="explain-your-motivation" class="checkbox-label"> Explain your motivation</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="extremely-productive-and-creative" class="checkbox-input" ng-click="plookingcheck($event,'Extremely productive and creative')" ng-model="pwhatiamlooking['Extremely productive and creative']" type="checkbox">
                                <label for="extremely-productive-and-creative" class="checkbox-label"> Extremely productive and creative</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="friendly-staff" class="checkbox-input" ng-click="plookingcheck($event,'Friendly staff')" ng-model="pwhatiamlooking['Friendly staff']" type="checkbox">
                                <label for="friendly-staff" class="checkbox-label"> Friendly staff</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="high-earnings" class="checkbox-input" ng-click="plookingcheck($event,'High earnings')" ng-model="pwhatiamlooking['High earnings']" type="checkbox">
                                <label for="high-earnings" class="checkbox-label"> High earnings</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="interesting-projects" class="checkbox-input" ng-click="plookingcheck($event,'Interesting projects')" ng-model="pwhatiamlooking['Interesting projects']" type="checkbox">
                                <label for="interesting-projects" class="checkbox-label"> Interesting projects</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="learn-new-things" class="checkbox-input" ng-click="plookingcheck($event,'Learn new things')" ng-model="pwhatiamlooking['Learn new things']" type="checkbox">
                                <label for="learn-new-things" class="checkbox-label"> Learn new things</label>
                            </div>
                            <div class="checkbox custom-checkbox checkbox-circle">
                                <input id="official-employment" class="checkbox-input" ng-click="plookingcheck($event,'Official employment')" ng-model="pwhatiamlooking['Official employment']" type="checkbox">
                                <label for="official-employment" class="checkbox-label"> Official employment</label>
                            </div>
                            <p class="btn-panel-group">
                                <input  ng-disabled="!pwhatiamlookingbtndisable" type="submit" value="Save" class="btn btn-default custom-btn btn-lg btn-submit" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_leadership" ng-if="student_profile_details.leadship_role.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a href="#" data-target="#sleadership" class="collapsed"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Leadership roles
                        </a>
                        <span class="pull-right accordion-total-value">+3%</span>
                    </h4>
                </div>
                <div id="sleadership" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form name="spleadershipform" ng-submit="leadershipsubmit()" >
                        <div class="row">
                            <div class="col-sm-12  col-md-12">
                                <div class="form-group-edit-profile">
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': spleadershipform.leadership_role.$valid}">Lidership role</label> <sup class="asterisk">*</sup><span ng-show="spleadershipform.leadership_role.$error.pattern" class="validation_msg">Enter only alphabets and spaces</span>
                                        <input type="hidden" class="form-control custom-textbox"  ng-model="leadershipform.id" name="student">
                                        <input maxlength="200" type="text" class="form-control custom-form-control-br-bottom" maxlength="50" name="leadership_role" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="leadershipform.leadership_role" placeholder="Give it a leadership role" ng-class="{'has-error': spleadershipform.leadership_role.$touched, 'has-success': spleadershipform.leadership_role.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group custom-form-group-new">
                                        <label class="text-uppercase" ng-class="{'has-success': leadershipform.description}">Description</label>
                                        <textarea ng-class="{'has-success': leadershipform.description}" class="form-control custom-text-area" rows="4" ng-model="leadershipform.description" placeholder="Write a description  about your lidership role" maxlength="500"></textarea>
                                        <p class="text-overlay-textarea">{{500 - leadershipform.description.length}}</p>
                                    </div>
                                    <p class="btn-panel-group">
                                        <input type="submit"  ng-disabled="spleadershipform.leadership_role.$invalid"  value="Save" class="btn btn-default custom-btn btn-lg btn-submit"/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_myschool" ng-if="student_profile_details.education.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a href="#" data-target="#smyschools" class="collapsed"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>MY SCHOOLS
                        </a>
                        <span class="pull-right accordion-total-value">+15%</span>
                    </h4>
                </div>
                <div id="smyschools" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="educationsubmit()" name="student_profile_education_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group-edit-profile">
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': student_profile_education_form.school_name.$valid}">School</label> <sup class="asterisk">*</sup>
                                        <input type="hidden" class="form-control custom-textbox" ng-model="educationform.id" name="user">
                                        <div angucomplete-alt id="universities"
                                            placeholder="Search universities"
                                            maxlength="200"
                                            pause="100"
                                            selected-object="studentprofileuniversity"
                                            remote-url="{{apiurl}}api/v1/auto/school_list/?q="
                                            remote-url-data-field="results"
                                            title-field="Institution_Name"
                                            minlength="1"
                                            input-class="form-control custom-form-control-br-bottom"
                                            field-required="true"
                                            match-class="highlight"
                                            ng-class="{'has-error':   student_profile_education_form.school_name.$touched && student_profile_education_form.school_name.$error.required && student_profile_education_form.school_name.$invalid, 'has-success': student_profile_education_form.school_name.$valid}">
                                        </div>
                                        <input type="hidden" class="form-control custom-form-control-br-bottom" id="university-name" name="school_name" value="{{studentprofileuniversity.originalObject.Institution_Name}}" required ng-model="studentprofileuniversity.originalObject.Institution_Name"/>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': student_profile_education_form.major.$valid}">Major</label> <sup class="asterisk">*</sup>
                                        <span ng-show="student_profile_education_form.major.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                                        <input maxlength="200" type="text" max-length="150" ng-pattern="/^[a-zA-Z0-9\s]*$/" class="form-control custom-form-control-br-bottom" ng-model="educationform.major" placeholder="Major"  name="major" ng-class="{'has-error': student_profile_education_form.major.$touched, 'has-success': student_profile_education_form.major.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': student_profile_education_form.year_started.$valid}">Year Started</label> <sup class="asterisk">*</sup>
                                        <span ng-show="student_profile_education_form.year_started.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                                        <input maxlength="12" type="text" class="form-control custom-form-control-br-bottom" ng-change="datecheckErr(educationform.year_started,educationform.year_graduated)" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="educationform.year_started" datepicker placeholder="Start Date"  name="year_started" ng-class="{'has-error': student_profile_education_form.year_started.$touched, 'has-success': student_profile_education_form.year_started.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': student_profile_education_form.year_graduated.$valid}">Graduated Year</label> <sup class="asterisk">*</sup>
                                        <span ng-show="student_profile_education_form.year_graduated.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                                        <span ng-show="dateerrMessage" class="validation_msg">{{dateerrMessage}}</span>
                                        <input maxlength="12" type="text" class="form-control custom-form-control-br-bottom" ng-change="datecheckErr(educationform.year_started,educationform.year_graduated)" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="educationform.year_graduated" datepicker  placeholder="Graduated Year" name="year_graduated" ng-class="{'has-error': student_profile_education_form.year_graduated.$touched, 'has-success': student_profile_education_form.year_graduated.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': student_profile_education_form.gpa.$valid}">GPA</label> <sup class="asterisk">*</sup>
                                        <span ng-show="student_profile_education_form.gpa.$error.pattern" class="validation_msg">Enter the value 0 to 4 only with two decimals</span>
                                        <input maxlength="7" type="number" min="1" max="4" class="form-control custom-form-control-br-bottom" ng-pattern="/^([0-3]|4(\.0{1,2})?$)(\.[0-9]{1,2})?$/" name="gpa" ng-model="educationform.gpa" placeholder="GPA" ng-class="{'has-error': student_profile_education_form.gpa.$touched, 'has-success': student_profile_education_form.gpa.$valid}" required>
                                    </div>
                                    <p class="btn-panel-group">
                                        <input type="submit" value="Save" class="btn btn-default custom-btn btn-lg btn-submit" ng-disabled="student_profile_education_form.$invalid||student_profile_education_form.school_name.$invalid" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_histroy" ng-if="student_profile_details.experience.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a href="#" data-target="#sworkhistroy" class="collapsed" data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Work History
                        </a>
                        <span class="pull-right accordion-total-value">+15%</span>
                    </h4>
                </div>
                <div id="sworkhistroy" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form name="sworkhistroyform" ng-submit="workhistroyformsubmit()">
                        <div class="row">
                            <div class="col-sm-12  col-md-12">
                                <div class="form-group-edit-profile">
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': sworkhistroyform.company.$valid}">Work</label> <sup class="asterisk">*</sup>
                                        <span ng-show="sworkhistroyform.company.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                                        <input type="hidden" class="form-control custom-textbox" ng-model="workhistroyform.id" name="user">
                                        <input maxlength="200" type="text" class="form-control custom-form-control-br-bottom" max-length="100" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-model="workhistroyform.company" placeholder="Company Name" name="company" ng-class="{'has-error': sworkhistroyform.company.$touched, 'has-success': sworkhistroyform.company.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': sworkhistroyform.start_date.$valid}">Start Date</label> <sup class="asterisk">*</sup>
                                        <span ng-show="sworkhistroyform.start_date.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                                        <input maxlength="12" type="text" ng-change="datecheckErr(workhistroyform.start_date,workhistroyform.leave_date)" class="form-control custom-form-control-br-bottom" max-length="10" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="workhistroyform.start_date" datepicker placeholder="Start Date" name="start_date" ng-class="{'has-error': sworkhistroyform.start_date.$touched, 'has-success': sworkhistroyform.start_date.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': sworkhistroyform.leave_date.$valid}">Leave Date</label> <sup class="asterisk">*</sup>
                                        <span ng-show="sworkhistroyform.leave_date.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                                        <span ng-show="dateerrMessage" class="validation_msg">{{dateerrMessage}}</span>
                                        <input maxlength="12" type="text" ng-change="datecheckErr(workhistroyform.start_date,workhistroyform.leave_date)" class="form-control custom-form-control-br-bottom" max-length="10" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="workhistroyform.leave_date" datepicker placeholder="Leave date" name="leave_date" ng-class="{'has-error': sworkhistroyform.leave_date.$touched, 'has-success': sworkhistroyform.leave_date.$valid}" required>
                                    </div>
                                    <div class="form-group custom-lider-form-group">
                                        <label class="text-uppercase" ng-class="{'has-success': workhistroyform.job_title}">Job Title</label>
                                        <span ng-show="sworkhistroyform.job_title.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                                        <input maxlength="200" type="text" ng-class="{'has-success': workhistroyform.job_title}" class="form-control custom-form-control-br-bottom" max-length="100" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-model="workhistroyform.job_title" placeholder="Job Title" name="job_title" >
                                    </div>
                                    <div class="form-group custom-lider-form-group custom-form-group-new">
                                        <label class="text-uppercase" ng-class="{'has-success': workhistroyform.job_description}">Job Description</label>
                                        <textarea class="form-control custom-text-area" ng-class="{'has-success': workhistroyform.job_description}" max-length="500" ng-model="workhistroyform.job_description" placeholder="Write a description  about your roles and responsibility"></textarea>
                                        <p class="text-overlay-textarea">{{500 - workhistroyform.job_description.length}}</p>
                                    </div>
                                    <p class="btn-panel-group">
                                        <input type="submit" ng-disabled="sworkhistroyform.leave_date.$invalid ||  sworkhistroyform.start_date.$invalid || sworkhistroyform.company.$invalid || sworkhistroyform.job_title.$invalid" value="Save" class="btn btn-default custom-btn btn-lg btn-submit" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="student_profile_projects" ng-if="student_profile_details.project.length==0">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a href="#" data-target="#sproject" class="collapsed"  data-toggle="collapse" data-parent="#accordion">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Projects
                        </a>
                        <span class="pull-right accordion-total-value">+15%</span>
                    </h4>
                </div>
                <div id="sproject" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form name='sprojectform' ng-submit="projectsubmit(projectsform.image)">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                            	<div class="form-group-edit-profile">
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase" ng-class="{'has-success': sprojectform.title.$valid}">Projects</label> <sup class="asterisk">*</sup>
                                    <span ng-show="sprojectform.title.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                                    <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="projectsform.id" name="user">
                                    <input maxlength="200" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" max-length="150" class="form-control custom-form-control-br-bottom" ng-model="projectsform.title" placeholder="Project title" name="title" ng-class="{'has-error': sprojectform.title.$touched, 'has-success': sprojectform.title.$valid}" required>
                                </div>
                                <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase" ng-class="{'has-success': sprojectform.start_date.$valid}">Start Date</label> <sup class="asterisk">*</sup>
                                    <span ng-show="sprojectform.start_date.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                                    <input maxlength="12" type="text" ng-change="datecheckErr(projectsform.start_date,projectsform.completation_date)" class="form-control custom-form-control-br-bottom" ng-model="projectsform.start_date" datepicker ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" placeholder="Start Date" name="start_date" ng-class="{'has-error': sprojectform.start_date.$touched, 'has-success': sprojectform.start_date.$valid}" required>
                                </div>
                                </div>
                                 <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase" ng-class="{'has-success': sprojectform.completation_date.$valid}">End Date</label> <sup class="asterisk">*</sup>
                                    <span ng-show="sprojectform.completation_date.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                                    <span ng-show="dateerrMessage" class="validation_msg">{{dateerrMessage}}</span>
                                    <input maxlength="12" type="text" ng-change="datecheckErr(projectsform.start_date,projectsform.completation_date)" class="form-control custom-form-control-br-bottom" ng-model="projectsform.completation_date" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" datepicker placeholder="End date" name="completation_date" ng-class="{'has-error': sprojectform.completation_date.$touched, 'has-success': sprojectform.completation_date.$valid}" required>
                                </div>
                                </div>
                                </div>
                                <div class="form-group custom-lider-form-group custom-form-group-new">
                                    <label class="text-uppercase" ng-class="{'has-success': projectsform.project_description}">Description</label>
                                    <textarea ng-trim="false" ng-class="{'has-success': projectsform.project_description}" class="form-control custom-text-area" maxlength="500" ng-model="projectsform.project_description" placeholder="Write a description  about your roles and responsibility"></textarea>
                                   <p class="text-overlay-textarea">{{500 - projectsform.project_description.length}}</p>
                                </div>
                                <div class="form-group custom-lider-form-group">
                                    <label class="text-uppercase" ng-class="{'has-success': projectsform.image}">Picture</label>
                                    <span ng-show="sprojectform.files.$invalid" class="validation_msg">Maximum 2 MB with only image format</span>
                                    <img ngf-thumbnail="projectsform.image" height="100" width="100">
                                    <input type="file" ngf-select ngf-max-size="2MB" ng-class="{'has-success': projectsform.image}" ng-model="projectsform.image" name="files" accept="image/*" >
                                </div>
                                <p class="edt-pro-btn-group">
                                    <input type="submit" ng-disabled="!dateerrcondition||sprojectform.title.$invalid || sprojectform.start_date.$invalid || sprojectform.completation_date.$invalid" value="Save" class="btn btn-default custom-btn btn-lg btn-submit" />
                                </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
<!-- <div class="panel panel-default custom-accordion-panel-default" id="student_profile_personnal" ng-if="student_profile_details.skill.length==0">
  <div class="panel-heading custom-accordion-heading">
    <h4 class="panel-title custom-accordion-title">
      <a href="#" data-target="#spersonal"  class="collapsed" data-toggle="collapse" data-parent="#accordion">
        <span class="glyphicon custom-glyphicon-accordion"></span>
        Personal
      </a>
    </h4>
  </div>
  <div id="spersonal" class="panel-collapse custom-panel-accordion-collapse collapse">
    <form name="spersonalform" ng-submit="personnalskillsubmit()">
      <div class="row">

        <div class="col-sm-12  col-md-12">

          <div class="form-group-edit-profile">
            <div class="form-group custom-lider-form-group">
              <input type="hidden" class="form-control custom-textbox" name="student" ng-model="skillsetpersonnalform.id">
            </div>
            <div class="form-group custom-lider-form-group">
              <label class="text-uppercase" ng-class="{'has-success': spersonalform.name.$valid}">Name</label>
              <input type="text" class="form-control custom-textbox" name="name" ng-model="skillsetpersonnalform.name" placeholder="Skill Name" ng-class="{'has-error': spersonalform.name.$touched, 'has-success': spersonalform.name.$valid}" required>
            </div>
            <div class="form-group custom-lider-form-group">
              <label class="text-uppercase" ng-class="{'has-success': spersonalform.rating.$valid}">Rating</label>
              <input type="text" class="form-control custom-textbox" name="rating" ng-model="skillsetpersonnalform.rating" placeholder="Skill Rating" ng-class="{'has-error': spersonalform.rating.$touched, 'has-success': spersonalform.rating.$valid}" required>
            </div>

          <p class="edt-pro-btn-group">
              <input type="submit" ng-disabled="spersonalform.name.$invalid &&  spersonalform.rating.$invalid" name="submit" value="Save" class="btn btn-default custom-btn btn-lg btn-submit">
            </p>
          </div>

        </div>


        <!- <hr class="hr-line-lidership"> ->
      </div>
      <!- <div class="row">
      <div class="col-sm-1 col-md-1 col-lidership-panel"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
      <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
    </div> ->
  </form>
</div>
</div> -->
<!-- <div class="panel panel-default custom-accordion-panel-default" id="student_profile_professional"  ng-if="student_profile_details.skill.length==0">
  <div class="panel-heading custom-accordion-heading">
    <h4 class="panel-title custom-accordion-title">
      <a href="#" data-target="#sprofessional"  class="collapsed" data-toggle="collapse" data-parent="#accordion">
        <span class="glyphicon custom-glyphicon-accordion"></span>
        Professional
      </a>
    </h4>
  </div>
  <div id="sprofessional" class="panel-collapse custom-panel-accordion-collapse collapse">
    <form name="sprofessionalform" ng-submit="professionalskillsubmit()">
      <div class="row">

        <div class="col-sm-12 col-md-12">
          <div class="form-group-edit-profile">
            <div class="form-group custom-lider-form-group">
              <input type="hidden" class="form-control custom-textbox" ng-model="skillsetprofessionalform.student" name="user">
            </div>
            <div class="form-group custom-lider-form-group">
              <label class="text-uppercase" ng-class="{'has-success': sprofessionalform.name.$valid}">Name</label>
              <input type="text" class="form-control custom-textbox" ng-model="skillsetprofessionalform.name" name="name" placeholder="Skill Name" ng-class="{'has-error': sprofessionalform.name.$touched, 'has-success': sprofessionalform.name.$valid}" required>
            </div>
            <div class="form-group custom-lider-form-group">
              <label class="text-uppercase" ng-class="{'has-success': sprofessionalform.rating.$valid}">Rating</label>
              <input type="text" class="form-control custom-textbox" ng-model="skillsetprofessionalform.rating" name="rating" placeholder="Skill Rating" ng-class="{'has-error': sprofessionalform.rating.$touched, 'has-success': sprofessionalform.rating.$valid}" required>
            </div>

            <p class="edt-pro-btn-group">
              <input type="submit" ng-disabled="sprofessionalform.name.$invalid &&  sprofessionalform.rating.$invalid" value="Submit" class="btn btn-default custom-btn btn-lg btn-submit" />
            </p></div>
          </div>
          <!- <hr class="hr-line-lidership"> ->
        </div>
        <!- <div class="row">
        <div class="col-sm-1 col-md-1 col-lidership-panel"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
        <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
      </div> ->
    </form>
  </div>
</div> -->
<!-- <div class="panel panel-default custom-accordion-panel-default" id="student_profile_software" ng-if="student_profile_details.skill.length==0">
  <div class="panel-heading custom-accordion-heading">
    <h4 class="panel-title custom-accordion-title">
      <a href="#" data-target="#ssoftware"  class="collapsed"  data-toggle="collapse" data-parent="#accordion">
        <span class="glyphicon custom-glyphicon-accordion"></span>
        Software
      </a>
    </h4>
  </div>
  <div id="ssoftware" class="panel-collapse custom-panel-accordion-collapse collapse">
    <form name="ssoftwareform"  ng-submit="softwareskillsubmit()">
      <div class="row">

        <div class="col-sm-12  col-md-12">
          <div class="form-group-edit-profile">
            <div class="form-group custom-lider-form-group">
              <input type="hidden" class="form-control custom-textbox" ng-model="skillsetsoftwareform.user" name="user">
            </div>
            <div class="form-group custom-lider-form-group">
              <label class="text-uppercase" ng-class="{'has-success': ssoftwareform.name.$valid}">Name</label>
              <input type="text" class="form-control custom-textbox" ng-model="skillsetsoftwareform.name" name="name" placeholder="Skill Name" ng-class="{'has-error': ssoftwareform.name.$touched, 'has-success': ssoftwareform.name.$valid}" required>
            </div>
            <div class="form-group custom-lider-form-group">
              <label class="text-uppercase" ng-class="{'has-success': ssoftwareform.rating.$valid}">Rating</label>
              <input type="text" class="form-control custom-textbox" ng-model="skillsetsoftwareform.rating" name="rating" placeholder="Skill Rating" ng-class="{'has-error': ssoftwareform.rating.$touched, 'has-success': ssoftwareform.rating.$valid}" required>
            </div>

            <p class="btn-panel-group">
              <input type="submit" ng-disabled="ssoftwareform.name.$invalid &&  ssoftwareform.rating.$invalid" value="Submit" class="
btn btn-default custom-btn btn-lg btn-submit" />
            </p>  </div>
          </div>
          <!- <hr class="hr-line-lidership"> ->
        </div>
        <!- <div class="row">
        <div class="col-sm-1 col-md-1 col-lidership-panel"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
        <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
      </div> ->
    </form>
  </div>
</div> -->




</div>
</div>
</div>
</section>
