<h1 class="h1 custom-page-h1" ng-if="company_profile_details.est_date_description && company_profile_details.establishment_date">Company</h1>
<section id="guest_company_profile_companies" class="page-section page-section-date-establishment" ng-if="company_profile_details.est_date_description && company_profile_details.establishment_date">
    <div class="row row-35">
        <div class="col-sm-5 text-center">
            <h1 class="custom-h1-02">
                Date of Establishment
            </h1>
            <p class="">{{company_profile_details.est_date_description}}</p>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
            <img src="assets/images/establishment-img.png" class="img-responsive" alt="">
            <div class="text-date-establishment">{{company_profile_details.establishment_date| date:"y"}}</div>
        </div>

    </div>
</section>
<section class="page-section page-section-intership" ng-if="company_profile_details.internships_to_jobs && company_profile_details.internships_job_description">
    <div class="row">
        <div class="col-sm-6 pull-left">
            <div class="progress-circle progress-{{company_profile_details.internships_to_jobs}}"><span>{{company_profile_details.internships_to_jobs}}</span></div>
        </div>

        <div class="col-sm-6">
            <h1 class="custom-h1-02">
                Internships
            </h1>
            <h3 class="">that turn into full-time jobs</h3>
            <p class="">{{company_profile_details.internships_job_description}}</p>
        </div>

    </div>
</section>
<section class="page-section page-section-company-size" ng-if="company_profile_details.company_size_description && company_profile_details.company_size">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="custom-h1-02">
                Company Size
            </h1>
            <p class="">{{company_profile_details.company_size_description}}</p>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <img src="assets/images/company-size-icon.png" class="img-responsive" alt="">
            <div class="text-company-size">
                {{company_profile_details.company_size}}+
                <span class="medium-text">people work for us</span>
            </div>
        </div>

    </div>
</section>
<section class="page-section page-section-hire-departure">
    <div class="row">
        <div class="col-sm-6 mt60 hire-section" ng-if="company_profile_details.hire_rates && company_profile_details.hire_rates_description">
            <h1 class="custom-h1-02">
                Hire Rates
            </h1>
            <p>
                <span class="large-text bold-text green-text">{{company_profile_details.hire_rates}}</span>
                <span class="bold-text"> people per year</span>
            </p>
            <div class="row">
                <div class="col-sm-8">
                    <p class="medium-text dark-grey-text mt20">{{company_profile_details.hire_rates_description}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt60 hire-section departure-section" ng-if="company_profile_details.departure_rate && company_profile_details.departure_rate_description">
            <h1 class="custom-h1-02">
                Departure Rates
            </h1>
            <p>
                <span class="large-text bold-text green-text">{{company_profile_details.departure_rate}}</span>
                <span class="bold-text"> people per year</span>
            </p>
            <div class="row">
                <div class="col-sm-8">
                    <p class="medium-text dark-grey-text mt20">{{company_profile_details.departure_rate_description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section-avg-salary" ng-if="company_profile_details.average_entry_level_sal">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="custom-h1-02">
                Average Entry Level Salary
            </h1>
        </div>
        <div class="col-sm-8">
            <img src="assets/images/entry-level-img.png" class="img-responsive" alt="">
            <div class="text-avg-salary">
                <small class="salary-per-month">$</small>{{company_profile_details.average_entry_level_sal}}
                <span class="txt-permonth">per month</span>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section-company-growth" ng-if="company_profile_details.growth_rate_description && company_profile_details.growth_rate">
    <div class="row">
        <div class="col-sm-6  pull-right">
            <h1 class="custom-h1-02">
                Company Growth Rate
            </h1>
            <h3 class="">during the last 10 years</h3>
            <p class="">{{company_profile_details.growth_rate_description}}</p>
        </div>
        <div class="col-sm-6 pull-left">
            <img src="assets/images/growth-img.png" class="img-responsive" alt="">
            <div class="txt-company-growth">+{{company_profile_details.growth_rate|number:0}}%</div>
        </div>

    </div>
</section>
<section class="page-section page-section-investor-confidence" ng-if="company_profile_details.investor_conf_description && company_profile_details.investor_confidence ">
    <div class="row">
        <div class="col-sm-5">
            <h1 class="custom-h1-02">
                Investor Confidence
            </h1>
            <p class="">{{company_profile_details.investor_conf_description}}</p>
        </div>
        <div class="col-sm-7">
            <img src="assets/images/investor-bg.png" class="img-responsive" alt="">
            <div class="txt-investor">
                {{company_profile_details.investor_confidence|number:2}}
                <span class="txt-investor-02"><i class="fa fa-long-arrow-down"></i> 6.5</span>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section-date-character"  ng-if="company_profile_details.characteristics.length > 0 ">
    <div class="row">
        <h1 class="h1 custom-h1">Characteristics</h1>
        <div class="row">
            <div class="col-sm-2">
                <p>My friends would describe me as</p>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4 col-sm-character" ng-repeat="characteristics in company_profile_details.characteristics">
                        <div class="cont-character">
                            <h2 class="counter-number">{{$index+1}} </h2>
                            <h5 class="custom-h5-02">{{characteristics.characteristic}}</h5>
                            <p>{{characteristics.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section-office" ng-if="company_profile_details.gallery.length > 0">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1 class="custom-h1-02">
                Office
            </h1>
        </div>
    </div>
    <div class="row row-10">
        <div class="col-sm-3" ng-repeat="galleries in company_profile_details.gallery">
            <img ng-src="{{galleries.photo}}" class="img-responsive" alt="Office">
        </div>
    </div>
</section>
<section class="page-section page-section-locations"  ng-if="company_profile_details.contacts.length > 0">
    <div class="row">
        <div class="col-xs-12 col-sm-12 ">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="custom-h1-02">
                        Locations
                    </h1>
                    <p class="">{{company_profile_details.contacts[0].address_1}}, {{company_profile_details.contacts[0].address_2}}</p>
                    <p class="">{{company_profile_details.contacts[0].city}}, {{company_profile_details.contacts[0].state}}</p>
                    <p class="">{{company_profile_details.contacts[0].country}}</p>
                    <p class="">{{company_profile_details.contacts[0].zip_code}}</p>
                    <p class="">{{company_profile_details.contacts[0].contact_no}}</p>
                    <p class="">{{company_profile_details.contacts[0].e_mail}}</p>
                </div>
                <div class="col-sm-6">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section-locations" ng-if="company_profile_details.founder.length > 0">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1 class="custom-h1-02">
                Founders
            </h1>
        </div>
    </div>
    <div class="row row-30">
        <div class="col-sm-4" ng-repeat="companyfounder in company_profile_details.founder">
            <img ng-src="{{companyfounder.photo}}" class="img-responsive" alt="Founder">
            <h4 class="text-uppercase bold-text">{{companyfounder.designation}}</h4>
        </div>
    </div>
</section>
