<section class="page-section  page-bg-gray page-section-search" ng-controller="UserSearch">
    <div class="container">
        <div class="form-group has-feedback form-group-search-page">
            <div class="input-group">
                <span class="input-group-addon input-custom-search glyphicon glyphicon-search"></span>
                <!-- <angucomplete-alt id="Search"
                    placeholder="Search for students, companiesm career fairs, jobs skills, industries, schools"
                    pause="400"
                    selected-object="testObj"
                    remote-url="http://52.43.26.31:8000/api/v1/flat_pages/recent_career_fairs/?fields="
                    title-field="title,city"
                    input-class="form-control custom-form-control-search-box"/> -->
                <form name="searchform" ng-submit="SearchsubmitFunc()">
                    <input type="text" name="" ng-model='keywords' placeholder="Search for students, companies, career fairs, jobs, skills, industries, schools" class="form-control custom-form-control-search-box " >
                </form>
            </div>
            <span class="glyphicon form-control-feedback glyphicon-remove" ng-click="search_field_clean()" style="cursor:pointer" aria-hidden="true"></span>
        </div>
        <div class="search-result-container search_result_remove_act">
            <div class="row custom-row-35">
                <div class="col-sm-6"   ng-controller="recentsearch">
                    <h5 class="custom-h5-03">Recent Searches</h5>
                    <div class="search-results">
                        <h4 class="search-answer" ng-repeat="recent in search_recent"><span class="search-name-display">{{recent.query}}</span> <!--small class="custom-gray-badge pull-right">Industry</small--></h4>
                    </div>
                </div>
                <div class="col-sm-6"  ng-controller="popularsearch">
                    <h5 class="custom-h5-03">Popular Searches</h5>
                    <div class="search-results">
                        <h4 class="search-answer" ng-repeat="popular in search_popular"><span class="search-name-display">{{popular.query}}</span> <!--small class="custom-gray-badge pull-right">Student</small--></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-result-container search_result_show_act" style="display:none;">
            <div class="text-center video_filter_search_result_empty hide"><h1>Sorry! No results found!</h1></div>
            <div class="row custom-row-35">
                <div class="col-sm-12">
                    <div class="search-container search_results_career_page_container_act" style="display:none;">
                        <div class="page-header custom-search-page-header">
                            <div class="pull-left">
                                <h3 class="h3 custom-h3 text-uppercase">Career fairs</h3>
                            </div>
                            <!-- <div class="pull-right"> <a href="#" class="link-all" title="Show All">Show All</a> </div> -->
                        </div>
                        <div class="media-search-group-container search_results_career_page_act">

                        </div>
                    </div>
                    <div class="search-container search_results_companies_container_act" style="display:none;">
                        <div class="page-header custom-search-page-header">
                            <div class="pull-left">
                               <h3 class="h3 custom-h3 text-uppercase">Companies</h3>
                            </div>
                            <!-- <div class="pull-right"> <a href="#" class="link-all" title="Show All">Show All</a> </div> -->
                        </div>
                        <div class="media-search-group-container search_results_companies_act">


                        </div>
                    </div>
                    <div class="search-container search_results_student_container_act" style="display:none;">
                        <div class="page-header custom-search-page-header">
                            <div class="pull-left">
                               <h3 class="h3 custom-h3 text-uppercase">Student</h3>
                            </div>
                            <!-- <div class="pull-right"> <a href="#" class="link-all" title="Show All">Show All</a> </div> -->
                        </div>
                        <div class="media-search-group-container search_results_student_act">


                        </div>
                    </div>
                    <div class="search-container search_results_video_container_act" style="display:none;">
                        <div class="page-header custom-search-page-header">
                            <div class="pull-left">
                                <h3 class="h3 custom-h3 text-uppercase">Videos</h3>
                            </div>
                            <!-- <div class="pull-right"> <a href="#" class="link-all" title="Show All">Show All</a> </div> -->
                        </div>
                        <div class="media-search-group-container search_results_video_act">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
