<section class="page-section page-section-tutorial" ng-controller="searchtutorial">
    <div class="container">
        <h2 class="h2 custom-h2">Tutorials</h2>
        <div class="row row-30">
            <div class="col-sm-6 col-30"  ng-repeat="helpvideo in search_tutorial_video">
                <a href="#" class="thumbnail custom-thumbnail">
                    <img ng-src="{{ helpvideo.thumbnail || 'assets/images/tutorials-1.jpg'}}" class="img-responsive" alt="">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5>{{ helpvideo.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-sm-6 col-30" ng-repeat="helpvideo in search_tutorial_video | limitTo:1" ng-if="$even">
                <a href="#" class="thumbnail custom-thumbnail">
                    <img ng-src="{{ helpvideo.thumbnail || 'assets/images/tutorials-1.jpg'}}" class="img-responsive" alt="">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5>{{ helpvideo.title }}</h5>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>