<section class="slider-profile-container">
    <div class="profile-bg-02 slider-company-profile">
        <div class="row">
            <div class="col-sm-7 text-center">
                <div class="slider-content-container"> <img ng-src="{{company_profile_details.logo}}" class="img-user-profile">
                    <div class="slider-content-group">
                        <h1 class="h1 custom-h1">{{company_profile_details.name}}</h1>
                        <h5 class="h5-companyname">{{company_profile_details.category}}</h5>
                        <h4 class="h5-companyname">{{company_profile_details.product_category}}</h4>
                        <div class="button-company-slider">
                            <!-- <a href="#" title="Message" class="btn btn-default custom-btn-edit-profile"><span class="fa fa-envelope-o"></span>Message</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pull-left text-right">
                <div class="video-content">
                    <video width="100%" controls>
                        <source src="assets/images/big_buck_bunny.mp4" type="video/mp4">
                        <source src="assets/images/big_buck_bunny.ogg" type="video/ogg">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="social-network-container">
        <div class="pull-left">
            <ul class="social-network">
                <li><a ng-if="company_profile_details.facebook_url" href="{{company_profile_details.facebook_url}}" target="_blank" class="fa fa-facebook"></a></li>
                <li><a ng-if="company_profile_details.linkedin_url" href="{{company_profile_details.linkedin_url}}" target="_blank" class="fa fa-linkedin"></a></li>
                <li><a ng-if="company_profile_details.twitter_url" href="{{company_profile_details.twitter_url}}" target="_blank" class="fa fa-twitter"></a></li>
                <li><a ng-if="company_profile_details.website" href="{{company_profile_details.website}}" target="_blank" class="fa fa-globe"></a></li>
            </ul>
        </div>
        <div class="pull-right">
            <span class="group-followers"><span class="total-followers">{{company_profile_details.careerfairs.length}}</span> career fair</span>
            <span class="group-followers"><span class="total-followers">{{company_profile_details.employees}}</span> employees</span>
            <span class="group-followers"><span class="total-followers">{{company_profile_details.followers.length}}</span> followers</span>
        </div>
    </div>
</section>
