<h1 class="h1 custom-page-h1">Career fairs</h1>
<div class="row custom-row-10 row-emp-pro-career-fair">
    <!-- <div class="col-sm-12">
        <h2 class="h2 custom-page-h2">University of denver fall
            <div class="custom-page-h2-bottom">
                career fair 2015-16
            </div>
        </h2>
    </div> -->
    <div class="col-sm-6" ng-repeat="cmpny_career in company_profile_details.career_fair">
        <a href="#" ng-click="videoPopup(cmpny_career.id)" class="thumbnail  customn-thumbs-color-02 custom-thumbnail-image-gallery">
            <img src="{{cmpny_career.image}}" class="img-responsive custom-img-responsive">
            <div class="overlay "></div>
            <span class="arrow-triangle"></span>
            <div class="box-inside-content">
                <h6 class="h6 custom-h6">{{cmpny_career.where}}</h6>
                <h1 class="h1 custom-gallery-h1">{{cmpny_career.title}}</h1>
            </div>
        </a>
    </div>
</div>
