<section id="company_student_profile_aboutme" class="page-section page-section-about-me">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2">
                <h1 class="h1 custom-page-h1">About me</h1>
                <h1 class="h1 custom-h1" ng-if="student_profile_details.hobby.length > 0">Hobbies</h1>
                <div class="row" ng-if="student_profile_details.hobby.length > 0">
                    <div class="col-sm-9">
                        <p class="cont-experience">Point of sale hardware, the till at a shop check out, has become very complex over
                            the past ten years, modern POS hardware inckudes the cash till, bar-code readers,
                            scales, belts, communications system and modern.
                        </p>
                        <div class="row custom-row-10">
                            <div class="col-sm-4" ng-repeat="studenthobby in student_profile_details.hobby">
                                <div class="thumbnail custom-thumbnail-profile-views"> <img ng-src="{{studenthobby.image}}" class="img-responsive custom-img-responsive"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="h1 custom-h1" ng-if="student_profile_details.student_characteristic.length > 0">Characteristics</h1>
                <div class="row" ng-if="student_profile_details.student_characteristic.length > 0">
                    <div class="col-sm-2">
                        <p>My friends would describe me as</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4 col-sm-character" ng-repeat="studentcharacter in student_profile_details.student_characteristic">
                                <div class="cont-character">
                                    <h2 class="counter-number">{{$index+1}} </h2>
                                    <h5 class="custom-h5-02">{{studentcharacter.character}}</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="h1 custom-h1">What i'm looking for</h1>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row custom-row-15" >
                            <div class="col-sm-4">
                                <div class="thumbnail custom-thumbnail-profile-views"> <img src="assets/images/carlos-morton.jpg" alt="carlos-morton.jpg" class="img-responsive custom-img-responsive">
                                    <div class="box-inside-content">
                                        <h1 class="h1 custom-gallery-h1">Flat Surface Project</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail custom-thumbnail-profile-views"> <img src="assets/images/carlos-morton.jpg" alt="carlos-morton.jpg" class="img-responsive custom-img-responsive">
                                    <div class="box-inside-content">
                                        <h1 class="h1 custom-gallery-h1">High earnings</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail custom-thumbnail-profile-views"> <img src="assets/images/carlos-morton.jpg" alt="carlos-morton.jpg" class="img-responsive custom-img-responsive">
                                    <div class="box-inside-content">
                                        <h1 class="h1 custom-gallery-h1">Official employemnet</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail custom-thumbnail-profile-views"> <img src="assets/images/carlos-morton.jpg" alt="carlos-morton.jpg" class="img-responsive custom-img-responsive">
                                    <div class="box-inside-content">
                                        <h1 class="h1 custom-gallery-h1">Friendly staff</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail custom-thumbnail-profile-views"> <img src="assets/images/carlos-morton.jpg" alt="carlos-morton.jpg" class="img-responsive custom-img-responsive">
                                    <div class="box-inside-content">
                                        <h1 class="h1 custom-gallery-h1">Career growth</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
