<section id="company_student_profile_aboutme" class="page-section page-section-about-me">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2">
                <h1 class="h1 custom-page-h1">About me</h1>
                <h1 class="h1 custom-h1" ng-if="student_profile_details.hobby.length > 0">Hobbies</h1>
                <div class="row" ng-if="student_profile_details.hobby.length > 0">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6 col-sm-character" ng-repeat="hobby in student_profile_details.hobby">
                        <div class="cont-character">
                          <h2 class="counter-number">{{$index+1}}</h2>
                          <h5 class="custom-h5-02">{{hobby.name}}</h5>
                          <p>{{hobby.description}}</p>
                        </div>
                        <div ng-if="hobby.image" class="row custom-row-10 custom-thumbnail-profile-20">
                          <div class="col-sm-12">
                            <div class="thumbnail custom-thumbnail-profile-views ">
                              <img ng-if="hobby.image" ng-src="{{hobby.image}}" class="img-responsive custom-img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--row-->
                  </div><!--col-sm-12-->
                </div>
                <h1 class="h1 custom-h1" ng-if="student_profile_details.student_characteristic.length > 0">Characteristics</h1>
                <div class="row" ng-if="student_profile_details.student_characteristic.length > 0">
                    <div class="col-sm-2">
                        <p>My friends would describe me as</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4 col-sm-character" ng-repeat="studentcharacter in student_profile_details.student_characteristic">
                                <div class="cont-character">
                                    <h2 class="counter-number">{{$index+1}} </h2>
                                    <h5 class="custom-h5-02">{{studentcharacter.character}}</h5>
                                    <p>{{studentcharacter.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-section-about-charecter">
                  <h1 class="h1 custom-h1-01 custom-h1-05" ng-if="student_profile_details.whatimlooking.length > 0">What i'm looking for</h1>
                  <div class="row" ng-if="student_profile_details.whatimlooking.length > 0">
                    <div class="col-sm-12 col-md-12">
                      <div class="row custom-row-10 custom-thumbnail-profile-5" >
                        <div class="col-sm-3" ng-repeat="studentlooking in student_profile_details.whatimlooking">
                          <div class="thumbnail custom-thumbnail-profile-views"> <img src="{{studentlooking.image_url}}" alt="carlos-morton.jpg" class="img-responsive custom-img-responsive">
                            <div class="box-inside-content">
                              <h1 class="h1 custom-gallery-h1">{{studentlooking.whatimlooking}}</h1>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
