
<div  ng-controller="company_student_profile">
    <div class="container">

        <div class="row">
            <aside class="col-sm-2 sidebar-navi-default">
                <nav  class="sidebar-navigation">
                    <ul class="custom-sidebar-nav">
                        <li ng-if="student_profile_details.video.length > 0"><a href="" scroll-to="company_student_profile_videos" title="Videos">Videos</a></li>
                        <li ng-if="student_profile_details.hobby.length > 0 || student_profile_details.student_characteristic.length > 0 ||"><a href="" scroll-to="company_student_profile_aboutme" title="About me">About me</a></li>
                        <li ng-if="student_profile_details.education.length > 0"><a href="" scroll-to="company_student_profile_education" title="Education">Education</a></li>
                        <li ng-if="student_profile_details.experience.length > 0 || student_profile_details.project.length > 0"><a href="" scroll-to="company_student_profile_experience" title="Experience">Experience</a></li>
                        <li ng-if="student_profile_details.skill.length > 0"><a href="" scroll-to="company_student_profile_skills" title="Skills">Skills</a></li>
                        <!-- <li><a href="" scroll-to="company_student_profile_skills" title="Reviews">Reviews</a></li> -->
                    </ul>
                </nav>
            </aside>

            <div class="col-sm-offset-2">

                <section class="page-section page-section-videos">

                    <div ng-include ="'CompanyRole/student_profile/basic_profile.html'"></div>

                    <!-- <div ng-include ="'CompanyRole/student_profile/extra.html'"></div> -->

                    <div ng-include ="'CompanyRole/student_profile/video.html'"></div>

                </section>

            </div>
        </div>
    </div>
    <div class="page-about-me-section">

        <div ng-include ="'CompanyRole/student_profile/aboutme.html'"></div>

        <div ng-include ="'CompanyRole/student_profile/leadership.html'"></div>

        <div ng-include ="'CompanyRole/student_profile/instagram.html'"></div>

    </div>

    <div ng-include ="'CompanyRole/student_profile/education.html'"></div>

    <div ng-include ="'CompanyRole/student_profile/experience.html'"></div>

    <div ng-include ="'CompanyRole/student_profile/skills.html'"></div>
</div>
