<!--[All Comapnies Section Start]-->
<section class="page-section  page-section-All-companies allcompanies_act page-section-top-companies" ng-controller="all_companies">
    <div class="container">
         <div class="row custom-row-10">
            <div class="col-sm-12">
                <div class="page-header custom-page-header">
                    <div class="pull-left">
                        <h3 class="h3 custom-h3">ALL JOBS</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" ng-repeat-start="all_comp in all_company">
                <a href="/company/{{all_comp.slug}}" class="custom-company-list">
                    <div class="thumbnail custom-thumbnail-company-logo">
                      <img ng-src="{{all_comp.logo}}" class="logo-companies-box" ng-if="all_comp.logo">
                      <div ng-if="!all_comp.logo" class="logo-companies-box grey_logo_icon">
                        <ng-letter-avatar ng-if="!all_comp.logo" alphabetcolors="grey" charCount="2" data="{{all_comp.name}}"></ng-letter-avatar>
                      </div>
                    </div>
                    <div class="company-heading-group">
                        <h4 class="h4 custom-h4">{{all_comp.name}} </h4>
                        <h5 class="h5 custom-h5">{{all_comp.city}}, {{all_comp.state}}</h5>
                    </div>
                </a>
            </div>
            <div ng-repeat-end ng-if="$index+1 % 6 == 0" class="clearfix"></div>
        </div>
    </div>
</section>
<!--[All Company Sections End]-->
