<!--[Employee Category]-->
<section class="page-section  page-section-employees companies_act_categ"  ng-controller="student_categorys" ng-if="student_det.employees.length > 0">
  <div class="container">
    <div class="row custom-row-35">
      <slick class="slider" settings="guestjobStucateConfig" ng-if="guestjobStucateLoaded">
        <div class="slide"  ng-repeat="student_det in student_cate ">
          <div class="col-sm-12">
            <div class="panel panel-default custom-panne1-companies">
              <!-- Default panel contents -->
              <div class="panel-heading custom-panel-heading-companies">
                <h3 class="h3 custom-h3">{{ student_det.category }}
                  <span class="small pull-right" ng-class="{'custom-small-h3': student_det.employees.length > 3}">{{student_det.employees.length}}
                      <div class="company-list-tooltip">
                          <div class="media-group-container">
                              <!-- ngRepeat: stu in student_det.students | limitTo:3 -->
                              <div class="media custom-media custom-media-student ng-scope" ng-repeat="stu in student_det.employees | startFrom : 3" ng-if="student_det.employees.length > 3">
                                  <a href="/student/karina-yancy-c1dadea1" class="student-categories-list">
                                      <div class="media-left media-middle custom-media-left">
                                          <div ng-if="!stu.profile_picture" class="grey_logo_icon media-object custom-media-object">
                                              <ng-letter-avatar ng-if="!stu.profile_picture" alphabetcolors="grey" charCount="2" data="{{stu.first_name}}"></ng-letter-avatar>
                                          </div>
                                          <img class="media-object custom-media-object ng-scope" ng-if="stu.profile_picture" ng-src="{{stu.profile_picture}}" alt="Student Logo">
                                      </div>
                                      <div class="media-body custom-media-body">
                                          <h4 class="media-heading custom-media-heading ng-binding">{{stu.first_name}}</h4>
                                          <h5 class="media-eading-h5 ng-binding ng-scope" ng-if="stu.city && stu.state">{{ stu.city }}, {{ stu.state }}</h5><!-- end ngIf: stu.city && stu.state -->
                                      </div>
                                  </a>
                              </div><!-- end ngRepeat: stu in student_det.students | limitTo:3 -->
                          </div>
                      </div>
                  </span>
                </h3>
              </div>
              <div class="media-group-container">
                <div class="media custom-media" ng-repeat="stu in student_det.employees | limitTo:3">
                  <a href="/student/{{stu.user}}" >
                    <div class="media-left media-middle custom-media-left">
                      <div ng-if="!stu.profile_picture" class="grey_logo_icon media-object custom-media-object">
                        <ng-letter-avatar ng-if="!stu.profile_picture" alphabetcolors="grey" charCount="2" data="{{stu.first_name}}"></ng-letter-avatar>
                      </div>
                      <img class="media-object custom-media-object" ng-if="stu.profile_picture" ng-src="{{stu.profile_picture}}" alt="{{stu.first_name}}">
                    </div>
                    <div class="media-body custom-media-body">
                      <h4 class="media-heading custom-media-heading">{{stu.first_name}}</h4>
                      <h5 class="media-eading-h5">{{ stu.city }},{{ stu.state }}</h5>
                      <span  class="media-right-arrow"><i class="fa fa-angle-right"></i>
                      </span>
                    </div>
                  </a>
                </div><!--media-->
              </div><!--media-group-container-->
            </div>
          </div>
        </div><!--slide-->
      </slick>
    </div>
  </div>
</section>
<!--[Company category Section end]-->
