	<!--[Top 3 Comapnies Section Start]-->
	<section class="page-section page-bg-gray page-section-companies">
	  	<div class="container">
	   		<div class="page-header custom-page-header" ng-controller="all_companies">
	      		<div class="pull-left">
	        		<h1 class="h1 custom-h1-01 custom-h1-04">Companies</h1>
    				<div id="company_count" class="total-company-numbers">{{all_company.length }} Companies</div>
	      		</div>
    		</div>
	    	<div class="page-header custom-page-header" ng-controller="top_three_companies">
	      		<div class="pull-left">
	        		<h2 class="h2 custom-title custom-h2-04">Show companies from
	                    <span  class="dropdown" ng-controller="all_cities_list">
	        				<span ng-bind="cityValue" class="highlighted dropdown-toggle"  id="all_com_city" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" datacompanyval="">All cities</span>
			        		<ul class="dropdown-menu custom-drop-down dropdown-menu-cities" city-menu="cityValue" aria-labelledby="all_career_fair_near_user_city">
			        			<li ng-click="company_filters($event)"  datavalue=""><a href="" title="upcoming">All cities</a></li>
			    				<li ng-click="company_filters($event)"  ng-repeat="allcities in all_city_list | unique:'city'| orderBy : 'city'" datavalue="{{allcities.city}}"><a href="" title="cities">{{allcities.city}}</a></li>
							</ul>
	    				</span>
	                    , specializing in
	                    <span class="dropdown" ng-controller="company_category">
	        				<span ng-bind="companyValue" class="highlighted dropdown-toggle"  id="all_com_company" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" datacompanyval="">All industries</span>
			        		<ul class="dropdown-menu custom-drop-down dropdown-menu-cities" company-menu="companyValue" aria-labelledby="all_career_fair_near_user_company">
			    				<li ng-click="company_filters($event)"  datavalue=""><a href="" title="upcoming">All industries</a></li>
			    				<li ng-click="company_filters($event)" ng-repeat="compa_cate in company_cate | unique:'category'| orderBy : 'category' " datavalue="{{compa_cate.category}}"><a href="" title="upcoming">{{compa_cate.category}}</a></li>
							</ul>
	    				</span>
	        		</h2>
	      		</div>
	    	</div>
             <div class="top-3-companies">
	    	<div class="row custom-row-35 top_three_company_act" ng-controller="top_three_companies">
	      		<div class="col-sm-12">
	        		<div class="page-header custom-page-header">
	          			<div class="pull-left">
	            			<h3 class="h3 custom-h3">Top 3 Companies</h3>
	          			</div>
	        		</div>
	      		</div>
	      		<div class="col-sm-4" ng-repeat="comp in top_three_company">
					<a href="/company/{{ comp.company.id }}" class="company-list-box">
		        		<div class="thumbnail custom-thumbnail-company-logo">
							<img ng-if="comp.company.logo" ng-src="{{ comp.company.logo }}" class="logo-companies-box">
							<img ng-src="assets/images/profileicon.png" class="logo-companies-box" ng-if="!comp.company.logo" alt="">
						</div>
		        		<div class="company-heading-group">
		          			<h4 class="h4 custom-h4">{{ comp.company.name }} </h4>
		          			<h5 ng-if="comp.company.city && comp.company.state">{{ comp.company.city }}, {{ comp.company.state }}</h5>
		        		</div>
					</a>
	      		</div>

	    	</div>
            </div>
	    	<div class="company_search_result grid"></div>
			<div class="text-center video_filter_search_result_empty hide"><h1>Sorry! No results found!</h1></div>
		</div>
	</section>
<!--[Top 3 Company Sections End]-->
