<!-- Modal Company Registration content Start-->
<div class="modal fade custom-model custom-model-registration" id="companyregistration" role="dialog" ng-controller="IdentifyUser">
  <form name="companyregistrations">
    <div class="modal-dialog custom-modal-880">
      <div class="modal-content custom-modal-video-content">
        <div class="modal-header cusom-model-dashboard-header">
          <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
           <div class="login-top-step-prev">
          <div class="pull-left">
              <!--<a href="careerfairs.html" title="Step" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span>Step 1</a>-->
            </div>
            </div>
          <div class="page-step-container">

            <!--<span>Step 2 of 2</span>-->
          </div>
          <h1 class="custom-h1-01 text-center">Company Registration</h1>
        </div>

        <div class="modal-body custom-modal-body-login">
          <div class="form-group">
            <label class="text-uppercase">First Name</label>
            <input type="text" class="form-control custom-form-control-br-bottom" id="your-name" name="name" ng-model="name" required=""/>
            <input type="hidden" id="email" name="e_mail" ng-model="e_mail" />
            <input type="hidden" name="iaccept" value="true" name="iaccept" ng-model="iaccept" />
          </div>
          <div class="form-group">
              <label class="text-uppercase">Last Name</label>
              <input type="text" class="form-control custom-form-control-br-bottom" id="your-lname" name="lname" ng-model="lname"  required/>
          </div>
          <div class="form-group">
            <label class="text-uppercase">Company Name</label>
            <input type="text" class="form-control custom-form-control-br-bottom" id="company-name" name="cname" ng-model="cname" required="" />
          </div>
          <div class="form-group">
            <label class="text-uppercase">Create Password</label>
            <input type="password" class="form-control custom-form-control-br-bottom" id="create-password" name="password" ng-model="password" required="" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" tooltip-placement="bottom" uib-tooltip="Password strength: Use at least 8 characters with combination of 1 numeric, special character, 1 capital letter." />
          </div>
        </div>

        <div class="modal-footer custom-login-modal-footer">
          <button type="submit" ng-click="CompanyRegistratoin()" ng-disabled="companyregistrations.$invalid" class="btn btn-default custom-btn-login">Sign up</button>
          <p class="link-signup-student">By clicking "Sign Up" I agree to FirstSynch's <a href="/termsandcondtion" target="_blank" class="link-green">Terms of Service.</a></p>

        </div>

      </div>


    </div>
  </form>
</div>
<!-- Modal Company Registration content End-->
