<!--forgot password-->
<div class="modal fade" id="ForgotPassword" tabindex="-1" role="dialog">
  <form name="forgotpassword">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><img class="img-responsive" src="assets/images/close.png" alt="" /></span>
      </button>
      <div class="modal-body">
        <h2 class="text-uppercase text-center bold-text">Fogot Password</h2>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2" style="color: green; font-weight: bold;">{{success}}</div>
          <div class="col-sm-8 col-sm-offset-2 hide1">
              <div style="color: red; font-weight: bold;">{{failure}}</div>
              <div class="form-group" id="success_msg">
                <label for="email">Your E-mail</label>
                <input type="email" id="email" name="e_mail" class="form-control" ng-model="e_mail" ng-model="e_mail" required="" />
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer hide1">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" ng-click="ForgotPassword()" ng-disabled="forgotpassword.$invalid" class="btn btn-default btn-block">Fogot Password</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form>
</div><!-- /.modal -->
<!-- forgot password Modal Ends -->