<!--forgot password-->
<div class="modal fade  custom-model custom-model-registration" id="ForgotPassword" role="dialog" ng-controller="ForgotPassword">
  <form name="forgotpassword">
  <div class="modal-dialog custom-modal-880" role="document">
    <div class="modal-content custom-modal-video-content">
<button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>

      <h1 class="custom-h1-01 text-center title-login">Fogot Password</h1>

      <div class="modal-body ">

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center forgotpasswordsuccess" style="color: green; font-weight: bold;">{{success}}</div>
          <div class="col-sm-8 col-sm-offset-2 hide1">
              <div style="color: red; font-weight: bold;" class="text-center">{{failure}}</div>
              <div class="form-group" id="success_msg">
                <label for="email">Your E-mail</label>
                <input type="email" id="email" name="e_mail" class="form-control custom-form-control-br-bottom" ng-model="e_mail" ng-model="e_mail" required="" />
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer custom-login-modal-footer custom-login-modal-footer-02 hide1">
<button type="submit" ng-click="ForgotPassword()" ng-disabled="forgotpassword.$invalid" class=" btn btn-default custom-btn-login custom-btn-login-enbled ">Forgot Password</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form>
</div><!-- /.modal -->
<!-- forgot password Modal Ends -->
