<div class="modal fade custom-model custom-model-registration" id="logIn" tabindex="-1" role="dialog" ng-controller="Login">
  <form name="userloginform">
    <div class="modal-dialog custom-modal-880" role="document">
      <div class="modal-content custom-modal-video-content">
        <div class="modal-header cusom-model-dashboard-header">
          <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
          <h1 class="custom-h1-01 text-center title-login">Log in to firstsynch</h1>
        </div>

        <div class="modal-body custom-modal-body-login">
          <span style="color:red;" class="error_message"> {{status.non_field_errors}} </span>
          <div class="form-group">
            <label class="text-uppercase">Email Address</label>
            <input type="email" name="username" class="form-control custom-form-control-br-bottom" id="username" ng-model="username" required/>
          </div>

          <div class="form-group">
            <label class="text-uppercase">Password</label>
            <input type="password" name="password" class="form-control custom-form-control-br-bottom" id="password" ng-model="password" required/>
            <input type="hidden" name="redirecturl" id="redirecturl" value="" ng-model="redirecturl"/>
            <input type="hidden" name="videoid" id="videoid" value="" ng-model="videoid"/>
          </div>
        </div>

        <div class="modal-footer custom-login-modal-footer custom-login-modal-footer-02">
          <button ng-click="LoginUser()" ng-disabled="userloginform.password.$invalid && userloginform.username.$invalid" class="btn btn-default custom-btn-login custom-btn-login-enbled">Log in <img src="assets/images/loader.gif" class="loader_icon" style="width: 20px; margin-left: 10px; display:none;"></button>
          <a data-toggle="modal" data-target="#ForgotPassword" data-dismiss="modal" href="#" class="link-forgot-password" href="#">Forgot Password</a>
           <a  href="{{facebookloginurl}}" class="link-forgot-password" >Facebooklogin</a>
        </div>

      </div>


    </div>
  </form>
</div>
<!-- logIn Modal Ends -->
