<!-- Modal Registration content Start-->
<div class="modal fade custom-model" id="signUp" tabindex="-1" role="dialog"  ng-controller="IdentifyUser" data-backdrop="static">
  <form name="studentregistration">
    <div class="modal-dialog">
      <div class="modal-content custom-modal-video-content">
        <div class="modal-header cusom-model-dashboard-header">
          <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
          <div class="page-step-container">
            <div class="pull-left">
              <a href="careerfairs.html" title="Step" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span>Step 1</a>
            </div>
            <span>Step 2 of 2</span>
            <div class="pull-right">
              <a href="careerfairs.html" title="Email Support" class="email-support"><span class="fa fa-question circle-icon"></span>Email Support</a>
            </div>
          </div>
          <h1 class="custom-h1 text-center">Student Registration</h1>
        </div>

        <div class="modal-body custom-modal-body-login">
          <span style="color: green; font-weight: bold;">{{message}}</span>
          <div class="form-group">
            <label class="text-uppercase">Your Name</label>
            <input type="text" class="form-control custom-form-control-br-bottom" id="your-name" name="name" ng-model="name"  required/>
            <input type="hidden" id="e_mail" name="e_mail" ng-model="e_mail" />
            <input type="hidden" name="iaccept" value="true" name="iaccept" ng-model="iaccept" />
          </div>
          <div class="form-group">
            <label class="text-uppercase">University Name</label>
            <div angucomplete-alt id="universities"
              placeholder="Search countries"
              maxlength="50"
              pause="100"
              selected-object="selecteduniversity"
              local-data="university"
              search-fields="Institution_Name"
              title-field="Institution_Name"
              minlength="1"
              input-class="form-control custom-form-control-br-bottom"
              field-required="true"
              match-class="highlight"></div>
            <input type="hidden" class="form-control custom-form-control-br-bottom" id="university-name" name="school_name" value="{{selecteduniversity.originalObject.Institution_Name}}" ng-model="school_name"/>
          </div>

          <div class="form-group">
            <label class="text-uppercase">Your Gpa</label>
            <input type="text" class="form-control custom-form-control-br-bottom" id="gpa" name="gpa" ng-model="gpa" required/>
          </div>

          <div class="form-group">
            <label class="text-uppercase">Create Password</label>
            <input type="password" class="form-control custom-form-control-br-bottom" id="create-password" name="password" ng-model="password" required/>
          </div>
          <!--<div class="form-group">
            <div class="pull-left">
              <label class="text-uppercase">Request to use information Password</label>
              <p>Allow us to pull your info from open sources</p>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-default background-color-05 custom-btn-allow" >Allow</button>
              <button type="button" class="btn btn-default custom-btn-forbid" >Forbid</button>
            </div>

          </div>-->

        </div>

        <div class="modal-footer custom-login-modal-footer">
          <button type="submit" ng-click="StudentRegistratoin()" ng-disabled="studentregistration.$invalid" class="btn btn-default custom-btn-login" disabled>Sign up</button>
          <p class="link-signup-student">By clicking "Sign Up" I agree to FirstSynch's <a href="/termsandcondtion" target="_blank" class="link-green">Terms of Service.</a></p>

        </div>

      </div>


    </div>
  </form>
</div>
<!-- Modal Registration content End-->
