<div id="personal" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="personnalskillmessage">{{personnalskillmessage}}</div>
           <h1 class="custom-h1-01 custom-h1-btm-space-55">Personal</h1>
        <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="personnalskill in skillsetpersonnalform | filter:{skill_type:'Personal'}">
            <input id="personnalskill" class="checkbox-input" checked="" type="checkbox">
            <label for="personnalskill" class="checkbox-label"> {{personnalskill.name}} - {{personnalskill.rating}}</label>
        </div>
        <form name="sepersonnalskillform" ng-submit="personnalskillsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1">
                    <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span>
                </div>
                <div class="col-sm-11 col-md-11">
                    <div class="form-group custom-lider-form-grou">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" name="student" ng-model="skillsetpersonnalform.student">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" name="skill_type" ng-model="skillsetpersonnalform.skill_type">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': sepersonnalskillform.name.$valid}">Name</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" name="name" ng-model="skillsetpersonnalform.name" placeholder="Skill Name" ng-class="{'has-error': skillsetpersonnalform.name.$touched, 'has-success': skillsetpersonnalform.name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': sepersonnalskillform.rating.$valid}">Rating</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" name="rating" ng-model="skillsetpersonnalform.rating" placeholder="Skill Rating" ng-class="{'has-error': sepersonnalskillform.rating.$touched, 'has-success': sepersonnalskillform.rating.$valid}" required>
                    </div>
                </div>
                <input type="submit" ng-disabled="sepersonnalskillform.name.$invalid || sepersonnalskillform.rating.$invalid" name="submit" value="Save" class="btn btn-default custom-btn btn-lg">
                <!-- <hr class="hr-line-lidership"> -->
            </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Skills</a> </div>
            </div> -->
        </form>
    </div>
</div>
