<div id="characteristics" class="tab-pane hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="charactermessage">{{charactermessage}}</div>
        <h1 class="page-title">Charactertics</h1>
        <p>Select things that are important in a potential job <span class="text-description">(Select 4/5 characteristics)</span></p>
        <form>
            <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="characters in listofcharacter | unique:'character'">
                <input id="{{characters.character}}" class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox"  ng-checked="characters.student == stud_id">
                <label for="{{characters.character}}" class="checkbox-label"> {{characters.character}}</label>
            </div>
            <!-- <input id="Realistic" class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label for="Realistic" class="checkbox-label"> Realistic</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Investigative</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Artistic</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Social</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Enterprising</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Conventional</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Rule Follower</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Self-Motivated</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Responsibility</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Accustomed to Routine</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Learned Study Skills</label>
            <input class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox">
            <label class="checkbox-label"> Love of Reading</label> -->
            <p>
                <input type="submit"  class="btn btn-default custom-btn btn-lg" name="submit" value="Save" ng-click="charactersubmit()"/>
                <button type="button" class="btn btn-primary custom-btn btn-cancel btn-lg">Cancel</button>
            </p>
        </form>
    </div>
</div>
