<div id="my-schools" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="educationmessage">{{educationmessage}}</div>
           <h1 class="custom-h1-01 custom-h1-btm-space-55">My Schools</h1>
         <table class="table table-striped">
            <tr>
                <th>S.no</th>
                <th>School</th>
                <th>Major</th>
                <th>Year Started</th>
                <th>Graduated Year</th>
                <th>GPA</th>
                <th>GPA Rating</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="education in educationform">
                <td>{{ $index+1 }}</td>
                <td>{{ education.school_name }}</td>
                <td>{{ education.year_started }}</td>
                <td>{{ education.year_graduated }}</td>
                <td>{{ education.major }}</td>
                <td>{{ education.gpa }}</td>
                <td>{{ education.gpa_rating }}</td>
                <td><a ng-click="editeducation( education )" class="button  btn-link"><span class="glyphicon glyphicon-pencil"></span></a>  <a ng-click="removeeducation( education )" class="button  btn-link"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>

        </table>
        <!-- <hr class="hr-line-lidership"> -->
        <form name="seeducationform" ng-submit="educationsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': seeducationform.school_name.$valid}">School</label>
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="educationform.user" name="user">
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="educationform.school_name" placeholder="School Name" name="school_name" ng-class="{'has-error': educationform.school_name.$touched, 'has-success': educationform.school_name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': seeducationform.major.$valid}">Major</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="educationform.major" placeholder="Major"  name="major" ng-class="{'has-error': educationform.major.$touched, 'has-success': educationform.major.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': seeducationform.year_started.$valid}">Year Started</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="educationform.year_started" datepicker placeholder="Start Date"  name="year_started" ng-class="{'has-error': educationform.year_started.$touched, 'has-success': educationform.year_started.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': seeducationform.year_graduated.$valid}">Graduated Year</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="educationform.year_graduated" datepicker  placeholder="Graduated Year" name="year_graduated" ng-class="{'has-error': educationform.year_graduated.$touched, 'has-success': educationform.year_graduated.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">GPA</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="educationform.gpa" placeholder="GPA">
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">GPA Rating</label>
                        <input type="text" class="form-control custom-form-control-br-bottom" ng-model="educationform.gpa_rating" placeholder="GPA Rating">
                    </div>
                    <p class="edt-pro-btn-group">
                <input type="submit" value="Submit" ng-disabled="seeducationform.school_name.$invalid || seeducationform.major.$invalid || seeducationform.year_started.$invalid || seeducationform.year_graduated.$invalid" class="btn btn-default custom-btn btn-lg btn-submit" />
                </p>
                </div>
                 
            </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
            </div> -->
        </form>
    </div>
</div>
