<div id="what-iam-looking" class="tab-pane hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="whatiammessage">{{whatiammessage}}</div>
          <h1 class="custom-h1-01 custom-h1-btm-space-55">What I'm looking for</h1>
        <p class="content-profile-description">Select things that are important in a potential job <span class="text-description">(Select {{sewshouldDisablecount}}/5 characteristics)</span></p>
        <form  ng-submit="whatiamlookingsubmit()">
            <input type="hidden" name="lookingid" ng-model="looking.id">
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="a-role-in-a-large-company" class="checkbox-input" ng-disabled="sewshouldDisable('Aroleinalargecompany')" ng-model="whatiamlooking['Aroleinalargecompany']" type="checkbox">
                <label for="a-role-in-a-large-company" class="checkbox-label"> A role in a large company</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="build-a-career" class="checkbox-input" ng-disabled="sewshouldDisable('Buildacareer')" ng-model="whatiamlooking['Buildacareer']" type="checkbox">
                <label for="build-a-career" class="checkbox-label"> Build a career</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="career-growth" class="checkbox-input" ng-disabled="sewshouldDisable('Careergrowth')" ng-model="whatiamlooking['Careergrowth']" type="checkbox">
                <label for="career-growth" class="checkbox-label"> Career growth</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="explain-your-motivation" class="checkbox-input" ng-disabled="sewshouldDisable('Explainyourmotivation')" ng-model="whatiamlooking['Explainyourmotivation']" type="checkbox">
                <label for="explain-your-motivation" class="checkbox-label"> Explain your motivation</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="extremely-productive-and-creative" class="checkbox-input" ng-disabled="sewshouldDisable('Extremelyproductiveandcreative')" ng-model="whatiamlooking['Extremelyproductiveandcreative']" type="checkbox">
                <label for="extremely-productive-and-creative" class="checkbox-label"> Extremely productive and creative</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="friendly-staff" class="checkbox-input" ng-disabled="sewshouldDisable('Friendlystaff')" ng-model="whatiamlooking['Friendlystaff']" type="checkbox">
                <label for="friendly-staff" class="checkbox-label"> Friendly staff</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="high-earnings" class="checkbox-input" ng-disabled="sewshouldDisable('Highearnings')" ng-model="whatiamlooking['Highearnings']" type="checkbox">
                <label for="high-earnings" class="checkbox-label"> High earnings</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="interesting-projects" class="checkbox-input" ng-disabled="sewshouldDisable('Interestingprojects')" ng-model="whatiamlooking['Interestingprojects']" type="checkbox">
                <label for="interesting-projects" class="checkbox-label"> Interesting projects</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="learn-new-things" class="checkbox-input" ng-disabled="sewshouldDisable('Learnnewthings')" ng-model="whatiamlooking['Learnnewthings']" type="checkbox">
                <label for="learn-new-things" class="checkbox-label"> Learn new things</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="official-employment" class="checkbox-input" ng-disabled="sewshouldDisable('Officialemployment')" ng-model="whatiamlooking['Officialemployment']" type="checkbox">
                <label for="official-employment" class="checkbox-label"> Official employment</label>
            </div>
            <p class="edt-pro-btn-group">
                <input type="submit" ng-disabled="!sewhatiamlookingbtndisable" value="Submit" class="btn btn-default custom-btn btn-lg btn-submit" />

                <button type="button" class="btn btn-primary custom-btn btn-cancel btn-lg">Cancel</button>
            </p>
        </form>
    </div>
</div>
