<div id="what-iam-looking" class="tab-pane hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success success_top_act" ng-if="whatiammessage">{{whatiammessage}}</div>
          <h1 class="custom-h1-01 custom-h1-btm-space-55">What I'm looking for</h1>
        <p class="content-profile-description">Select things that are important in a potential job <span class="text-description">(Select {{sewlshouldDisablecount}}/5 characteristics)</span></p>
        <form  ng-submit="whatiamlookingsubmit()">
            <input type="hidden" name="lookingid" ng-model="looking.id">
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="a-role-in-a-large-company" class="checkbox-input" ng-click="lookingcheck($event,'Interesting Project')" ng-model="whatiamlooking['Interesting Project']" type="checkbox">
                <label for="a-role-in-a-large-company" class="checkbox-label"> Interesting Project</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="build-a-career" class="checkbox-input" ng-click="lookingcheck($event,'High Earnings')" ng-model="whatiamlooking['High Earnings']" type="checkbox">
                <label for="build-a-career" class="checkbox-label"> High Earnings</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="career-growth" class="checkbox-input" ng-click="lookingcheck($event,'Work Life Balance')" ng-model="whatiamlooking['Work Life Balance']" type="checkbox">
                <label for="career-growth" class="checkbox-label"> Work Life Balance</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="explain-your-motivation" class="checkbox-input" ng-click="lookingcheck($event,'Career Growth')" ng-model="whatiamlooking['Career Growth']" type="checkbox">
                <label for="explain-your-motivation" class="checkbox-label"> Career Growth</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="extremely-productive-and-creative" class="checkbox-input" ng-click="lookingcheck($event,'Friendly Staff')" ng-model="whatiamlooking['Friendly Staff']" type="checkbox">
                <label for="extremely-productive-and-creative" class="checkbox-label"> Friendly Staff</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="friendly-staff" class="checkbox-input" ng-click="lookingcheck($event,'Learn New Things')" ng-model="whatiamlooking['Learn New Things']" type="checkbox">
                <label for="friendly-staff" class="checkbox-label"> Learn New Things</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="high-earnings" class="checkbox-input" ng-click="lookingcheck($event,'Professional Development')" ng-model="whatiamlooking['Professional Development']" type="checkbox">
                <label for="high-earnings" class="checkbox-label"> Professional Development</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="interesting-projects" class="checkbox-input" ng-click="lookingcheck($event,'Broaden Experience')" ng-model="whatiamlooking['Broaden Experience']" type="checkbox">
                <label for="interesting-projects" class="checkbox-label"> Broaden Experience</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="learn-new-things" class="checkbox-input" ng-click="lookingcheck($event,'Leader')" ng-model="whatiamlooking['Leader']" type="checkbox">
                <label for="learn-new-things" class="checkbox-label"> Leader</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="official-employment" class="checkbox-input" ng-click="lookingcheck($event,'Talented People')" ng-model="whatiamlooking['Talented People']" type="checkbox">
                <label for="official-employment" class="checkbox-label"> Talented People</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="managerial-skills" class="checkbox-input" ng-click="lookingcheck($event,'Managerial Skills')" ng-model="whatiamlooking['Managerial Skills']" type="checkbox">
                <label for="managerial-skills" class="checkbox-label"> Managerial Skills</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="startup" class="checkbox-input" ng-click="lookingcheck($event,'Startup')" ng-model="whatiamlooking['Startup']" type="checkbox">
                <label for="startup" class="checkbox-label"> Startup</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="sharpen-technology" class="checkbox-input" ng-click="lookingcheck($event,'Sharpen Technology')" ng-model="whatiamlooking['Sharpen Technology']" type="checkbox">
                <label for="sharpen-technology" class="checkbox-label"> Sharpen Technology</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="new-skills" class="checkbox-input" ng-click="lookingcheck($event,'New Skills')" ng-model="whatiamlooking['New Skills']" type="checkbox">
                <label for="new-skills" class="checkbox-label"> New Skills</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Networking" class="checkbox-input" ng-click="lookingcheck($event,'Networking')" ng-model="whatiamlooking['Networking']" type="checkbox">
                <label for="Networking" class="checkbox-label"> Networking</label>
            </div>
            <p class="edt-pro-btn-group">
                <input type="submit" ng-disabled="!sewhatiamlookingbtndisable" value="Save" class="btn btn-default custom-btn btn-lg btn-submit" />
                <button type="reset" class="btn btn-primary custom-btn btn-lg btn-cancel " ng-click="student_edit_profile_looking_reset()">Cancel</button>
            </p>
        </form>
    </div>
</div>
