<div id="proudest-achievement" class="tab-pane tab-pane-yourgoals hide student_edit_profile_main_content_child">
  <!--[Career fair Details Slider Start]-->
  <section class="page-section page-bg-gray page-section-career-details">
    <div class="container">

      <div class="row custom-row-15">

        <div class="col-sm-6 col-md-5">
          <h2 class="h2 custom-sub-heading-02">Making a video</h2>
          <h5>About 1 minute</h5>
          <p class="details-content">Break the video into small pieces no longer
            than 10-20 seconds with a story about yourself. Idally, the video shout not last more than a minute, so try to make
            a story about yourself in one minue</p>
          </div>

          <div class="col-sm-5 col-md-5 col-lg-5 pull-right">
            <div class="maker-video-content">
              <video width="100%" controls>
                  <source src="https://s3-us-west-2.amazonaws.com/firstsynchvideosoutput/firstsynch_static_videos/FS_How_To_Make_a_Video.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--[Career fair Details Slider End]-->

        <!--[Jobs Scetion Start]-->
        <section class="page-section page-section-templates">
          <div class="container">
            <div class="page-header custom-page-header">
              <div class="pull-left">
                <h2 class="h2 custom-h2">Templates</h2>
              </div>
            </div>

            <div class="row row-10px">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <div class="thumbnail thumbnail-templates create-template  text-center">
                  <a href="#" data-toggle="modal" data-target="#page-video-edit">
                    <span class="glyphicon glyphicon-plus"></span>
                    <h5 class="h5 custom-h5-01">
                      Create your own template
                    </h5>
                  </a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="vid in video_list">
                <div class="thumbnail thumbnail-templates">
                  <span class="glyphicon glyphicon-pencil circle-icon"></span>
                  <div class="box-inside-content">
                      <a href="#" data-id="{{vid.id}}" ng-click="videoPopup(vid.id)" class="thumbnail custom-thumbnail-image-gallery customn-thumbs-color-{{10 | randomize}}">
                        <img ng-src="{{vid.thumbnail}}" class="img-responsive custom-img-responsive">
                        <div class="overlay"></div>
                        <span class="arrow-triangle"></span>
                        <div class="box-inside-content">
                          <h5 class="h5 custom-h5-01">{{vid.title}}</h5>
                        </div>
                      </a>
                    </div>
                </div>
              </div>


            </div>
          </div>
        </section>
        <!--[Jobs Scetion End]-->

      </div><!--proudest-achievement-->
