<div id="aboutme-hobbies" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="hobbiesmessage">{{hobbiesmessage}}</div>
           <h1 class="custom-h1-01 custom-h1-btm-space-55">Hobbies</h1>
        <!-- <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="hobbies in hobbyform">
            <input id="hobbies" class="checkbox-input" checked="" type="checkbox">
            <label for="hobbies" class="checkbox-label"> {{hobbies.name}}</label>
        </div> -->
        <div class="row" ng-repeat="hobbies in hobbyform">
            <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-minus custom-glyphicon-circle"></span> </div>
            <div class="col-sm-11 col-md-11">
                <div class="form-group custom-lider-form-grou">
                    <label class="text-uppercase">Hobby</label>
                    <input type="hidden" name="stud_id" ng-model="hobbyform.stud_id">
                    <input type="text" class="form-control custom-form-control-br-bottom" placeholder="Give it a name" name="name" value="{{hobbies.name}}">
                </div>
                <div class="form-group custom-lider-form-group">
                    <label class="text-uppercase">Description</label>
                    <textarea class="form-control custom-text-area" rows="4" placeholder="Write a description  about your hobbies" maxlength="150">{{hobbies.description}}</textarea>
                </div>
                <div class="form-group custom-lider-form-group">
                    <label class="text-uppercase">Picture</label>
                    <img src="{{hobbies.image}}" height="50">
                </div>
            </div>
        </div>
        <form name="sehobbyform" ng-submit="hobbysubmit(hobbiesform.image)">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-11 col-md-11">
                    <div class="form-group custom-lider-form-grou">
                        <label class="text-uppercase" ng-class="{'has-success': sehobbyform.name.$valid}">Hobby</label>
                        <input type="hidden" name="stud_id" ng-model="hobbyform.stud_id">
                        <input type="text" class="form-control custom-form-control-br-bottom" placeholder="Give it a name" name="name"  ng-model="hobbyform.name" ng-class="{'has-error': sehobbyform.name.$touched, 'has-success': sehobbyform.name.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Description</label>
                        <textarea class="form-control custom-text-area" rows="4" placeholder="Write a description  about your hobbies" ng-model="hobbyform.description" maxlength="150"></textarea>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Picture</label>
                        <input type="file" ngf-select ng-model="hobbyform.image" name="file" accept="image/*" >
                    </div>
                </div>
                <!-- <hr class="hr-line-lidership"> -->
            </div>
            <input type="submit" ng-disabled="sehobbyform.name.$invalid" value="Submit"  class="btn btn-default custom-btn btn-lg"/>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Hobby</a> </div>
            </div> -->
        </form>
    </div>
</div>
