<div id="work-history" class="tab-pane tabe-pane-lidarship hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="workhistroymessage">{{workhistroymessage}}</div>
          <h1 class="custom-h1-01 custom-h1-btm-space-55">Work History</h1>
         <table class="table table-striped" ng-if="workhistroyform.length > 0">
            <tr>
                <th>S.no</th>
                <th>Company name</th>
                <th>Start Date</th>
                <th>Leave Date</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="workhistroy in workhistroyform">
                <td>{{ $index+1 }}</td>
                <td>{{ workhistroy.company }}</td>
                <td>{{ workhistroy.start_date }}</td>
                <td>{{ workhistroy.leave_date }}</td>
                <td>{{ workhistroy.job_title }}</td>
                <td>{{ workhistroy.job_description }}</td>
                <td><a ng-click="editworkinghistroy( workhistroy )" class="button  btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-confirm-click="Are you sure to delete your work histroy details?" confirmed-click="removeWorkinghistrory(workhistroy.id)" class="button  btn-link"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>

        </table>
        <!-- <hr class="hr-line-lidership"> -->
        <form name="seworkhistroy" ng-submit="workhistroyformsubmit()">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
              <div class="col-sm-12 col-md-12">
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': seworkhistroy.company.$valid}">Work</label>
                        <span ng-show="seworkhistroy.company.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.user" name="user">
                        <input type="hidden" class="form-control custom-form-control-br-bottom" ng-model="workhistroyform.editid" name="workhistroyeditid">
                        <input type="text" class="form-control custom-form-control-br-bottom" max-length="100" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-model="workhistroyform.company" placeholder="Company Name" name="company" ng-class="{'has-error': seworkhistroy.company.$touched, 'has-success': seworkhistroy.company.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': seworkhistroy.start_date.$valid}">Start Date</label>
                        <span ng-show="seworkhistroy.start_date.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                        <input type="text" ng-change="datecheckErr(workhistroyform.start_date,workhistroyform.leave_date)" class="form-control custom-form-control-br-bottom" max-length="10" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="workhistroyform.start_date" datepicker placeholder="Start Date" name="start_date" ng-class="{'has-error': seworkhistroy.start_date.$touched, 'has-success': seworkhistroy.start_date.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase" ng-class="{'has-success': seworkhistroy.leave_date.$valid}">Leave Date</label>
                        <span ng-show="seworkhistroy.leave_date.$error.pattern" class="validation_msg">Enter YYYY/MM/DD format</span>
                        <span ng-show="dateerrMessage" class="validation_msg">{{dateerrMessage}}</span>
                        <input type="text" ng-change="datecheckErr(workhistroyform.start_date,workhistroyform.leave_date)" class="form-control custom-form-control-br-bottom" max-length="10" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/" ng-model="workhistroyform.leave_date" datepicker placeholder="Leave date" name="leave_date" ng-class="{'has-error': seworkhistroy.leave_date.$touched, 'has-success': seworkhistroy.leave_date.$valid}" required>
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Job Title</label>
                        <span ng-show="seworkhistroy.job_title.$error.pattern" class="validation_msg">Enter only alphabets, numbers and spaces</span>
                        <input type="text" class="form-control custom-form-control-br-bottom" max-length="100" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-model="workhistroyform.job_title" placeholder="Job Title" name="job_title" >
                    </div>
                    <div class="form-group custom-lider-form-group">
                        <label class="text-uppercase">Job Description</label>
                        <textarea class="form-control custom-text-area" max-length="500" ng-model="workhistroyform.job_description" placeholder="Write a description  about your roles and responsibility"></textarea>
                        <p>{{500 - workhistroyform.job_description.length}} left</p>
                    </div>
                     <p class="edt-pro-btn-group">
                         <input type="submit" ng-disabled="!dateerrcondition||seworkhistroy.start_date.$invalid || seworkhistroy.company.$invalid || seworkhistroy.leave_date.$invalid" value="Submit" class="btn btn-default custom-btn btn-lg btn-submit" />
                         <button type="button" ng-click="student_edit_workhistroy_reset()" class="btn btn-primary custom-btn btn-lg btn-cancel">Cancel</button>
                    </p>
                </div>

            </div>
            <!-- <div class="row">
                <div class="col-sm-1 col-md-1 col-lidership-md-1"> <span class="glyphicon glyphicon-plus custom-glyphicon-circle"></span> </div>
                <div class="col-sm-12 col-md-11 "> <a href="#" title="Add role" class="btn-addrole">Add Experience</a> </div>
            </div> -->
        </form>
    </div>
</div>
