<div id="characteristics" class="tab-pane hide student_edit_profile_main_content_child">
    <div class="contanier-inside">
        <div class="text-center alert alert-success" ng-if="charactermessage">{{charactermessage}}</div>
        <h1 class="custom-h1-01 custom-h1-btm-space-55">Charactertics</h1>
        <p class="text-edit-profile">Select things that are important in a potential job <span class="text-description">(Select 4/5 characteristics)</span></p>
        <form>
            <!-- <div class="checkbox custom-checkbox checkbox-circle" ng-repeat="characters in listofcharacter | unique:'character'">
                <input id="{{characters.character}}" class="checkbox-input" ng-model="selectedCharacter[characters.character]" type="checkbox"  ng-checked="characters.student == stud_id">
                <label for="{{characters.character}}" class="checkbox-label"> {{characters.character}}</label>
            </div> -->
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Realistic" class="checkbox-input" ng-disabled="seshouldDisable('Realistic')"  ng-model="selectedCharacter['Realistic']" type="checkbox">
                <label for="Realistic" class="checkbox-label"> Realistic</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Investigative"  class="checkbox-input" ng-disabled="seshouldDisable('Investigative')" ng-model="selectedCharacter['Investigative']" type="checkbox">
                <label for="Investigative" class="checkbox-label"> Investigative</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Artistic" class="checkbox-input" ng-disabled="seshouldDisable('Artistic')" ng-model="selectedCharacter['Artistic']" type="checkbox">
                <label for="Artistic" class="checkbox-label"> Artistic</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Social" class="checkbox-input" ng-disabled="seshouldDisable('Social')" ng-model="selectedCharacter['Social']" type="checkbox">
                <label for="Social" class="checkbox-label"> Social</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Enterprising" class="checkbox-input" ng-disabled="seshouldDisable('Enterprising')" ng-model="selectedCharacter['Enterprising']" type="checkbox">
                <label for="Enterprising" class="checkbox-label"> Enterprising</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Conventional" class="checkbox-input" ng-disabled="seshouldDisable('Conventional')" ng-model="selectedCharacter['Conventional']" type="checkbox">
                <label for="Conventional" class="checkbox-label"> Conventional</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Rule_Follower" class="checkbox-input" ng-disabled="seshouldDisable('Rule Follower')" ng-model="selectedCharacter['Rule Follower']" type="checkbox">
                <label for="Rule_Follower" class="checkbox-label"> Rule Follower</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Self-Motivated" class="checkbox-input" ng-disabled="seshouldDisable('Self-Motivated')" ng-model="selectedCharacter['Self-Motivated']" type="checkbox">
                <label for="Self-Motivated" class="checkbox-label"> Self-Motivated</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Responsibility" class="checkbox-input" ng-disabled="seshouldDisable('Responsibility')" ng-model="selectedCharacter['Responsibility']" type="checkbox">
                <label for="Responsibility" class="checkbox-label"> Responsibility</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Accustomed" class="checkbox-input" ng-disabled="seshouldDisable('Accustomed to Routine')" ng-model="selectedCharacter['Accustomed to Routine']" type="checkbox">
                <label for="Accustomed" class="checkbox-label"> Accustomed to Routine</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Study_Skills" class="checkbox-input" ng-disabled="seshouldDisable('Learned Study Skills')" ng-model="selectedCharacter['Learned Study Skills']" type="checkbox">
                <label for="Study_Skills" class="checkbox-label"> Learned Study Skills</label>
            </div>
            <div class="checkbox custom-checkbox checkbox-circle">
                <input id="Reading" class="checkbox-input" ng-disabled="seshouldDisable('Love of Reading')" ng-model="selectedCharacter['Love of Reading']" type="checkbox">
                <label for="Reading" class="checkbox-label"> Love of Reading</label>
            </div>
            <p class="edt-pro-btn-group">
                <input type="submit"  class="btn btn-default custom-btn btn-lg" ng-disabled="!secharacterbtndisable" name="submit" value="Save" ng-click="charactersubmit()"/>
                <button type="button" class="btn btn-primary custom-btn btn-cancel btn-lg">Cancel</button>
            </p>
        </form>
    </div>
</div>
