<!--[Dashboard company Start]-->
<section class="page-section page-section-new-member"  ng-controller="cfdcompany">
  	<div class="container">
	    <div class="page-header custom-page-header">
	      <div class="pull-left">
	        <h3 class="h3 custom-h3">JOBS</h3>
	      </div>
	      <div class="pull-right"> <a href="javascript:void(0)" ng-show="cfdcompany.length > 9" class="link-all home_company_all_link" title="Show All"  ng-click="showall_companyvideo()">Show All</a> </div>
	    </div>
	    <div class="row custom-row-10 for_home_com_less_all" >
	      	<div class="col-sm-4" ng-repeat="comp in cfdcompany | limitTo:9">
	      		<a data-id="{{comp.id}}" ng-click="videoPopup(comp.id)"  href="#" class = "thumbnail customn-thumbs-color-{{10 | randomize}} custom-thumbnail-image-gallery">
	      			<img ng-src="{{comp.thumbnail}}" class="img-responsive custom-img-responsive">
	        		<div class="overlay "></div>
	        		<span class="arrow-triangle"></span>
	        		<span class="link-new">New</span>
	        		<div class="box-inside-content">
	          			<span class="logo-companies">
	          				<img ng-src="{{comp.company.logo}}" class="img-responsive">
	          			</span>
	                	<h6 class="h6 custom-h6">{{comp.company.name}}</h6>
	              		<h1 class="h1 custom-gallery-h1">{{comp.title|truncate:10}}</h1>
	        		</div>
	        	</a>
	        </div>
	    </div>
	    <div class="row custom-row-10 for_home_com_show_all"></div>
  	</div>
</section>
<!--[Dashboard company End]-->
