<!--[Featured Favorites Start]-->
<section class="page-section page-section-favorites" ng-controller="student_favorites">
  <div class="container" ng-show="favorites.length>0">
    <div class="page-header custom-page-header">
      <div class="pull-left">
        <h3 class="h3 custom-h3">Favorites</h3>
      </div>
      <div class="pull-right"> <a href="javascript:void(0)" ng-show="favorites.length>9" class="link-all home_students_all_link" title="Show All" ng-click="showall_studentsvideo()">Show All</a> </div>
    </div>
    <div class="row custom-row-10 for_home_stu_less_all">
      	<div class="col-sm-4" ng-repeat="favorite in favorites | limitTo:9">
      		<a data-id="{{favorite.id}}" ng-click="videoPopup(favorite.id)"  href="#" class = "thumbnail customn-thumbs-color-{{10 | randomize}} custom-thumbnail-image-gallery">
      			<img ng-src="{{favorite.thumbnail}}" class="img-responsive custom-img-responsive">
    			<div class="overlay "></div>
    			<span class="arrow-triangle"></span>
    			<span class="link-new">New</span>
        		<div class="box-inside-content">
          			<h1 class="h1 custom-gallery-h1">{{favorite.title}}</h1>
        		</div>
        	</a>
        </div>
    </div>
    <div class="row custom-row-10 for_home_stu_show_all"></div>
  </div>
</section>
<!--[Featured Favorites End]-->
