<!--[Upcoming career Fairs Nearby Start]-->
<section class="page-section page-secction-career-fair-near"  ng-controller="guest_career_fair_near_user">
  <div class="container">
    <div class="page-header custom-page-header">
      <div class="pull-left">
        <h2 class="h1 custom-h1">Career fairs nearby</h2>
      </div>
    </div>

      <div class="slider-container slider-container-career">
        <div class="" id="slider-carousel" data-uix-bxslider="mode: 'horizontal', nextText: '', prevText: '', pager: false, controls: true, minSlides: 1, maxSlides:1, infiniteLoop: false, hideControlOnEnd: true">
          <div class="slide" data-ng-repeat="career_fair_near in career_fair_near_current_user"  style="margin-right: 40px;" data-notify-when-repeat-finished >
            <div class="slider-inside-large">
              <div class="slider-recent-fairs">
                <img class="img-responsive custom-img-responsive" style="height:460px;" ng-src="{{career_fair_near.image}}" alt="img1.png">
                <div class="box-inside-content">
                  <p class="date-location">
                    <span class="caption-date">{{career_fair_near.start_date | date:"MMM d, y"}}</span> &bull;
                    <span class="caption-state">{{ career_fair_near.city }}, {{ career_fair_near.state }}</span>
                  </p>
                  <h1 class="custom-gallery-h1">{{career_fair_near.title}}</h1>
                </div>
              </div>
            </div>
            <div class="slider-inside-thumbs">
              <div class="row custom-row-15">
                <div class="col-xs-2 col-sm-2" ng-repeat="career_fair_near in career_fair_near.related_video | limitTo:6">
                  <a class="thumbnail customn-thumbs-color-08 custom-thumbs-box-views">
                    <img class="img-responsive custom-img-responsive" style="height:100px;" ng-src="{{career_fair_near.thumbnail}}">
                    <div class="overlay "></div>
                    <span class="icon-btn-play"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</section>
<!--[Upcoming career Fairs Nearby End]-->
