<!-- featured video start-->
<div ng-include ="'GuestRole/home/featuredvideo.html'"></div>
<!-- featured video end -->
<!-- recent fairs start-->
<div ng-include ="'GuestRole/home/recentfairs.html'"></div>
<!-- recent fairs end -->
<!-- students start-->
<div ng-include ="'GuestRole/home/students.html'"></div>
<!-- students end -->
<!-- Companies start-->
<div ng-include ="'GuestRole/home/companies.html'"></div>
<!-- companies end -->
<!-- <form ng-controller="MyCtrl" name="form">
  Single Image with validations
  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'video/*'"
    ngf-accept="'video/*'">Select</div>
  <button type="submit" ng-click="submit()">submit</button>
</form>
Video preview: <video controls ngf-src="file"></video> -->
