
<!--[Career fair Details Slider Start]-->
<section class="page-section page-bg-gray page-section-career-details"  ng-controller="student_careerfair_detail" ng-init="initCareerFairDetails()">
    <div class="container">
        <div class="page-control-container">
            <a href="/stu/careerfair" title="Career Fairs" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span>Fairs</a>
        </div>
        <div class="row custom-row-15" ng-show="careerfair_details.slug">

            <div class="col-sm-6 col-md-5">
                <h2 class="h2 custom-sub-heading-02">{{ careerfair_details.title }}</h2>
                <p class="details-content" style="height:160px;overflow-y:scroll;">{{ careerfair_details.description }}</p>
                <div ng-if="request_follow_closed">
                    <div class="slider-btn-group" ng-if="availability_followup">
                        <a ng-click="student_career_unfollow(careerfair_details.id)" class="btn custom-btn-following followed_btn">
                            <span class="glyphicon glyphicon-ok"></span>
                            Unfollow
                        </a>
                        <div class="btn custom-btn-following fileContainer">
                            <span class="glyphicon glyphicon-plus"></span> Add Video
                            <input type="file" class="file_multi_video fileinput" accept="video/*" id="file" name="file" multiple onchange="angular.element(this).scope().getCareerFileDetails(this)">
                        </div>

                    </div>
                    <div class="slider-btn-group" ng-if="!availability_followup">
                        <a ng-click="student_career_follow(careerfair_details.id)" class="btn  custom-btn-following">
                            <span class="glyphicon  custom-glyphicon-plus"></span>
                            Follow
                        </a>
                    </div>
                </div><!--check whether allow student to follow career fair-->
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 pull-right">

                <img ng-src="{{ careerfair_details.image_medium }}" class="img-responsive img-380">

            </div>
        </div>

        <div class="row custom-row-15" ng-show="careerfair_details.slug">
            <div class="col-sm-12 slider-bottom-solical">
                <div class="pull-left">
                    <p class="date-location">{{ careerfair_details.start_time | date:"MMMM d, y"  }}<span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.start_time | date:"h:mma"  }} - {{ careerfair_details.stop_time | date:"h:mma"  }} </span></p>
                    <p class="company-location">{{ careerfair_details.city }},{{ careerfair_details.state }} <span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.where }}</span></p>
                </div>
                <div class="pull-right">
                    <div class="pull-left social-total-list">
                        <span class="total-followers">{{ careerfair_details.requested.length }}</span> Posts
                    </div>
                    <div class="pull-left social-total-list">
                        <span class="total-followers">{{ careerfair_details.request_member.length }}</span> Companies
                    </div>
                    <div class="pull-left social-total-list">
                        <span class="total-followers">{{ careerfair_details.followed.length }}</span> Followers
                    </div>
                    <div class="pull-left social-total-list">
                        <span class="total-followers">{{ careerfair_details.viewed.length }}</span> Viewers
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" ng-show="!careerfair_details.slug"><h1>Sorry! No career fair found!</h1></div>
    </div>

    <div class="modal custom-model custom-addvideo-model" id="page-video-edit" role="dialog" style="overflow:auto">
      <div class="modal-dialog">
        <div class="modal-content custom-modal-video-content">
          <div class="modal-header custom-modal-header-add-video">
            <h4 class="h4 custom-addvideo-h4">Adding video</h4>
            <button type="button" class="close custom-modal-close" data-dismiss="modal">×</button>
          </div><!--header-->
          <form name="video_create_form" class="ng-pristine ng-valid">

            <div id="video_popup_loader">


            </div><!--video_popup_loader-->
            <div class="modal-body add-video-modal-body after_video_process" style="display:none;">
              <aside></aside>
              <div class="add-video-center-container">
                <div class="custom-addvideo-form-group add-video-player-container">
                  <div class="form-group">
                    <input type="text" value="Your video is ready" class="form-control form-control-noborder">
                  </div>
                  <div class="add-video-player">
                    <video width="100%"  height="376px" id="ma">
                      <source src="" type="video/mp4" id="after_video">
                        Your browser does not support HTML5 video.
                      </video>
                      <div class="play-button-add-video" id="playcus" onclick="vidplay()">
                        <i class="icon-play-button"></i>
                      </div>
                    </div>
                    <div class="form-group custom-addvideo-form-group">
                      <div class="">
                        <label class="text-uppercase">privacy video</label>
                        <div class="allow-text">Allow other users to see this video?</div>

                        <div class="add-video-checkbox">
                          <div class="checkbox custom-checkbox checkbox-circle">
                            <input type="radio" name="published" ng-model="published" value="True"class="checkbox-input"  id="published-allow" checked>
                            <label for="published-allow" class="checkbox-label-01">Allow</label>
                          </div>

                          <div class="checkbox custom-checkbox checkbox-circle">
                            <input type="radio" name="published" ng-model="published" value="False"class="checkbox-input" id="published-Forbid">
                            <label for="published-Forbid" class="checkbox-label-01">Forbid</label>
                          </div>

                        </div>
                      </div>
                    </div><!--custom-addvideo-form-group-->
                  </div><!--add-video-player-container-->
                  <input type="hidden" value="{{careerfair_details.id}}" id="careerfair_details_id">
                  <div class="form-group custom-addvideo-form-group custom-form-group-new">
                    <label class="text-uppercase">Title</label>
                    <textarea class="form-control custom-text-area custom-text-area-36"  rows="1" placeholder="Type your title" maxlength="30" required id="title" name="title" ng-model="title"></textarea>
                    <p class="text-overlay-textarea">{{30 - title.length}}</p>
                  </div>

                  <div class="form-group custom-addvideo-form-group custom-form-group-new">
                    <label class="text-uppercase">Description</label>
                    <textarea class="form-control custom-text-area custom-text-area-100"  rows="3" placeholder="Type your description" maxlength="250" required id="description" name="description" ng-model="description"></textarea>
                    <p class="text-overlay-textarea">{{500 - description.length}}</p>
                  </div>

                  <div class="form-group custom-addvideo-form-group">
                    <label class="text-uppercase">Skills that we are sekking (Separate with commas)</label>
                    <textarea class="form-control custom-text-area"  rows="2" placeholder="Add skills" maxlength="150" required id="skill_text" name="skill_text" ng-model="skill_text"></textarea>
                  </div>

                </div><!--add-video-center-container-->
              </div><!--after_video_process-->

              <div class="add-video-btn-group after_video_process" style="display: none; padding-bottom:30px;">
                <button type="submit" ng-disabled="video_create_form.$invalid" ng-click="uploadFile()" class="btn btn-default custom-btn btn-lg btn-submit">
                  <i class="icon-action icon-upload"></i> Upload this video
                </button>
                <!--<button type="button"  class="btn btn-primary custom-btn btn-lg btn-cancel"><i class="icon-action icon-edit"></i> Edit</button>-->
              </div>
            </form>
            <div class="modal-footer modal-footer-add-video before_video_process">
              <div class="add-video-btn-group add-video-btn-group-right">
                <button type="button" id="add_new_question" class="btn btn-default custom-btn btn-lg btn-submit" onclick="addnewquestion()">
                  <i class="icon-action icon-question"></i> Add a new question
                </button>
                <button type="button" id="trim_finish" class="btn btn-primary custom-btn btn-lg btn-cancel" onclick="trimchaptermaking()">
                  <i class="icon-action icon-trim"></i> Trim &amp; finish
                </button>

                <textarea style="display:none;" id="result" ng-model="video_chapters" required class="form-control custom-text-area ng-pristine ng-valid ng-empty ng-touched" maxlength="150" rows="4"></textarea>
                <input type="hidden" id="video_duration">
              </div>
            </div><!--footer-->

          </div><!--moal-content-->
        </div><!--modal-dialog-->
      </div><!--page-edit-popup-->

      <!--[Page Seach Section Content Start]-->
      <div class="modal fade custom-model" id="error_msg_model">
        <div class="modal-dialog">
          <div class="modal-content custom-modal-video-content">
            <div class="modal-header cusom-model-onboard-header">
              <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
              <div class="page-header custom-page-header">
                <div class="pull-left">
                </div>
              </div>
            </div>
            <div class="modal-body custom-video-modal-body">
              <h1 class="h3 custom-h3">
                Please upload 1 minute video.
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!--[Page Seach Section Content End]-->

      <!--Video End Popup-->
      <div class="company-verify" id="video_end">
        <div class="loader">
        </div>
        <div class="cont-verify-profile">Your Video is currently being processed.</div>
        <div class="cont-verify-profile">
          <div ng-show="progressVisible">
            <div class="percent">{{progress}}%</div>
            <div class="progress1-bar">
              <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
          </div>
        </div>
      </div>

</section>
<!--[Career fair Details Slider End]-->
