
<!--[Career fair Details Slider Start]-->
<section class="page-section page-bg-gray page-section-career-details"  ng-controller="student_careerfair_detail" ng-init="initCareerFairDetails()">
  <div class="container">
    <div class="page-control-container">
      <a href="/stu/careerfair" title="Career Fairs" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span>Fairs</a>
    </div>
    <div class="row custom-row-15">

      <div class="col-sm-6 col-md-5">
        <h2 class="h2 custom-sub-heading-02">{{ careerfair_details.title }}</h2>
        <p class="details-content" style="height:160px;overflow-y:scroll;">{{ careerfair_details.description }}</p>
        <div ng-if="request_follow_closed">
          <div class="slider-btn-group" ng-if="availability_followup">
            <a ng-click="student_career_unfollow(careerfair_details.id)" class="btn custom-btn-following followed_btn">
              <span class="glyphicon glyphicon-ok"></span>
              Unfollow
            </a>
            <div class="btn custom-btn-following fileContainer">
                <span class="glyphicon glyphicon-plus"></span> Add Video
                <input type="file" class="file_multi_video fileinput" accept="video/*" id="file" name="file" multiple onchange="angular.element(this).scope().getCareerFileDetails(this)">
            </div>

          </div>
          <div class="slider-btn-group" ng-if="!availability_followup">
            <a ng-click="student_career_follow(careerfair_details.id)" class="btn  custom-btn-following">
              <span class="glyphicon  custom-glyphicon-plus"></span>
              Follow
            </a>
          </div>
        </div><!--check whether allow student to follow career fair-->
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5 pull-right">

        <img ng-src="{{ careerfair_details.image_medium }}" class="img-responsive img-380">

      </div>
    </div>

    <div class="row custom-row-15">
      <div class="col-sm-12 slider-bottom-solical">
        <div class="pull-left">
          <p class="date-location">{{ careerfair_details.start_time | date:"MMMM d, y"  }}<span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.start_time | date:"h:mma"  }} - {{ careerfair_details.stop_time | date:"h:mma"  }} </span></p>
          <p class="company-location">{{ careerfair_details.city }},{{ careerfair_details.state }} <span> <i class="fa fa-circle small-list" ></i> {{ careerfair_details.where }}</span></p>
        </div>
        <div class="pull-right">
          <div class="pull-left social-total-list">
            <span class="total-followers">{{ careerfair_details.requested.length }}</span> Posts
          </div>
          <div class="pull-left social-total-list">
            <span class="total-followers">{{ careerfair_details.request_member.length }}</span> Companies
          </div>
          <div class="pull-left social-total-list">
            <span class="total-followers">{{ careerfair_details.followed.length }}</span> Followers
          </div>
          <div class="pull-left social-total-list">
            <span class="total-followers">{{ careerfair_details.viewed.length }}</span> Viewers
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade custom-model" id="page-video-edit">
    <div class="modal-dialog">
      <div class="modal-content custom-modal-video-content">
        <div class="modal-header cusom-making-video-header">
          <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
          <div class="page-header custom-page-header">
            <div class="pull-left">
              <h1 class="h3 custom-h3">
                Adding video
              </h1>
            </div>
          </div>
        </div>

        <div id="video_popup_loader">


        </div><!--video_popup_loader-->


        <div class="modal-footer custom-make-video-modal-footer">
          <div class="mode">
            <div class="gen-back">
              <input type="hidden" value="{{careerfair_details.id}}" id="careerfair_details_id">
              <div class="col-sm-1 col-md-12 ">
                <button type="submit" ng-disabled="video_create_form.skill_text.$invalid && video_create_form.skill_text.$invalid" ng-click="uploadFile()" class="btn btn-default custom-btn btn-lg" id="btn-upload" style="display: none;">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                  Upload this video
                </button>

                <a href="#" title="Add new question" class="btn-addrole btn btn-default custom-btn btn-lg none" style="float:none"  onclick="addnewquestion()">
                  <span class="glyphicon glyphicon-plus"></span>Add new question
                </a>
                <button id="trim_finish" class="btn-addrole btn btn-default custom-btn btn-lg none" style="float:none"  onclick="trimchaptermaking()">
                  Trim & Finish
                </button>
              </div>
              <textarea style="display:none;" id="result" ng-model="video_chapters" required class="form-control custom-text-area ng-pristine ng-valid ng-empty ng-touched" maxlength="150" rows="4"></textarea>
              <input type="hidden" id="video_duration">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--[Page Seach Section Content Start]-->
  <div class="modal fade custom-model" id="error_msg_model">
    <div class="modal-dialog">
      <div class="modal-content custom-modal-video-content">
        <div class="modal-header cusom-model-onboard-header">
          <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
          <div class="page-header custom-page-header">
            <div class="pull-left">
            </div>
          </div>
        </div>
        <div class="modal-body custom-video-modal-body">
          <h1 class="h3 custom-h3">
            Please upload 1 minute video.
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!--[Page Seach Section Content End]-->

  <!--Video End Popup-->
  <div class="modal fade custom-model" id="video_end">
    <div class="video_end">
      <div class="inners">
        <h1 class="h3 custom-h3" style="color:#fff !important;">Your Video is currently being processed.</h1>
        <img src="assets/images/loader.gif" class="loader_icon" style="width: 40px; margin-left: 10px;">
        <!--<p><progress id="pro" value="0"></progress></p>-->
        <div ng-show="progressVisible">
          <div class="percent">{{progress}}%</div>
          <div class="progress1-bar">
            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
          </div>
        </div>
      </div><!--inners-->
    </div><!--video_end class-->
  </div><!--popup closed video_end-->
</section>
<!--[Career fair Details Slider End]-->
