<!--[Company category Section Start]-->
<section class="page-section  page-section-employees"  ng-controller="company_company_category">
    <div class="container">
        <div class="row custom-row-35">
            <div class="col-sm-4"  ng-repeat="compa_cate in company_cate | limitTo:3">
                <div class="panel panel-default custom-panne1-companies">
                    <!-- Default panel contents -->
                    <div class="panel-heading custom-panel-heading-companies">
                        <h3 class="h3 custom-h3">{{ compa_cate.industry_type }}<span class="small custom-small-h3 pull-right">154</span></h3>
                    </div>
                    <div class="media-group-container">
                        <div class="media custom-media" ng-repeat="companise in compa_cate.related_company">
                            <a href="/com/company/{{companise.id}}" >
                                <div class="media-left media-middle custom-media-left"> <img class="media-object custom-media-object" ng-if="companise.logo" ng-src="{{companise.logo}}" alt="Comopany">  </div>
                                <div class="media-body custom-media-body">
                                    <h4 class="media-heading custom-media-heading">{{companise.name}}</h4>
                                    <h5 class="media-eading-h5">{{companise.city.name}}</h5>
                                    <span  class="media-right-arrow"><i class="fa fa-angle-right"></i>
                                    </span>
                                </div>
                            </a>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--[Company category Section end]-->
