	<!--[Top 3 Comapnies Section Start]-->
	<section class="page-section page-bg-gray page-section-companies page-section-top-companies">
	  	<div class="container">
	   		<div class="page-header custom-page-header"  ng-controller="company_all_companies">
	      		<div class="pull-left">
	        		<h1 class="h1 custom-h1-01 custom-h1-03">Companies</h1>
    				<div class="total-company-numbers">{{all_company.length }}, Companies</div>
	      		</div>
    		</div>
	    	<div class="page-header custom-page-header">
	      		<div class="pull-left">
	        		<h2 class="h2 custom-title custom-h2-04"> Show companies from
	        			<span class="dropdown"  ng-controller="company_all_companies">
	        				<span class="highlighted dropdown-toggle"  id="allcities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">all cities</span>
				        		<ul class="dropdown-menu custom-drop-down dropdown-menu-cities" aria-labelledby="allcities">
				    				<li>
				    					<div class="form-group custom-form-group-cities">
				  							<input type="text" class="form-control form-control-cities" placeholder="Search for cities">
										</div>
									</li>
				    				<li><a href="#" title="All Cities">All Cities</a></li>
				    				<li ng-repeat="all_comp in all_company"><a ng-click="allcitysearch()" href="#">{{all_comp.company.city.name}},<span class="text-uppercase"> {{all_comp.company.state.name}}</span></a></li>
								</ul>
	        				</span>
	        			, specializing in
						<span class="dropdown" ng-controller="company_company_category">
		        			<span class="highlighted dropdown-toggle" id="allcategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">all industries</span>
		        			<ul class="dropdown-menu custom-drop-down dropdown-menu-cities" aria-labelledby="allindustries">
			    				<li>
			    					<div class="form-group custom-form-group-cities">
			  							<input type="text" class="form-control form-control-industry" placeholder="Search for industries">
									</div>
								</li>
			    				<li><a href="#" title="All Cities">All Industries</a></li>
			    				<li ng-repeat="compa_cate in company_cate "><a href="#">{{ compa_cate.industry_type }}</a></li>
							</ul>
	        			</span>
	        		</h2>
	      		</div>
	    	</div>
            <div class="top-3-companies">
	    	<div class="row custom-row-35" ng-controller="company_top_three">
	      		<div class="col-sm-12">
	        		<div class="page-header custom-page-header">
	          			<div class="pull-left">
	            			<h2 class="h2 custom-h2">Top 3 Companies</h2>
	          			</div>
	        		</div>
	      		</div>
	      		<div class="col-sm-4" ng-repeat="comp in top_three_company">
					<a href="/com/company/{{ comp.company.id }}" class="company-list-box">
		        		<div class="thumbnail custom-thumbnail-company-logo"> <img ng-src="{{ comp.company.logo }}" class="logo-companies-box"> </div>
		        		<div class="company-heading-group">
		          			<h4 class="h4 custom-h4">{{ comp.company.name }} </h4>
		          			<h5>{{ comp.company.city.name }}, {{ comp.company.state.name }}, {{ comp.company.country.name }}</h5>
		        		</div>
					</a>
	      		</div>

	    	</div>
		</div>
        </div>
	</section>
<!--[Top 3 Company Sections End]-->
