html, body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #303030;
	font-size: 13px;
}
.container {
	padding: 0 20px;
}
body.fixed-scrol {
	padding-top: 80px;
}
.btn-select-photos:focus, .btn-select-photos:visited {
	outline: none;
	background-color: #fff !important;
}
h1, h2, h3 {
	font-weight: 900 !important;
	color: #303030;
	letter-spacing:-2px;
}
.custom-h1 {
	text-transform: uppercase
}
.custom-h3 {
	text-transform: uppercase;
}
h3 .custom-small-h3, .h3 .custom-small-h3 {
	font-size: 14px;
	margin-top: 7px;
	font-weight: 600;
	color: #b2b2b2
}
.custom-h4 {
	font-weight: 600;
}
.media-heading {
	font-weight: 700;
}
.media-eading-h5 {
}
.custom-page-h2 {
	font-size: 30px;
	text-transform: uppercase;
}
.custom-sub-heading-02 {
	margin-bottom: 20px;
	text-transform: uppercase
}
.custom-h5 {
	text-transform: uppercase;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600
}
.custom-h5-01 {
	text-transform: uppercase;
	color: #303030;
	font-size: 14px;
	font-weight: 600
}
.custom-h5-02{
	text-transform: uppercase;
	color: #00b58e;
	font-size: 14px;
	font-weight: 800
	}
.custom-h6 {
	font-size: 12x;
	margin-bottom: 7px;
	font-weight: 700;
	text-transform: uppercase
}
.cont-character{width:100%; float:left; margin-bottom:60px;}
h2.custom-title {
	font-weight: normal !important;
}
.custom-navbar-default {
	background-color: #fff;
	border-bottom: none;
	border-color: transparent;
	margin-bottom: 0;
	min-height: inherit;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.user-avator-img img, .signoff-avator-img img {
	width: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.sidebar-navigation {
	float: left;
	width: 100%;
	margin-top: 180px;
}
.custom-sidebar {
	width: 230px;
}
.custom-sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #00b58e;
	font-weight: 600;
}
.custom-sidebar-nav li a {
	color: #00b58e;
	padding: 5px 0;
	float: left;
	width: 100%;
}
.custom-navbar-default .container-fluid, .custom-navbar-default .container {
	padding: 38px 40px;
}
.navbar-fixed-top.custom-navbar-default .container-fluid, .navbar-fixed-top.custom-navbar-default .container {
	padding: 20px 40px;
}
.custom-navbar-brand {
	padding: 0;
	margin-top: 0;
	height: auto;
	margin-bottom: 0;
}
.sidebar-h6 {
	margin-bottom: 0px;
	margin-top: 0;
}
.custom-navbar-default .navbar-nav > li {
	margin: 0 10px;
}
.custom-navbar-default .navbar-nav > li > a {
	color: #303030;
	padding: 8px 0;
}
.custom-navbar-default .navbar-nav>li>a:focus, .custom-navbar-default .navbar-nav>li>a:hover {
	color: #333;
}
.custom-navbar-default .navbar-nav>.active>a, .custom-navbar-default .navbar-nav>.active>a:focus, .custom-navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	border-bottom: 2px solid #4ec9ae;
}
.custom-navbar-default .navbar-nav > li > a.user-avator-img, .custom-navbar-default .navbar-nav > li > a.signoff-avator-img {
	padding: 1px;
	width: 38px;
	height: 38px;
	padding: 2px;
	margin: 0px 5px;
	border: 2px solid #8bd9c5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.custom-navbar-default .navbar-nav > li > a.signoff-avator-img {
	border-color: #a7a7a7;
}
.custom-navbar-nav {
	font-weight: 700;
}
.slider-container {
	width: 100%;
	float: left;
	background-color: #f7f7f7;
	height: 405px;
	margin-bottom: 10px;
	border-bottom: 3px solid #dddddd;
}
.slider-container-career {
	background-color: #fff;
	height: auto;
	border-bottom: none;
	margin-bottom: 0
}
.slider-container-career .custom-thumbs-box-views {
	margin-bottom: 0
}
.slider-container-career .slider-recent-fairs {
	margin-bottom: 20px;
}
.custom-thumbs-model-views {
	height: 80px;
	overflow: hidden;
	border: none;
	padding: 0;
	margin-bottom: 0;
}
.custom-thumbs-model-views > img {
	width: 100%;
	height: 100%;
}
.page-section {
	width: 100%;
	float: left;
	margin: 30px 0;
}
.custom-modal-body .custom-thumbs-box-views {
	margin-bottom: 15px;
}
.custom-h2 {
	font: 900 20px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #303030;
}
.custom-sub-h2 {
	text-transform: none
}
.cont-experience {
	margin-bottom: 30px;
}
.custom-row-10 {
	margin: 0 -10px;
}
.custom-row-15 {
	margin: 0 -8px 0-7px
}
.custom-row-20 {
	margin: 0 -20px;
}
a.thumbnail, a.custom-large-image-gallery {
	color: #303030;
	clear: both
}
.custom-row-10 .col-lg-1, .custom-row-10 .col-lg-10, .custom-row-10 .col-lg-11, .custom-row-10 .col-lg-12, .custom-row-10 .col-lg-2, .custom-row-10 .col-lg-3, .custom-row-10 .col-lg-4, .custom-row-10 .col-lg-5, .custom-row-10 .col-lg-6, .custom-row-10 .col-lg-7, .custom-row-10 .col-lg-8, .custom-row-10 .col-lg-9, .custom-row-10 .col-md-1, .custom-row-10 .col-md-10, .custom-row-10 .col-md-11, .custom-row-10 .col-md-12, .custom-row-10 .col-md-2, .custom-row-10 .col-md-3, .custom-row-10 .col-md-4, .custom-row-10 .col-md-5, .custom-row-10 .col-md-6, .custom-row-10 .col-md-7, .custom-row-10 .col-md-8, .custom-row-10 .col-md-9, .custom-row-10 .col-sm-1, .custom-row-10 .col-sm-10, .custom-row-10 .col-sm-11, .custom-row-10 .col-sm-12, .custom-row-10 .col-sm-2, .custom-row-10 .col-sm-3, .custom-row-10 .col-sm-4, .custom-row-10 .col-sm-5, .custom-row-10 .col-sm-6, .custom-row-10 .col-sm-7, .custom-row-10 .col-sm-8, .custom-row-10 .col-sm-9, .custom-row-10 .col-xs-1, .custom-row-10 .col-xs-10, .custom-row-10 .col-xs-11, .custom-row-10 .col-xs-12, .custom-row-10 .col-xs-2, .custom-row-10 .col-xs-3, .custom-row-10 .col-xs-4, .custom-row-10 .col-xs-5, .custom-row-10 .col-xs-6, .custom-row-10 .col-xs-7, .custom-row-10 .col-xs-8, .custom-row-10 .col-xs-9 {
	padding-right: 10px;
	padding-left: 10px
}
.custom-row-15 .col-lg-1, .custom-row-15 .col-lg-10, .custom-row-15 .col-lg-11, .custom-row-15 .col-lg-12, .custom-row-15 .col-lg-2, .custom-row-15 .col-lg-3, .custom-row-15 .col-lg-4, .custom-row-15 .col-lg-5, .custom-row-15 .col-lg-6, .custom-row-15 .col-lg-7, .custom-row-15 .col-lg-8, .custom-row-15 .col-lg-9, .custom-row-15 .col-md-1, .custom-row-15 .col-md-10, .custom-row-15 .col-md-11, .custom-row-15 .col-md-12, .custom-row-15 .col-md-2, .custom-row-15 .col-md-3, .custom-row-15 .col-md-4, .custom-row-15 .col-md-5, .custom-row-15 .col-md-6, .custom-row-15 .col-md-7, .custom-row-15 .col-md-8, .custom-row-15 .col-md-9, .custom-row-15 .col-sm-1, .custom-row-15 .col-sm-10, .custom-row-15 .col-sm-11, .custom-row-15 .col-sm-12, .custom-row-15 .col-sm-2, .custom-row-15 .col-sm-3, .custom-row-15 .col-sm-4, .custom-row-15 .col-sm-5, .custom-row-15 .col-sm-6, .custom-row-15 .col-sm-7, .custom-row-15 .col-sm-8, .custom-row-15 .col-sm-9, .custom-row-15 .col-xs-1, .custom-row-15 .col-xs-10, .custom-row-15 .col-xs-11, .custom-row-15 .col-xs-12, .custom-row-15 .col-xs-2, .custom-row-15 .col-xs-3, .custom-row-15 .col-xs-4, .custom-row-15 .col-xs-5, .custom-row-15 .col-xs-6, .custom-row-15 .col-xs-7, .custom-row-15 .col-xs-8, .custom-row-15 .col-xs-9 {
	padding-right: 8px;
	padding-left: 7px
}
.custom-row-20 .col-lg-1, .custom-row-20 .col-lg-10, .custom-row-20 .col-lg-11, .custom-row-20 .col-lg-12, .custom-row-20 .col-lg-2, .custom-row-20 .col-lg-3, .custom-row-20 .col-lg-4, .custom-row-20 .col-lg-5, .custom-row-20 .col-lg-6, .custom-row-20 .col-lg-7, .custom-row-20 .col-lg-8, .custom-row-20 .col-lg-9, .custom-row-20 .col-md-1, .custom-row-20 .col-md-10, .custom-row-20 .col-md-11, .custom-row-20 .col-md-12, .custom-row-20 .col-md-2, .custom-row-20 .col-md-3, .custom-row-20 .col-md-4, .custom-row-20 .col-md-5, .custom-row-20 .col-md-6, .custom-row-20 .col-md-7, .custom-row-20 .col-md-8, .custom-row-20 .col-md-9, .custom-row-20 .col-sm-1, .custom-row-20 .col-sm-10, .custom-row-20 .col-sm-11, .custom-row-20 .col-sm-12, .custom-row-20 .col-sm-2, .custom-row-20 .col-sm-3, .custom-row-20 .col-sm-4, .custom-row-20 .col-sm-5, .custom-row-20 .col-sm-6, .custom-row-20 .col-sm-7, .custom-row-20 .col-sm-8, .custom-row-20 .col-sm-9, .custom-row-20 .col-xs-1, .custom-row-20 .col-xs-10, .custom-row-20 .col-xs-11, .custom-row-20 .col-xs-12, .custom-row-20 .col-xs-2, .custom-row-20 .col-xs-3, .custom-row-20 .col-xs-4, .custom-row-20 .col-xs-5, .custom-row-20 .col-xs-6, .custom-row-20 .col-xs-7, .custom-row-20 .col-xs-8, .custom-row-20 .col-xs-9 {
	padding-right: 20px;
	padding-left: 20px
}
.custom-row-35 .col-lg-1, .custom-row-35 .col-lg-10, .custom-row-35 .col-lg-11, .custom-row-35 .col-lg-12, .custom-row-35 .col-lg-2, .custom-row-35 .col-lg-3, .custom-row-35 .col-lg-4, .custom-row-35 .col-lg-5, .custom-row-35 .col-lg-6, .custom-row-35 .col-lg-7, .custom-row-35 .col-lg-8, .custom-row-35 .col-lg-9, .custom-row-35 .col-md-1, .custom-row-35 .col-md-10, .custom-row-35 .col-md-11, .custom-row-35 .col-md-12, .custom-row-35 .col-md-2, .custom-row-35 .col-md-3, .custom-row-35 .col-md-4, .custom-row-35 .col-md-5, .custom-row-35 .col-md-6, .custom-row-35 .col-md-7, .custom-row-35 .col-md-8, .custom-row-35 .col-md-9, .custom-row-35 .col-sm-1, .custom-row-35 .col-sm-10, .custom-row-35 .col-sm-11, .custom-row-35 .col-sm-12, .custom-row-35 .col-sm-2, .custom-row-35 .col-sm-3, .custom-row-35 .col-sm-4, .custom-row-35 .col-sm-5, .custom-row-35 .col-sm-6, .custom-row-35 .col-sm-7, .custom-row-35 .col-sm-8, .custom-row-35 .col-sm-9, .custom-row-35 .col-xs-1, .custom-row-35 .col-xs-10, .custom-row-35 .col-xs-11, .custom-row-35 .col-xs-12, .custom-row-35 .col-xs-2, .custom-row-35 .col-xs-3, .custom-row-35 .col-xs-4, .custom-row-35 .col-xs-5, .custom-row-35 .col-xs-6, .custom-row-35 .col-xs-7, .custom-row-35 .col-xs-8, .custom-row-35 .col-xs-9 {
	padding-right: 18px;
	padding-left: 17px
}
.custom-row-5 .col-lg-1, .custom-row-5 .col-lg-10, .custom-row-5 .col-lg-11, .custom-row-5 .col-lg-12, .custom-row-5 .col-lg-2, .custom-row-5 .col-lg-3, .custom-row-5 .col-lg-4, .custom-row-5 .col-lg-5, .custom-row-5 .col-lg-6, .custom-row-5 .col-lg-7, .custom-row-5 .col-lg-8, .custom-row-5 .col-lg-9, .custom-row-5 .col-md-1, .custom-row-5 .col-md-10, .custom-row-5 .col-md-11, .custom-row-5 .col-md-12, .custom-row-5 .col-md-2, .custom-row-5 .col-md-3, .custom-row-5 .col-md-4, .custom-row-5 .col-md-5, .custom-row-5 .col-md-6, .custom-row-5 .col-md-7, .custom-row-5 .col-md-8, .custom-row-5 .col-md-9, .custom-row-5 .col-sm-1, .custom-row-5 .col-sm-10, .custom-row-5 .col-sm-11, .custom-row-5 .col-sm-12, .custom-row-5 .col-sm-2, .custom-row-5 .col-sm-3, .custom-row-5 .col-sm-4, .custom-row-5 .col-sm-5, .custom-row-5 .col-sm-6, .custom-row-5 .col-sm-7, .custom-row-5 .col-sm-8, .custom-row-5 .col-sm-9, .custom-row-5 .col-xs-1, .custom-row-5 .col-xs-10, .custom-row-5 .col-xs-11, .custom-row-5 .col-xs-12, .custom-row-5 .col-xs-2, .custom-row-5 .col-xs-3, .custom-row-5 .col-xs-4, .custom-row-5 .col-xs-5, .custom-row-5 .col-xs-6, .custom-row-5 .col-xs-7, .custom-row-5 .col-xs-8, .custom-row-5 .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;
}
.custom-large-image-gallery, .custom-thumbnail-box-views, .custom-thumbnail-image-gallery, .custom-thumbnail-company-visit-gallery {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0px 0 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0 15px rgba(0,0,0,0.2);
	box-shadow: 0px 0 15px rgba(0,0,0,0.2);
}
.custom-thumbs-box-views {
	background-color: transparent;
	border: none;
	padding: 0;
	/*height: 100px;*/
	overflow: hidden;
	position: relative;
	border-radius: 0
}
.slider-container-career .custom-gallery-h1 {
	color: #fff;
	text-transform: capitalize;
	padding-left: 0
}
.slider-container-career .box-inside-content {
	width: 76%;
	bottom: 65px;
	padding-left: 40px;
}
.slider-container-career .date-location {
	color: #fff;
	padding: 0
}
.custom-thumbnail-box-views {
	text-align: center;
	height: 165px;
}
.custom-large-image-gallery {
	height: 316px;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.custom-thumbnail-image-gallery {
	height: 207px;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.custom-thumbnail-company-visit-gallery {
	padding: 20px 20px 0px 20px;
	position: relative;
	overflow: hidden;
	margin-bottom: 35px;
}
.para-company {
	margin: 0 0 30px 0
}
.custom-large-image-gallery .custom-img-responsive, .custom-thumbnail-image-gallery .custom-img-responsive, .custom-img-responsive {
	width: 100%;
	height: 100%;
}
.total-views {
	margin-top: 50px;
	margin-bottom: 0;
	color: #01b58e;
	display: inherit;
}
.total-days {
	line-height: 32px;
	text-transform: uppercase;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.8;
}
.arrow-triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 320px solid #fff;
	border-right: 200px solid transparent;
	z-index: 2;
	float: left;
	top: 0;
	left: 0
}
.link-new {
	position: absolute;
}
.link-new {
	right: 10px;
	top: 10px;
	z-index: 3;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}
.box-inside-content {
	width: 100%;
	float: left;
	position: absolute;
	bottom: 0;
	z-index: 2;
	padding: 0 15px;
}
.logo-companies {
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	margin-left: 20px;
}
.custom-gallery-h1 {
	text-transform: uppercase;
	padding: 0 0;
	width: 100%;
	margin-top: 0;
}
.page-section-recent-fairs {
	background-color: #f7f7f7;
	padding: 40px 0
}
.slider-container-recent {
	margin-top: 10px;
	width: 100%;
	float: left;
}
.custom-page-header {
	border-bottom: none;
	margin: 0;
	float: left;
	width: 100%;
}
.link-all {
	float: left;
	margin: 22px 0 0;
	font-size: 13px;
	color: #b2b2b2;
	text-transform: uppercase;
	font-weight: 600
}
.link-all-green {
	color: #4ec9ae;
	font-size: 18px;
}
.link-green {
	color: #4ec9ae;
}
.bx-wrapper {
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important
}
.bx-pager {
	bottom: -95px;
}
.bx-pager a {
	border: solid #ccc 1px;
	display: block;
	margin: 0 5px;
	padding: 3px;
	float: left
}
.bx-pager a img {
	height: 90px;
}
.bx-pager a:hover, .bx-pager a.active {
	border: solid #5280DD 1px;
}
.bx-wrapper {
	margin-bottom: 120px;
}
.slider-recent-fairs {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 52px;
}
.slider-caption {
	height: 102px;
	width: 75%;
	background-color: #f7f7f7;
	position: absolute;
	bottom: 0;
	padding: 20px 0 0 0;
}
.slider-caption-bg-white {
	background-color: #fff
}
.icon-btn-play {
	width: 33px;
	height: 33px;
	background: url(../images/play-video-icon.png) no-repeat center/ 100%;
	display: inline-block;
	position: absolute;
	left: 41%;
	top: 31%;
	z-index: 1
}
.caption-date-container {
	width: 100%;
	float: left;
}
.caption-description {
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
	width: 100%;
	float: left;
	margin-top: 15px;
}
.fair-prev, .fair-next, .bx-prev, .bx-next {
	background-color: #fff !important;
	width: 46px !important;
	height: 46px !important;
	border: 2px solid #6b6b6b !important;
	position: absolute;
	top: 125px !important;
	cursor: pointer;
	font-family: 'Glyphicons Halflings';
	line-height: 43px;
	background-image: none !important;
	text-indent: 0 !important;
	color: #303030 !important;
	text-align: center;
	z-index: 0 !important
}
.fair-prev, .bx-prev {
	left: -15px !important;
}
.fair-next, .bx-next {
	right: -15px !important;
}
.slider-container-career .owl-nav {
	position: absolute;
	top: 49%;
}
.slider-container-career .owl-dots {
	position: absolute;
	top: 72%;
	left: 40px;
}
.slider-container-career .owl-theme .owl-dots .owl-dot span {
	width: 8px;
	height: 8px;
}
.slider-container-career .owl-theme .owl-dots .owl-dot.active span, .slider-container-career .owl-theme .owl-dots .owl-dot:hover span {
	background-color: transparent;
	border: 3px solid #fff;
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
}
.slider-container-career .fair-next, .slider-container-career .fair-prev {
	background: none;
	border: none;
	color: #fff;
	width: 15px;
	height: 15px;
	line-height: 15px;
}
.slider-container-career .owl-nav {
	right: 46px
}
.slider-container-career .fair-prev {
	right: 0;
	left: -30px
}
.slider-container-career .fair-next {
	right: -15px
}
.fair-prev:before, .bx-prev:before {
	content: "\e091"
}
.fair-next:before, .bx-next:before {
	content: "\e092"
}
.slider-inside-thumbs {
	width: 100%;
	float: left;
}
.background-color-01 {
	background: #eee8ee;
	background: -moz-linear-gradient(left, #eee8ee 0%, #dbe7f0 100%);
	background: -webkit-linear-gradient(left, #eee8ee 0%, #dbe7f0 100%);
	background: linear-gradient(to right, #eee8ee 0%, #dbe7f0 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee8ee', endColorstr='#dbe7f0', GradientType=1 );
}
.background-color-02 {
	background: #d9f0f0;
	background: -moz-linear-gradient(left, #d9f0f0 0%, #dbe7f0 100%);
	background: -webkit-linear-gradient(left, #d9f0f0 0%, #dbe7f0 100%);
	background: linear-gradient(to right, #d9f0f0 0%, #dbe7f0 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9f0f0', endColorstr='#dbe7f0', GradientType=1 );
}
.background-color-03 {
	background: #e6f0f1;
	background: -moz-linear-gradient(left, #e6f0f1 0%, #daeee9 100%);
	background: -webkit-linear-gradient(left, #e6f0f1 0%, #daeee9 100%);
	background: linear-gradient(to right, #e6f0f1 0%, #daeee9 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0f1', endColorstr='#daeee9', GradientType=1 );
}
.background-color-04 {
	background: #eedee0;
	background: -moz-linear-gradient(left, #eedee0 0%, #f2f0e2 100%);
	background: -webkit-linear-gradient(left, #eedee0 0%, #f2f0e2 100%);
	background: linear-gradient(to right, #eedee0 0%, #f2f0e2 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eedee0', endColorstr='#f2f0e2', GradientType=1 );
}
.background-color-05 {
	background: #00b58e;
	background: -moz-linear-gradient(left, #00b58e 0%, #18d0ab 100%);
	background: -webkit-linear-gradient(left, #00b58e 0%, #18d0ab 100%);
	background: linear-gradient(to right, #00b58e 0%, #18d0ab 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b58e', endColorstr='#18d0ab', GradientType=1 );
}
.background-color-06 {
	background: #ee6a7b;
	background: -moz-linear-gradient(left, #ee6a7b 0%, #f67b8a 100%);
	background: -webkit-linear-gradient(left, #ee6a7b 0%, #f67b8a 100%);
	background: linear-gradient(to right, #ee6a7b 0%, #f67b8a 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6a7b', endColorstr='#f67b8a', GradientType=1 );
}
.background-color-07 {
	background: #3f4044;
	background: -moz-linear-gradient(left, #3f4044 0%, #292b30 100%);
	background: -webkit-linear-gradient(left, #3f4044 0%, #292b30 100%);
	background: linear-gradient(to right, #3f4044 0%, #292b30 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4044', endColorstr='#292b30', GradientType=1 );
}
.customn-thumbs-color-01 .overlay {
	background: #dcbcdc;
	background: -moz-linear-gradient(left, #dcbcdc 0%, #6fb2e6 100%);
	background: -webkit-linear-gradient(left, #dcbcdc 0%, #6fb2e6 100%);
	background: linear-gradient(to right, #dcbcdc 0%, #6fb2e6 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcbcdc', endColorstr='#6fb2e6', GradientType=1 );
}
.customn-thumbs-color-02 .overlay {
	background: #b0e8ea;
	background: -moz-linear-gradient(left, #b0e8ea 0%, #6ad9c1 100%);
	background: -webkit-linear-gradient(left, #b0e8ea 0%, #6ad9c1 100%);
	background: linear-gradient(to right, #b0e8ea 0%, #6ad9c1 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e8ea', endColorstr='#6ad9c1', GradientType=1 );
}
.customn-thumbs-color-03 .overlay {
	background: #a1bbde;
	background: -moz-linear-gradient(left, #a1bbde 0%, #a885df 100%);
	background: -webkit-linear-gradient(left, #a1bbde 0%, #a885df 100%);
	background: linear-gradient(to right, #a1bbde 0%, #a885df 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1bbde', endColorstr='#a885df', GradientType=1 );
}
.customn-thumbs-color-04 .overlay {
	background: #b6e2d9;
	background: -moz-linear-gradient(left, #b6e2d9 0%, #5f81dd 100%);
	background: -webkit-linear-gradient(left, #b6e2d9 0%, #5f81dd 100%);
	background: linear-gradient(to right, #b6e2d9 0%, #5f81dd 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e2d9', endColorstr='#5f81dd', GradientType=1 );
}
.customn-thumbs-color-05 .overlay {
	background: #fff5c0;
	background: -moz-linear-gradient(left, #fff5c0 0%, #ecc185 100%);
	background: -webkit-linear-gradient(left, #fff5c0 0%, #ecc185 100%);
	background: linear-gradient(to right, #fff5c0 0%, #ecc185 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5c0', endColorstr='#ecc185', GradientType=1 );
}
.customn-thumbs-color-06 .overlay {
	background: #dec2c2;
	background: -moz-linear-gradient(left, #dec2c2 0%, #e587cd 100%);
	background: -webkit-linear-gradient(left, #dec2c2 0%, #e587cd 100%);
	background: linear-gradient(to right, #dec2c2 0%, #e587cd 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dec2c2', endColorstr='#e587cd', GradientType=1 );
}
.customn-thumbs-color-07 .overlay {
	background: #65e7e5;
	background: -moz-linear-gradient(left, #65e7e5 0%, #70aae6 100%);
	background: -webkit-linear-gradient(left, #65e7e5 0%, #70aae6 100%);
	background: linear-gradient(to right, #65e7e5 0%, #70aae6 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65e7e5', endColorstr='#70aae6', GradientType=1 );
}
.customn-thumbs-color-08 .overlay {
	background: #db858e;
	background: -moz-linear-gradient(left, #db858e 0%, #f0e796 100%);
	background: -webkit-linear-gradient(left, #db858e 0%, #f0e796 100%);
	background: linear-gradient(to right, #db858e 0%, #f0e796 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db858e', endColorstr='#f0e796', GradientType=1 );
}
.customn-thumbs-color-09 .overlay {
	background: #92b1f2;
	background: -moz-linear-gradient(left, #92b1f2 0%, #ef9595 100%);
	background: -webkit-linear-gradient(left, #92b1f2 0%, #ef9595 100%);
	background: linear-gradient(to right, #92b1f2 0%, #ef9595 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92b1f2 ', endColorstr='#ef9595', GradientType=1 );
}
.customn-thumbs-color-10 .overlay {
	background: #3f4044;
	background: -moz-linear-gradient(left, #3f4044 0%, #292b30 100%);
	background: -webkit-linear-gradient(left, #3f4044 0%, #292b30 100%);
	background: linear-gradient(to right, #3f4044 0%, #292b30 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4044 ', endColorstr='#292b30', GradientType=1 );
}
.customn-thumbs-color-10 h1.custom-gallery-h1 {
	font-size: 20px;
	color: #fff;
	width: inherit;
	font-weight: normal !important;
	line-height: 25px;
}
.date-location {
	font-size: 12px;
	font-weight: 600;
	padding: 0 0;
	margin: 0
}
.company-location {
	font-size: 12px;
	font-weight: 600;
	padding: 0 0;
	margin: 13px 0
}
.sidebar-navi-fixed {
	position: fixed;
	top: 70px;
}
.customn-thumbs-color-10 .box-inside-content {
	color: #fff;
}
.custom-navbar-default .navbar-nav > li > a.custom-btn-sign-up, .custom-btn-following {
	margin: 0;
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.15);
	padding: 10px 26px;
	border: 2px solid #777;
	border-radius: 30px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: -6px;
}
.custom-title .highlighted {
	color: #6f6f6f;
	border-bottom: 2px dashed #6f6f6f
}
.page-section-upcoming {
}
.sidebar-navi-fixed .sidebar-navigation {
	margin-top: 30px
}
.slider-profile {
	width: 100%;
	height: 360px;
	padding: 0 60px;
}
.slider-profile-container {
	width: 100%;
	float: left;
}
.h5-designation{color:#b2b2b2}
.h5-companyname{color:#303030}
.slider-profile .fa{margin-right:5px;}
.custom-btn-edit-profile {
	margin: 155px 5px;
	/*min-width: 130px;*/
	height: 46px;
	text-align: center;
	line-height: 31px;
	border: 2px solid #626669;
	text-transform: uppercase;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.custom-btn-edit-profile:hover {
	background-color: #303030;
	color: #fff;
	border-color: #303030;
}
.slider-content-group {
	width: 100%;
	float: left;
}
.slider-content-container {
	width: 100%;
	float: left;
	padding: 50px 0
}
.para-slider {
	line-height: 25px;
	font-size: 14px;
}
.slider-content-group .custom-h1 {
	margin-top: 30px;
	margin-bottom: 15px;
}
.img-user-profile {
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	width: 80px;
	height: 80px;
}
.social-network-container {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.social-network {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
}
.social-network li {
	float: left;
	color: #303030;
	margin: 0 26px 0 0;
}
.social-network li a {
	color: #303030
}
.total-followers {
	color: #00b58e;
	font-weight: 500;
}
.complete-profile {
	width: 100%;
	float: left;
}
.custom-thumbnail-pro-accordion {
	padding: 20px 20px 0;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)
}
.page-section-profile {
	margin-top: 60px;
	width: 100%;
	float: left;
}
.custom-progress {
	height: 6px;
	background-color: #eaeaea;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	overflow: inherit;
	width: 88%;
	float: left;
	margin-top: 7px;
}
.custom-progress-bar {
	background-color: #00b58e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 3px #00b58e
}
.toal-complete-container {
	float: left;
	width: 12%;
	text-align: right
}
.custom-accordion-panel-default>.custom-accordion-heading {
	background-color: #e3f0ef;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0;
}
.custom-accordion-title {
	font-weight: 900;
}
.custom-panel-group .custom-accordion-panel-default {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.custom-accordion-title a {
	display: inline-block;
	padding: 13px 20px;
}
.custom-panel-group .custom-accordion-body {
	border: 1px solid #ddd;
}
.custom-panel-group .custom-accordion-panel-default + .custom-accordion-panel-default {
	margin-top: 2px
}
.custom-glyphicon-accordion {
	width: 33px;
	height: 33px;
	line-height: 30px;
	padding: 0 8px;
	display: inline-block;
	font-size: 15px;
	font-family: 'Glyphicons Halflings';
	border: 2px solid #bcbcbc;
	vertical-align: middle;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 10px;
}
.custom-accordion-title a .custom-glyphicon-accordion:before {
	content: "\002b";
}
.custom-accordion-title a.collapse .custom-glyphicon-accordion:before {
	content: "\002b";
}
.custom-accordion-title a.collapse.collapsed .custom-glyphicon-accordion:before {
	content: "\002b";
}
.custom-accordion-title a.collapsed .custom-glyphicon-accordion:before {
	content: "\002b";
}
.total-profile-complete-accordion {
	float: right;
	color: #b2b2b2;
	font-weight: 900;
	margin: 21px 15px
}
.page-section.video-profile .custom-large-image-gallery, .page-section.video-profile .custom-make-video-gallery,
.page-career-fair .row-emp-pro-career-fair .custom-thumbnail-image-gallery{
	height: 264px;
}
.custom-make-video-gallery {
	border: 2px solid #6f7070;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
}
.icon-img-circle {
	width: 36px;
	height: 36px;
	display: inline-block;
	clear: both;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid #303030;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.label-video {
	clear: both;
	display: block
}
.icon-make-video {
	background-image: url(../images/icon-video.gif);
}
.make-video-label {
	display: inline-block;
	margin: 71px 0;
	cursor: pointer;
}
.custom-page-h1 {
	color: #303030;
	font-size: 48px;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}
.page-section-about-me .custom-h1,.page-section-hire-me .custom-h1 {
	margin-bottom: 30px;
}
.page-section-about-home {
	padding-bottom: 30px;
	min-height: 500px;
}

.custom-heading-01 {
	text-transform: uppercase;
	margin-bottom: 30px;
}
.page-profile-leadership {
	padding: 90px 0;
	height: 370px;
	font-size: 14px;
}
.custom-thumbnail-education {
	padding: 30px;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.department {
	margin-top: 25px;
}
.order-list {
	margin-top: 30px;
}
.rating-container {
	width: 100%;
	float: left;
}
.order-list li {
	margin: 8px 0
}
.content-profile-leadership {
	width: 100%;
	float: left;
	margin-top: 45px;
}
.custom-thumbnail-profile-views {
	border: none;
	padding: 0;
	position: relative;
}
.custom-thumbnail-profile-views .custom-gallery-h1 {
	color: #fff;
	font-size: 19px;
	width: 90%;
}
.page-section-hire-me .custom-gallery-h1{width:40%;}
.custom-thumbnail-profile-views {
	margin-bottom: 15px;
}
.edu-details {
	height: 225px;
}
.star {
	width: 19px;
	height: 19px;
	display: inline-block;
	background: url(../images/img-star.png) no-repeat center;
}
.rating-container {
}
.total-star {
	font-size: 36px;
}
.group-experience {
	width: 100%;
	float: left;
}
.page-section-skills {
	padding: 60px 0 0
}
.navi-skills {
	list-style: none;
	margin: 0;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 600
}
.navi-skills li {
	width: 100%;
	float: left;
	margin: 5px 0
}
.navi-skills li a {
	color: #b2b2b2
}
.navi-skills li.active a {
	color: #303030
}
.c100 {
	position: relative;
	font-size: 120px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	float: left;
	margin: 0 0.1em 0.1em 0;
	background-color: #cccccc;
}
.c100 > span {
	position: absolute;
	width: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	width: 5em;
	line-height: 5em;
	font-size: 0.2em;
	color: #cccccc;
	display: block;
	text-align: center;
	white-space: nowrap;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.c100 *, .c100 *:before, .c100 *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.c100 .slice {
	position: absolute;
	width: 1em;
	height: 1em;
	clip: rect(0em, 1em, 1em, 0.5em);
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
	position: absolute;
	border: 0.08em solid #307bbb;
	width: 0.84em;
	height: 0.84em;
	clip: rect(0em, 0.5em, 1em, 0em);
	border-radius: 50%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.circle-bg {
	width: 190px;
	height: 190px;
	text-align: center;
	line-height: 180px;
	font-weight: bold;
	font-size: 18px;
	background: url(../images/skills-img.png) no-repeat center / 100%;
}
.heading-skill {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	margin: 0;
	margin-bottom: 20px;
}
.cols-skills {
	text-align: center;
	height: 300px;
}
.page-bg-gray {
	background-color: #f7f7f7;
	padding: 30px 0 20px 0
}
.custom-thumbnail-image-gallery .box-inside-content .date-location {
	margin-bottom: 5px;
}
.page-about-me-section {
	width: 100%;
	float: left;
}
.page-section-career-fair-details {
	background-color: #f7f7f7;
}
.page-control-container {
	float: left;
	width: 100%;
	margin: 7px 0;
}
.page-prev {
	color: #00b58e;
	font-weight: 600
}
.details-content {
	line-height: 25px;
	font-weight: 600
}
.page-section-career-details, .page-section-companies {
	margin-top: 0
}
.page-section-companies {
	padding-top: 120px;
	padding-bottom: 70px;
}
.slider-bottom-solical {
	margin: 75px 0 0 0
}
.social-total-list {
	margin-left: 10px;
	margin-top: 32px
}
.small-list {
	font-size: 5px;
	line-height: 5px;
	position: relative;
	top: -2px;
}
.custom-panel-heading {
	padding: 10px;
}
.custom-panel-heading .custom-accordion-toggle {
	width: calc(100% - 62px);
	color: #0D0D0D;/*display: block;*/
}
.custom-panel-heading .custom-accordion-toggle:focus, .custom-panel-heading .custom-accordion-toggle:hover {
	text-decoration: none;
	outline: none
}
.custom-panel-heading .accordion-toggle.custom-accordion-toggle {
	color: #74d1b8;
}
.custom-panel-heading .accordion-toggle.custom-accordion-toggle.collapsed {
	color: #0D0D0D;
}
.custom-panel-default {
	border-radius: 0
}
.custom-panel-default>.custom-panel-heading {
	background-color: #fff;
	border-radius: 0;
	border: none;
	text-transform: uppercase;
}
.sidebar-pabel-group .custom-panel-default {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	font-size: 11px;
}
.custom-panel-default>.custom-panel-heading+.panel-collapse>.custom-panel-body {
	border: none;
	padding: 0 10px
}
.sidebar-pabel-group {
	padding-top: 10px;
}
.custom-panel-title {
	font-size: 11px;
	position: relative;
}
.custom-accordion-drag {
	cursor: move;
	width: 62px;
	height: 10px;
	float: right;
	background: url(../images/dotted-panel-title.gif) repeat-x;
	float: right;
	margin: 3px 0px;
	position: relative;
	z-index: 0;
}
.custom-nav-tabs .custom-list-group-item {
	width: 100%;
	background-color: #dbede9;
	border: 0;
	margin-top: 5px;
	position: relative;
	background: #cee9e3;
}
.custom-nav-tabs .custom-list-group-item a {
	color: #303030;
	width: 100%;
	height: 80px;
	padding: 5px 5px 10px 10px;
	background: -moz-linear-gradient(left, #cee9e3 0%, #e9f4f2 100%);
	background: -webkit-linear-gradient(left, #cee9e3 0%, #e9f4f2 100%);
	background: linear-gradient(to right, #cee9e3 0%, #e9f4f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee9e3', endColorstr='#e9f4f2', GradientType=1 );
}
.custom-list-group-item:hover a, .custom-list-group-item.active a {
	color: #fff !important;
	background: #2cc1a0;
	background: -moz-linear-gradient(left, #2cc1a0 0%, #8ae2cf 100%);
	background: -webkit-linear-gradient(left, #2cc1a0 0%, #8ae2cf 100%);
	background: linear-gradient(to right, #2cc1a0 0%, #8ae2cf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cc1a0', endColorstr='#8ae2cf', GradientType=1 );
}
.custom-list-group-item-title {
	position: absolute;
	bottom: 5px;
	width: 75%;
	text-transform: uppercase;
}
.custom-nav-tabs {
	margin-bottom: 10px;
}
.custom-list-group-item:first-child, .custom-list-group-item:last-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.custom-list-group-right {
	float: right;
	height: 100%;
	position: relative;
}
.custom-badge {
	border: 1px solid #fff;
	padding: 0;
	width: 24px;
	height: 24px;
	line-height: 22px;
	font-weight: normal;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: right;
}
.custom-badge.inactive {
	background-color: #c7d6d3;
}
.custom-badge.active {
	background-color: #00b58d;
}
.custom-list-group-glyphicon {
	top: inherit;
	bottom: 0px;
	font-size: 12px;
	color: #c0cfcb;
	right: 4px;
	position: absolute;
}
.custom-list-group-item:hover .custom-list-group-glyphicon, .custom-list-group-item.active .custom-list-group-glyphicon {
	color: #72c0b0
}
.custom-heaing-glyphicon {
	font-size: 10px;
}
.main-content {
	width: calc(100% - 230px)
}
.glyphicon-circle {
	font-size: 9px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 13px;
	margin-right: 5px;
	border: 2px solid #676767;
	-webkot-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.custom-btn-active .glyphicon-circle {
	background-color: #fff;
}
.custom-btn-active .glyphicon-circle {
	color: #06bd96
}
.custom-btn-default:hover {
	border: 2px solid #676767;
}
.custom-btn-active, .custom-btn-active:hover {
	background-color: #10c7a1;
	color: #fff;
	-webkit-box-shadow: 0 0 20px rgba(10,192,154,0.2);
	-moz-box-shadow: 0 0 20px rgba(10,192,154,0.2);
	box-shadow: 0 0 20px rgba(10,192,154,0.2);
	border: none;
}
.custom-btn-default {
	border-radius: 20px;
	font-size: 11px;
}
.checkbox .checkbox-label {
	padding: 7px 10px;
	border-radius: 20px;
	color: #fff;
	text-transform: uppercase;
}
input[type="checkbox"].checkbox-input + label.checkbox-label:before {
	width: 18px;
	height: 18px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Glyphicons Halflings';
	font-size: 9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	content: "\002b";
	text-align: center;
	line-height: 13px;
	padding-left: 1px;
	margin-right: 2px;
	border: 2px solid #676767;
	cursor: pointer;
}
input[type="checkbox"].checkbox-input + label.checkbox-label {
	background-color: #fff;
	border: 2px solid #e2e2e2;
	color: #303030;
}
input[type="checkbox"].checkbox-input:checked + label.checkbox-label {
	/*background-color: #0cc39d;*/
	background-image: linear-gradient(270deg, #18D1AC 0%, #00B58E 100%);
	color: #fff;
	border: 2px solid #0cc39d;
	-webkit-box-shadow: 0 7px 14px 0 rgba(0,181,142,0.30);
	-moz-box-shadow: 0 7px 14px 0 rgba(0,181,142,0.30);
	box-shadow: 0 7px 14px 0 rgba(0,181,142,0.30);
}
input[type="checkbox"].checkbox-input:checked + label.checkbox-label:before {
	color: #01b58f;
	border-color: #fff;
	background-color: #fff;
	content: "\e013";
	padding-left: 0;
}
input[type="checkbox"].checkbox-input:checked + label.checkbox-label .glyphicon-circle {
	background-color: #fff;
	border-color: #fff;
	color: #01b58f
}
.checkbox-input {
	opacity: 0;
	cursor: pointer;
	margin-left: 15px !important;
	margin-top: 12px !important;
}
.custom-checkbox {
	display: inline-block;
	margin-right: 6px;
	font-size: 11px;
	margin-bottom: 15px;
}
.btn-cancel {
	background-color: #303030
}
.custom-btn {
	border-radius: 24px;
	font-size: 11px;
	text-transform: uppercase
}
.custom-btn:focus, .custom-btn:active:focus {
	outline: none;
	border: 1px solid #adadad
}
.custom-btn:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.4)
}
.custom-btn.btn-default:hover, .custom-btn.btn-default:focus {
	background-color: #fff;
}
.custom-btn.btn-cancel:hover, .custom-btn.btn-cancel:focus {
	background-color: #303030
}
.contanier-inside {
	max-width: 670px;
	float: left;
	padding: 46px 0 0 77px;
}
.page-title {
	margin-bottom: 50px;
	text-transform: uppercase
}
.text-description {
	color: #b2b2b2;
}
.custom-glyphicon-circle {
	width: 32px;
	height: 32px;
	border: 2px solid #e4e4e4;
	text-align: center;
	line-height: 27px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
}
.custom-glyphicon-circle.glyphicon-minus:before {
	margin-left: 0px;
}
.custom-glyphicon-circle.glyphicon-plus:before {
	margin-left: 2px;
}
.col-lidership-md-1 {
	margin-left: -57px;
	margin-top: 14px;
}
.hr-line-lidership {
	margin-left: -57px;
	clear: both;
	margin-right: 0;
	width: 100%;
	float: left;
	margin-top: 27px;
}
.custom-text-area {
	background-color: #f7f7f7;
	padding: 20px;
}
.custom-textbox {
	border-width: 0 0 2px 0;
	border-color: #e4e4e4;
	padding: 0 0 9px 0;
	height: 40px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.custom-lider-form-grou {
	margin-bottom: 25px;
}
.btn-addrole {
	margin-top: 23px;
	float: left;
	color: #d2d2d2;
	font-weight: 600;
}
.custom-textbox:focus, .custom-text-area:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-con-instagram {
	margin-left: -40px;
	margin-top: 35px;
}
.tab-pane-instagram {
	font-size: 13px;
}
.content-group {
	width: 100%;
}
.btn-select-photos {
	margin-left: 15px
}
.btn-select-photos, .btn-con-instagram {
	border-radius: 23px;
}
.row-10px {
	margin: 0 -10px;
}
.row-10px .col-10px {
	padding: 10px;
	position: relative;
	width: 20%;
	float: left;
}
.row-10px .col-10px .img-responsive {
	width: 100%
}
.icon-circle-photos {
	position: absolute;
	width: 24px;
	height: 24px;
	border: 2px solid #b1aab0;
	border-radius: 50%;
	right: 0;
	text-align: center;
	line-height: 20px;
	right: 10px;
	top: 10px;
	font-size: 10px;
	color: #b1aab0;
	font-weight: normal;
	display: none;
	font-family: 'Glyphicons Halflings'
}
.icon-circle-photos:before {
	content: "\002b"
}
.thumbnail-img.active .icon-circle-photos:before {
	content: "\e013"
}
.thumbnail-img {
	position: relative;
	width: 100%;
	float: left;
}
.modal-dialog {
	width: 900px;
}
.thumbnail-img:hover .icon-circle-photos {
	display: block;
}
.thumbnail-img.active .icon-circle-photos {
	display: block;
	background-color: #fff;
	color: #303030;
	border-color: #fff;
}
.thumbnail-img:hover:before, .thumbnail-img.active:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.1);
	z-index: 0
}
.form-group label {
	color: #d2d2d2;
	font-weight: normal;
}
.tabe-pane-lidarship .contanier-inside {
	width: 670px;
}
.username {
	margin: 10px 0 5px 0;
	font-weight: 600;
}
.user-status {
	margin: 0;
}
.custom-modal-close {
	position: absolute;
	right: -30px;
	color: #fff;
	top: -3px;
	opacity: 1;
	font-size: 28px;
	font-weight: normal;
}
.custom-modal-close:hover {
	color: #fff;
	opacity: 1;
}
.custom-modal-body {
	padding: 30px 40px;
}
.custom-modal-title {
	font-weight: bold;
	text-transform: uppercase
}
.custom-modal-content {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.custom-modal-footer, .custom-login-modal-footer {
	background-color: #f7f7f7;
	border-top: 0;
	margin-top: 80px;
}
.link-forgot-password {
	margin-left: 33px;
	color: #303030
}
.custom-login-modal-footer {
	text-align: center;
}
.row-5px {
	margin: 0 -5px;
}
.custom-row-5 {
	margin: 0 -5px;
}
.row-5px .col-5px {
	padding: 5px;
	width: 20%;
	float: left;
}
.col-5px .img-responsive {
	width: 100%;
}
.tab-pane-yourgoals .contanier-inside {
	max-width: 740px;
	padding-left: 0;
	width: 100%;
}
.video-player-container {
	width: 100%;
	height: 435px;
	line-height: 435px;
	margin-bottom: 20px;
	float: none;
	display: inline-block;
	background-color: #f2f2f2;
	text-align: center
}
.video-question-title {
	text-align: center;
	display: inherit;
	font-weight: bold
}
.custom-btn-videostop {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 20px;
	border: 2px solid #303030;
}
.btn-default.show, .btn-primary.show {
	display: inline-block !important
}
.custom-btn-videostop .glyphicon {
	top: 5px;
	left: -1px;
}
.sideba-navi-scroll {
	overflow: auto;
	position: relative;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sideba-navi-scroll .panel-body {
	padding: 0 15px
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #d7d7d7 !important
}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
	margin: 5px 0 !important
}
.video-player {
	width: 100%;
	height: 100%
}
.custom-btn-following .glyphicon {
	margin-right: 3px;
}
.custom-btn-following {
	text-transform: uppercase;
	color: #303030
}
.custom-btn-following:hover, .custom-btn-following:focus, .custom-btn-following.active, .custom-btn-following:active {
	color: #fff !important;
	background: #2cc1a0;
	border-color: transparent;
	border-radius: 25px;
	font-weight: 600;
	text-transform: uppercase;
	background: -moz-linear-gradient(left, #00b58e 0%, #18d0ab 100%);
	background: -webkit-linear-gradient(left, #00b58e 0%, #18d0ab 100%);
	background: linear-gradient(to right, #00b58e 0%, #18d0ab 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b58e', endColorstr='#18d0ab', GradientType=1 );
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.slider-btn-group {
	margin: 30px 0
}
.slider-bottom-solical .date-location, .slider-bottom-solical .company-location {
	font-size: 14px;
	margin-top: 5px
}
.custom-btn-following.active .custom-glyphicon-plus:before {
	content: "\e013"
}
.custom-btn-following .custom-glyphicon-plus:before {
	content: "\002b"
}
.custom-row-35 {
	margin: 0 -18px 0 -17px
}
.company-heading-group {
	text-align: center;
	margin-bottom: 20px;
}
.custom-thumbnail-company-logo {
	line-height: 353px;
	height: 353px;
	text-align: center;
	display: inline-block;
	width: 100%;
	box-shadow: 0px 0 15px rgba(0,0,0,0.2);
}
.custom-thumbnail-company-logo img.logo-companies-box {
	display: inherit
}
.page-section-All-companies .custom-thumbnail-company-logo {
	height: 160px;
	line-height: 148px;
	margin-bottom: 10px
}
.page-section-All-companies h4, .page-section-All-companies .custom-h4 {
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 4px
}
.page-section-All-companies .custom-h5 {
	text-transform: none;
	margin: 0
}
.custom-media-object {
	width: 70px;
}
.custom-panne1-companies {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.custom-panne1-companies > .custom-panel-heading-companies {
	border: none;
	background-color: #fff;
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #ececec;
	margin-bottom: 15px;
}
.custom-panel-heading-companies .custom-h3 {
	padding-bottom: 3px;
}
.media-group-container {
	width: 100%;
	float: left;
}
.custom-media {
	position: relative;
	padding-bottom: 15px;
	border-bottom: 1px solid #ececec
}
.custom-media a h4, .custom-media a h5 {
	color: #303030
}
.custom-media a h4 {
	margin-top: 2px;
}
.custom-media, .custom-media-body {
	overflow: visible;
}
.custom-media-left {
	padding-right: 15px;
}
.list-block .media-body > a {
	position: absolute;
	font-size: 30px;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: #878787;
}
.media-right-arrow {
	position: absolute;
	right: 0;
	top: 15%;
	font-size: 24px;
	color: #878787
}
.dropdown, .dropup {
	cursor: pointer;
}
.form-control-cities {
	background-color: #f7f7f7;
	border: 2px solid #ebebeb;
	box-shadow: none;
	margin-bottom: 0
}
.custom-form-group-cities {
	padding: 0 10px;
	margin-bottom: 0
}
.dropdown-menu-cities {
	min-width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none
}
.custom-drop-down > li >a {
	font-weight: 600;
	font-size: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #6f6f6f
}
.custom-media-company-gallery {
	margin-bottom: 20px;
}
.cusom-model-media-left {
	position: relative;
}
.custom-model-logo02 {
	width: 25px;
	position: absolute;
	right: 5px;
	top: 30px
}
.cusom-model-dashboard-header {
	padding: 50px 40px 80px 40px;
	border-bottom: none;
}
.video-model-container {
	background-color: #36383c;
	padding: 40px;
	margin-bottom: 40px
}
.custom-modal-video-content {
	border: none !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.custom-tabs-model {
	border-bottom: 0
}
.custom-tabs-model>li {
	float: none;
	text-transform: uppercase;
	position: relative;
}
.custom-tabs-model>li>a, .custom-tabs-model>li, .custom-tabs-model>li>a:hover {
	color: #b2b2b2;
	border: none;
	padding: 0;
	margin: 10px 0;
}
.custom-tabs-model>li.active:before {
	content: "-";
	width: 15px;
	font-weight: 800;
	position: absolute;
	top: 0;
	padding-left: 15px;
	box-sizing: content-box;
	color: #00b58e;
	font-size: 14px;
	left: -25px;
}
.custom-modal-video-content .media-group-container {
	padding: 0 20px 0 40px;
}
.col-right-40px {
	padding-right: 40px;
}
.custom-tabs-model>li.active>a, .custom-tabs-model>li.active>a:focus, .custom-tabs-model>li.active>a:hover {
	background-color: inherit;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	color: #00b58e
}
.custom-tabs-model>li>a:hover {
	background-color: inherit;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
}
.custom-video-modal-body {
	padding: 0
}
.media-object-user {
	width: 50px;
}
.custom-model-logo02 img {
	width: 100%;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.cusom-media-model-body .custom-h2 {
	margin-top: 0
}
.custom-h5-model {
	font-weight: 600
}
.highlighted-green {
	color: #00b58e
}
.custom-h6-model {
	color: #b2b2b2
}
.custom-right-icons {
	float: left;
	margin: 44px 0 24px 0;
}
.custom-right-icons a {
	color: #303030;
	font-size: 15px;
	margin-left: 15px;
}
.custom-form-control-br-bottom {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ededed;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding-left: 0;
}
.custom-form-control-br-bottom:focus{
	box-shadow:none;
	}
.custom-modal-body-login {
	width: 662px;
	margin: 0 auto;
}
.custom-btn-login {
	text-transform: uppercase;
	padding: 14px 55px;
	border-radius: 30px;
	background-color: transparent;
	font-size: 12px;
	background-color:#fff;
}
.custom-btn-allow,.custom-btn-forbid{
	text-transform: uppercase;
	padding: 6px 20px;
	border-radius: 30px;
	background-color: transparent;
	font-size: 12px;
	}
.circle-icon{
	    border: 2px solid #b2b2b2;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
	color:#b2b2b2
	}	
.email-support{color:#b2b2b2}	
.custom-btn-allow,.custom-btn-allow:hover{color:#fff; border-color:transparent}	
.page-step-container {
	width: 100%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 600;
	color: #b2b2b2
}
.icon-list {
	margin: 3px 0;
}
.icon-list:before {
	width: 12px;
	content: attr(data-icon);
	font-weight: 800;
	padding-right: 3px;
}
.link-signup-student{
	display:inline-block;
	width:25%;
	vertical-align:middle;
	}
.group-followers{margin-left:15px;}
.counter-number{font-size:30px; color:#e6e6e6; margin:0}
.col-sm-character{
	float:none;
	margin-right:-3px;
	display:inline-block;
	vertical-align:top
	}
.custom-page-h2-bottom{clear:both; margin-bottom:35px;}	
 @media (min-width:992px) and (max-width:1199px) {
.custom-thumbnail-box-views {
	height: 140px
}
.total-views {
	margin-top: 40px;
}
.custom-large-image-gallery {
	height: 260px
}
.custom-thumbnail-image-gallery {
	height: 170px;
}
.arrow-triangle {
	border-bottom-width: 261px;
	border-right-width: 165px;
}
.page-section-recent-fairs .custom-large-image-gallery {
	height: 240px;
}
.slider-container-career .owl-nav {
	top: 45%;
}
.custom-thumbnail-company-logo {
	line-height: 290px;
	height: 290px;
	text-align: center;
}
.page-section.video-profile .custom-large-image-gallery, .page-section-profile.video-profile .custom-make-video-gallery,.page-career-fair .row-emp-pro-career-fair .custom-thumbnail-image-gallery {
	height: 215px;
}

}
@media (min-width:768px) and (max-width:991px) {
.custom-large-image-gallery {
	height: 195px;
}
.custom-thumbnail-image-gallery {
	height: 175px;
}
.custom-navbar-brand {
	margin-left: 0 !important
}
.custom-navbar-default .container-fluid {
	padding: 19px 30px
}
.custom-sidebar {
	width: 170px;
}
.custom-panel-heading {
	padding: 6px;
}
.custom-accordion-drag {
	width: 45px;
}
.custom-panel-default>.custom-panel-heading+.panel-collapse>.custom-panel-body {
	padding: 0 7px
}
.main-content {
	width: calc(100% - 170px);
}
.custom-badge {
	font-size: 11px;
}
.sidebar-pabel-group .custom-panel-default {
	font-size: 10px;
}
.contanier-inside {
	width: 481px;
	padding-top: 27px;
	padding-left: 45px;
}
.tabe-pane-lidarship .contanier-inside {
	max-width: none;
	width: 481px;
}
.page-title {
	font-size: 25px;
	margin-bottom: 34px;
}
.custom-checkbox {
	font-size: 9px;
	margin-right: 2px;
	margin-bottom: 10px;
}
.checkbox .checkbox-label {
	padding: 4px 6px
}
.checkbox-input {
	margin-left: 7px;
	margin-top: 7px;
}
input[type="checkbox"].checkbox-input + label.checkbox-label:before {
	width: 14px;
	height: 14px;
	line-height: 10px;
	font-size: 7px;
}
.modal-dialog {
	width: 700px;
	padding: 0 15px;
}
.hr-line-lidership {
	margin-left: -40px;
}
.slider-container-career .owl-nav {
	top: 45%;
}
}
 @media (max-width:767px) {
.custom-navbar-default .container-fluid, .custom-navbar-default .container, .navbar-fixed-top.custom-navbar-default .container-fluid, .navbar-fixed-top.custom-navbar-default .container {
	padding: 15px
}
.fair-prev, .fair-next {
	top: 20px;
}
.fair-prev {
	left: 0
}
.fair-next {
	right: 0
}
.custom-large-image-gallery {
	height: 200px;
}
.navbar-default .navbar-brand {
	margin-left: 15px
}
.page-section-recent-fairs {
	padding: 0px 0
}
}

