<section class="page-section background-color-02 page-section-skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2">
                <h1 class="h1 custom-page-h1">Skills</h1>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4"  ng-repeat="emp_skill in  employee_profile_details.skill">
                                <div class="cols-skills">
                                    <!-- <div class="circle-bg">{{emp_skill.rating}}</div> -->
                                    <div class="progress-circle progress-{{skills.rating}}"><span>{{emp_skill.rating}}</span></div>
                                    <h4 class="heading-skill">{{emp_skill.name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <ul class="navi-skills">
                            <li class="active" ng-repeat-start="emp_skill in  employee_profile_details.skill" ng-if="$first"><a href="#" title="{{emp_skill.skill_type}}">{{emp_skill.skill_type}}</a></li>
                            <li ng-repeat-end ng-if="!$first"><a href="#" title="{{emp_skill.skill_type}}">{{emp_skill.skill_type}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
