
<div class="row" ng-if="(company_profile_details.est_date_description && company_profile_details.establishment_date) || (company_profile_details.internships_to_jobs && company_profile_details.internships_job_description)||(company_profile_details.company_size_description && company_profile_details.company_size)||(company_profile_details.hire_rates && company_profile_details.hire_rates_description)||(company_profile_details.departure_rate && company_profile_details.departure_rate_description)||(company_profile_details.average_entry_level_sal)||(company_profile_details.growth_rate_description && company_profile_details.growth_rate)||(company_profile_details.investor_conf_description && company_profile_details.investor_confidence)||(company_profile_details.characteristics.length > 0)||(company_profile_details.gallery.length > 0)||(company_profile_details.contacts.length > 0)||(company_profile_details.founder.length > 0)">
<div class="col-sm-6">
    <h1 class="h1 custom-page-h1 profile-company-title">Company</h1>
  </div>
  <div class="col-sm-6">
    <ul class="list-company-profile">
      <li ng-if="company_profile_details.category">
        <h6 class="h6 custom-h6 custom-h6">Industry</h6>
        <h1 class="h1 custom-h1-01 custom-h1-01">{{company_profile_details.category}}</h1>
      </li>

      <li ng-if="company_profile_details.product_category">
        <h6 class="h6 custom-h6">Product category</h6>
        <h1 class="h1 custom-h1-01 custom-h1-01">{{company_profile_details.product_category}}</h1>
      </li>
    </ul>
  </div>
</div>


<section class="page-section page-section-date-establishment" ng-if="company_profile_details.est_date_description && company_profile_details.establishment_date">
 <div class="container-775 pull-left">
  <div class="row row-35">
    <div class="col-sm-5 text-center">
       <h1 class="custom-h1-01">
        Date of Establishment
      </h1>
      <p class="content-profile-view">{{company_profile_details.est_date_description}}</p>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <img src="assets/images/establishment-img.png" class="img-responsive" alt="">
      <div class="text-date-establishment">{{company_profile_details.establishment_date| date:"y"}}</div>
    </div>
    </div>

  </div>
</section>
<section class="page-section page-section-intership page-section-intership-new" ng-if="company_profile_details.internships_to_jobs && company_profile_details.internships_job_description">
 <div class="container-775 pull-left">
  <div class="row">
    <div class="col-sm-6 pull-left">
      <div class="progress-circle-new progress-circle progress-{{company_profile_details.internships_to_jobs }}"><span>{{company_profile_details.internships_to_jobs}}</span></div>
    </div>

    <div class="col-sm-6">
    <hgroup class="heading-group-profile-view">
      <h1 class="h1 custom-h1-01">
        Internships
      </h1>
      <h3 class="h3 custom-h3">that turn into full-time jobs</h3>
      </hgroup>
      <p class="content-profile-view">{{company_profile_details.internships_job_description}}</p>
    </div>

  </div>
  </div>
</section>
<section class="page-section page-section-company-size page page-section-intership-new" ng-if="company_profile_details.company_size_description && company_profile_details.company_size">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="h1 custom-h1-01">
        Company Size
      </h1>
      <p class="content-profile-view">{{company_profile_details.company_size_description}}</p>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <img src="assets/images/company-size-icon.png" class="img-responsive" alt="">
      <div class="text-company-size">
        {{company_profile_details.company_size}}+
        <span class="medium-text">people work <br>for us</span>
      </div>
    </div>

  </div>
</section>
<section class="page-section page-section-hire-departure page-section-intership-new" ng-if="company_profile_details.hire_rates && company_profile_details.hire_rates_description">
  <div class="row">
    <div class="col-sm-6 mt60 hire-section" ng-if="company_profile_details.hire_rates && company_profile_details.hire_rates_description">
        <h1 class="h1 custom-h1-01 bg-arrow-up">
        Hire Rates
      </h1>
        <p class="text-title-big">
        <span class="large-text bold-text green-text">{{company_profile_details.hire_rates}}</span>
        <span class="text-people-title"> people per year</span>
      </p>
      <div class="row">
        <div class="col-sm-8">
          <p class="content-profile-view text-left">{{company_profile_details.hire_rates_description}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt60 hire-section departure-section departure-section-new" ng-if="company_profile_details.departure_rate && company_profile_details.departure_rate_description">
      <h1 class="custom-h1-01 bg-arrow-down">
        Departure Rates
      </h1>
      <p class="text-title-big">
        <span class="large-text bold-text green-text">{{company_profile_details.departure_rate}}</span>
        <span class="text-people-title"> people per year</span>
      </p>
      <div class="row">
        <div class="col-sm-8">
         <p class="content-profile-view text-left">{{company_profile_details.departure_rate_description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section page-section-avg-salary page-section-intership-new" ng-if="company_profile_details.average_entry_level_sal">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="h1 custom-h1-01">
        Average Entry Level Salary
      </h1>
    </div>
    <div class="col-sm-8">
      <img src="assets/images/entry-level-img.png" class="img-responsive" alt="">
      <div class="text-avg-salary">
        <small class="salary-per-month">$</small>{{company_profile_details.average_entry_level_sal}}
        <span class="txt-permonth">per month</span>
      </div>
    </div>
  </div>
</section>
<section class="page-section page-section-company-growth page-section-intership-new" ng-if="company_profile_details.growth_rate_description && company_profile_details.growth_rate">
  <div class="row">
    <div class="col-sm-6  pull-right">
     <h1 class="h1 custom-h1-01">
        Company Growth Rate
      </h1>
      <h3 class="">during the last 10 years</h3>
     <p class="content-profile-view text-left">{{company_profile_details.growth_rate_description}}</p>
    </div>
    <div class="col-sm-6 pull-left">
      <img src="assets/images/growth-img.png" class="img-responsive" alt="">
      <div class="txt-company-growth">+{{company_profile_details.growth_rate|number:0}}%</div>
    </div>

  </div>
</section>
<section class="page-section page-section-investor-confidence page-section-intership-new" ng-if="company_profile_details.investor_conf_description && company_profile_details.investor_confidence">
  <div class="row">
    <div class="col-sm-5">
     <h1 class="h1 custom-h1-01">
        Investor Confidence
      </h1>
     <p class="content-profile-view text-left">{{company_profile_details.investor_conf_description}}</p>
    </div>
    <div class="col-sm-7">
      <img src="assets/images/investor-bg.png" class="img-responsive" alt="">
      <div class="txt-investor">
        {{company_profile_details.investor_confidence|number:2}}
        <span class="txt-investor-02"><i class="fa fa-long-arrow-down"></i> 6.5</span>
      </div>
    </div>
  </div>
</section>
<section class="page-section page-section-date-character page-section-intership-new" ng-if="company_profile_details.characteristics.length > 0 ">
  <div class="row">
    <h1 class="h1 custom-h1">Characteristics</h1>

    <div class="row">
      <div class="col-sm-2">
        <p class="content-profile-view text-left">My friends would describe me as</p>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-4 col-sm-character" ng-repeat="characteristics in company_profile_details.characteristics">
            <div class="cont-character">
              <h2 class="counter-number">{{$index+1}} </h2>
              <h5 class="custom-h5-02">{{characteristics.characteristic}}</h5>
               <p class="content-profile-view">{{characteristics.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section page-section-office page-section-intership-new" ng-if="company_profile_details.gallery.length > 0">

  <div class="row">
    <div class="col-xs-12 col-sm-12">
     <h1 class="h1 custom-h1-01">
        Office
      </h1>
    </div>
  </div>
  <div class="row custom-row-10 custom-thumbnail-profile-20" ng-if="company_profile_details.gallery.length > 0">
    <div class="col-sm-3" ng-repeat="galleries in company_profile_details.gallery">
    <div class="thumbnail custom-thumbnail-profile-views">
      <img ng-src="{{galleries.photo}}" class="img-responsive custom-img-responsive" alt="Office">
      </div>
    </div>
  </div>
</section>
<section class="page-section page-section-locations page-section-intership-new" ng-if="company_profile_details.contacts.length > 0">
  <div class="row">
    <div class="col-xs-12 col-sm-12 ">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="h1 custom-h1-01">
            Location
          </h1>
          <div class="location-profile-view">
          <div class="content-profile-view text-left">{{company_profile_details.contacts[0].address_1}}, {{company_profile_details.contacts[0].address_2}}</div>
          <div class="content-profile-view text-left">{{company_profile_details.contacts[0].city}}, {{company_profile_details.contacts[0].state}}</div>
          <div class="content-profile-view text-left">{{company_profile_details.contacts[0].country}}</div>
          <div class="content-profile-view text-left">{{company_profile_details.contacts[0].zip_code}}</div>
          <div class="content-profile-view text-left">{{company_profile_details.contacts[0].contact_no}}</div>
          <div class="content-profile-view text-left">{{company_profile_details.contacts[0].e_mail}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section page-section-locations page-section-intership-new" ng-if="company_profile_details.founder.length > 0">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h1 class="h1 custom-h1-01">
        Founders
      </h1>
    </div>
  </div>
  <div class="row row-30">
    <div class="col-sm-4" ng-repeat="companyfounder in company_profile_details.founder">
      <img ng-src="{{companyfounder.photo}}" class="img-responsive" alt="Founder">
      <h4 class="text-uppercase bold-text">{{companyfounder.designation}}</h4>
    </div>
  </div>
</section>
