
<div class="row" ng-if="company_profile_details.topemployee.length > 0">
    <div class="col-xs-12 col-sm-12">
        <h1 class="text-uppercase bold-text heading">
            Employees
        </h1>
    </div>
</div>
<div class="row"  ng-if="company_profile_details.topemployee.length > 0">
    <div class="col-xs-12 col-sm-12">
        <h3 class="h3 custom-h3">
            Top 3 Schools our employees<br>graduated from
        </h3>
    </div>
</div>
<section class=" page-section school-section"  ng-if="company_profile_details.topemployee.length > 0">
    <div class="row custom-row">
        <div class="col-sm-4 " ng-repeat="companyemployee in company_profile_details.topemployee | limitTo : 3">
            <span></span>
            <img ng-src="{{companyemployee.photo}}" class="img-responsive" alt="img">
            <h4 class="h4 custom-h4-02">{{companyemployee.school_name}}</h4>
            <p>{{companyemployee.full_name}}</p>
        </div>
    </div>
</section>
