<section class="page-section video-profile">
    <div class="row custom-row-15">
        <div class="col-sm-6" ng-repeat="cmpny_video in com_company_profile_details.video">
            <a href="" ng-click="videoPopup(cmpny_video.id)" class="thumbnail custom-large-image-gallery customn-thumbs-color-01">
                <img ng-src="{{cmpny_video.thumbnail}}" class="img-responsive custom-img-responsive">
                <div class="overlay "></div>
                <span class="arrow-triangle"></span>
                <div class="box-inside-content">
                    <h1 class="h1 custom-gallery-h1">{{cmpny_video.title}}</h1>
                </div>
            </a>
        </div>
    </div>
</section>
