<section id="company_company_profile_wearehiring" class="page-section page-section-we-hire" ng-if="company_profile_details.hiring[0].benefits || company_profile_details.hiring[0].perks || company_profile_details.hiring[0].culture">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2">
                <h1 class="h1 custom-page-h1">We Are Hiring</h1>
                <h1 class="h1 custom-h1-01 custom-h1-05">Why you should<br>
                    work for us
                </h1>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="box bg-green box-tab-content">
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane" id="benefits" ng-if="company_profile_details.hiring[0].benefits">
                                    <h3 class="text-uppercase bold-text">Benefits</h3>
                                    <p class="medium-text">{{company_profile_details.hiring[0].benefits}}</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="perks"  ng-if="company_profile_details.hiring[0].perks">
                                    <h3 class="text-uppercase bold-text">Perks</h3>
                                    <p class="medium-text">{{company_profile_details.hiring[0].perks}}</p>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="culture"  ng-if="company_profile_details.hiring[0].culture">
                                    <h3 class="text-uppercase bold-text">Culture</h3>
                                    <p class="medium-text">{{company_profile_details.hiring[0].culture}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <ul class="nav nav-tabs custom-tab-vertical" role="tablist">
                            <li role="presentation" class="" ng-if="company_profile_details.hiring[0].benefits"><a href="" data-target="#benefits" aria-controls="benefits" role="tab" data-toggle="tab" class="bold-text text-uppercase" aria-expanded="false">Benefits</a></li>
                            <li role="presentation" class="" ng-if="company_profile_details.hiring[0].perks"><a href="" data-target="#perks" aria-controls="perks" role="tab" data-toggle="tab" class="bold-text text-uppercase" aria-expanded="false">Perks</a></li>
                            <li role="presentation" class="active" ng-if="company_profile_details.hiring[0].culture"><a href="" data-target="#culture" aria-controls="culture" role="tab" data-toggle="tab" class="bold-text text-uppercase" aria-expanded="true">Culture</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
