<section class="page-section complete-profile" ng-controller="companyprofileform">
    <div class="thumbnail custom-thumbnail-pro-accordion">
        <div class="panel-group custom-panel-group" id="accordion">
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_basic_information" ng-if="company_profile_details.logo =='' && company_profile_details.name =='' && company_profile_details.product_category =='' && company_profile_details.facebook_url=='' && company_profile_details.linkedin_url==''&& company_profile_details.twitter_url==''&& company_profile_details.website==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cbasicinformation"  data-toggle="collapse" data-parent="#accordion" href=""><span class="glyphicon custom-glyphicon-accordion"></span>Company Information</a>
                    </h4>
                </div>
                <div id="cbasicinformation" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="basicinfosubmit(basicinfoform.logo)">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Company Name</label>
                                    <input type="hidden" name="id" ng-model="basicinfoform.id">
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a company name" name="name"  ng-model="basicinfoform.name" >
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Industry</label>
                                    <select name="category"  ng-model="basicinfoform.category">
                                        <option ng-repeat="compa_cate in company_cate | unique:'category'| orderBy : 'category' " value="{{compa_cate.category}}">{{compa_cate.category}}</option>
                                    </select>
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Product Category</label>
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a product category name" name="product_category"  ng-model="basicinfoform.product_category" >
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Website</label>
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a Website URL" name="website"  ng-model="basicinfoform.website" >
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Linkedin</label>
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a Linkedin URL" name="linkedin_url"  ng-model="basicinfoform.linkedin_url">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Twitter</label>
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a Twitter URL" name="twitter_url"  ng-model="basicinfoform.twitter_url">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Facebook</label>
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a Facebook URL" name="facebook_url"  ng-model="basicinfoform.facebook_url">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Profile Picture</label>
                                    <input type="file" ngf-select ng-model="basicinfoform.logo" name="file" accept="image/*" >
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_benefitperkscultrue" ng-if="company_profile_details.hiring[0].benefits =='' && company_profile_details.hiring[0].perks =='' &&company_profile_details.hiring[0].culture ==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cbenefitperkscultrue"  data-toggle="collapse" data-parent="#accordion" href=""><span class="glyphicon custom-glyphicon-accordion"></span>Why should you work for us</a>
                    </h4>
                </div>
                <div id="cbenefitperkscultrue" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="benefitperkscultruesubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Benefits</label>
                                    <input type="text" name="benefits" ng-model="benefitperkscultrueform.benefits" class="form-control custom-textbox" placeholder="Give it a benefits">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Perks</label>
                                    <input type="text" name="perks" ng-model="benefitperkscultrueform.perks" class="form-control custom-textbox" placeholder="Give it a Perks">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Culture</label>
                                    <input type="text" name="culture" ng-model="benefitperkscultrueform.culture" class="form-control custom-textbox" placeholder="Give it a Culture">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_dateofestablishment" ng-if="company_profile_details.est_date_description =='' && company_profile_details.establishment_date==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cdateofestablishment"  data-toggle="collapse" data-parent="#accordion" href=""><span class="glyphicon custom-glyphicon-accordion"></span>DATE OF ESTABLISHMENT</a>
                    </h4>
                </div>
                <div id="cdateofestablishment" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="establishmentsubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">ESTABLISHMENT DATE</label>
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a company establishment date" name="establishment_date" ng-model="establishmentform.establishment_date">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" class="form-control custom-textbox" placeholder="Give it a establishment description" name="est_date_description" ng-model="establishmentform.est_date_description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_internship" ng-if="company_profile_details.internships_to_jobs =='' && company_profile_details.internships_job_description==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cinternship"  data-toggle="collapse" data-parent="#accordion" href=""><span class="glyphicon custom-glyphicon-accordion"></span>INTERNSHIPS</a>
                    </h4>
                </div>
                <div id="cinternship" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="internshipsubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">MIGRATION LABEL</label>
                                    <input type="hidden" name="id" ng-model="internshipform.id">
                                    <input type="range" name="internships_to_jobs" ng-model="internshipform.internships_to_jobs" min="0" max="100" class="form-control custom-textbox" placeholder="Give it a empoyee migration percentage">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="internships_job_description" ng-model="internshipform.internships_job_description" class="form-control custom-textbox" placeholder="Give it a employee migration description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_companysize" ng-if="$scope.company_profile_details.company_size_description=='' &&  $scope.company_profile_details.company_size==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#ccompanysize"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            COMPANY SIZE
                        </a>
                    </h4>
                </div>
                <div id="ccompanysize" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="companysizesubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">SIZE</label>
                                    <input type="hidden" name="id" ng-model="companysizeform.id">
                                    <input type="text" name="company_size" ng-model="companysizeform.company_size" class="form-control custom-textbox" placeholder="Give it a Company empoyee size">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="company_size_description" ng-model="companysizeform.company_size_description" class="form-control custom-textbox" placeholder="Give it a employee size description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_hireanddeparture" ng-if="company_profile_details.hire_rates=='' && company_profile_details.hire_rates_description =='' && company_profile_details.departure_rate==''&& company_profile_details.departure_rate_description">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#chireanddeparture"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            HIRE &amp; DEPARTURE RATES
                        </a>
                    </h4>
                </div>
                <div id="chireanddeparture" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="hireratesubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">HIRE RATES</label>
                                    <input type="hidden" name="id" ng-model="hirerateform.id">
                                    <input type="text"  name="hire_rates" ng-model="hirerateform.hire_rates" class="form-control custom-textbox" placeholder="Give it a Hire rates size">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="hire_rates_description" ng-model="hirerateform.hire_rates_description" class="form-control custom-textbox" placeholder="Give it a hire rates description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Departure Rates</label>
                                    <input type="text" name="departure_rate" ng-model="hirerateform.departure_rate" class="form-control custom-textbox" placeholder="Give it a Departure rates size">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="departure_rate_description" ng-model="hirerateform.departure_rate_description" class="form-control custom-textbox" placeholder="Give it a departure rates description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_averagesalary" ng-if="company_profile_details.average_entry_level_sal==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#caveragesalary"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Average Entry Level Salary
                        </a>
                    </h4>
                </div>
                <div id="caveragesalary" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="csalarysubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Salary Range</label>
                                    <input type="range" ng-model="salaryform.average_entry_level_sal" min="0" max="100" class="form-control" placeholder="Give it a entry level salary range">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text"  ng-model="salaryform.average_entry_level_sal_description" class="form-control custom-textbox" placeholder="Give it a hire rates description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="panel panel-default custom-accordion-panel-default" id="company_profile_fundingsize">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cfundingsize"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Total Funding Size
                        </a>
                    </h4>
                </div>
                <div id="cfundingsize" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="fundingsubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Funding Size</label>
                                    <input type="hidden" name="id" ng-model="fundingform.id">
                                    <input type="text" name="funding_size" ng-model="fundingform.funding_size" class="form-control custom-textbox" placeholder="Give it a funding size">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="funding_size_description" ng-model="fundingform.funding_size_description" class="form-control custom-textbox" placeholder="Give it a funding size description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_growthrate" ng-if="company_profile_details.growth_rate==''&& company_profile_details.growth_rate_description==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cgrowthrate"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Company Growth Rate
                        </a>
                    </h4>
                </div>
                <div id="cgrowthrate" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="growthratesubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Growth Rate</label>
                                    <input type="hidden" name="id" ng-model="growthrateform.id">
                                    <input type="text"  name="growth_rate" ng-model="growthrateform.growth_rate" class="form-control custom-textbox" placeholder="Give it a growth rate">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="growth_rate_description" ng-model="growthrateform.growth_rate_description" class="form-control custom-textbox" placeholder="Give it a growth rate description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_inverster" ng-if="company_profile_details.investor_confidence =='' && company_profile_details.investor_conf_description==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cinverster"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Invester Confidence
                        </a>
                    </h4>
                </div>
                <div id="cinverster" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="investorsubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Invester confidence</label>
                                    <input type="hidden" name="id" ng-model="investorform.id">
                                    <input type="text" name="investor_confidence" ng-model="investorform.investor_confidence" class="form-control custom-textbox" placeholder="Give it a invester confidence rate">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="investor_conf_description" ng-model="investorform.investor_conf_description" class="form-control custom-textbox" placeholder="Give it a invester confidence description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default custom-accordion-panel-default" id="company_profile_location" ng-if="company_profile_details.contacts[0].address_1==''&&company_profile_details.contacts[0].address_2==''&& company_profile_details.contacts[0].city==''&&company_profile_details.contacts[0].state==''&&company_profile_details.contacts[0].country==''&&company_profile_details.contacts[0].zip_code==''&&company_profile_details.contacts[0].contact_no==''&&company_profile_details.contacts[0].e_mail==''">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#clocation"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Location
                        </a>
                    </h4>
                </div>
                <div id="clocation" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="locationsubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Address #1</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.address_1" placeholder="Give it a Address #1">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Address #2</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.address_2" placeholder="Give it a Address #2">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">City</label>
                                    <input type="text" class="form-control custom-textbox"  ng-model="locationform.city" placeholder="Give it a City">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">State</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.state"  placeholder="Give it a State">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Country</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.country" placeholder="Give it a Country">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Zip code</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.zip_code" placeholder="Give it a Zipcode">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Contact no</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.contact_no" placeholder="Give it a Contact no">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Email</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.e_mail" placeholder="Give it a Email">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Fax no</label>
                                    <input type="text" class="form-control custom-textbox" ng-model="locationform.fax_no" placeholder="Give it a Fax no">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="panel panel-default custom-accordion-panel-default" id="company_profile_inverster">
                <div class="panel-heading custom-accordion-heading">
                    <h4 class="panel-title custom-accordion-title">
                        <a data-target="#cinverster"  data-toggle="collapse" data-parent="#accordion" href="">
                            <span class="glyphicon custom-glyphicon-accordion"></span>
                            Company Characteristics
                        </a>
                    </h4>
                </div>
                <div id="cinverster" class="panel-collapse custom-panel-accordion-collapse collapse">
                    <form ng-submit="investorsubmit()">
                        <div class="row">
                            <div class="col-sm-11 col-md-11">
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Invester confidence</label>
                                    <input type="hidden" name="id" ng-model="investorform.id">
                                    <input type="text" name="investor_confidence" ng-model="investorform.investor_confidence" class="form-control custom-textbox" placeholder="Give it a invester confidence rate">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <label class="text-uppercase">Description</label>
                                    <input type="text" name="investor_conf_description" ng-model="investorform.investor_conf_description" class="form-control custom-textbox" placeholder="Give it a invester confidence description">
                                </div>
                                <div class="form-group custom-lider-form-grou">
                                    <input type="submit" class="form-control" value="Save"/>
                                </div>
                            </div>
                            <hr class="hr-line-lidership">
                        </div>
                    </form>
                </div>
            </div> -->



        </div>
    </div>
</section>
