<section class="page-section page-section-featured-students" ng-controller="company_futuredvideo">
  <div class="container" ng-show="feature.length > 0">
    <div class="page-header custom-page-header">
      <div class="pull-left">
         <h3 class="h3 custom-h3">Featured Videos</h3>
      </div>
      <div class="pull-right">
        <a href="#" class="link-all home_featured_video_link" ng-show="feature.length > 5" ng-click="showall_featuredvideo()" title="Show All">Show All</a>
      </div>

    </div>
    <div class="row custom-row-10 less_all_purpose">
      <div class="col-sm-6" ng-repeat="vid in feature | limitTo:2">
        <a href="#" data-id="{{vid.id}}" ng-click="videoPopup(vid.id)" class = "thumbnail custom-large-image-gallery customn-thumbs-color-{{10 | randomize}}">
          <img ng-src="{{vid.thumbnail}}" class="img-responsive custom-img-responsive">
          <div class="overlay "></div>
          <span class="arrow-triangle"></span> <span class="link-new">New</span>
          <div class="box-inside-content">
            <span class="logo-companies"><img ng-src="{{vid.company.logo}}" class="img-responsive"></span>
                <h6 class="h6 custom-h6">{{vid.company.name}}</h6>
              <h1 class="h1 custom-gallery-h1">{{vid.title}}</h1>
          </div>
        </a>
      </div>
    </div>

    <div class="row custom-row-10 less_all_purpose">
      <div class="col-sm-4 custom-cols-thumbs-4" ng-repeat="sm_vid in feature | startFrom : 2 | limitTo: 3">
        <a href="#" data-id="{{sm_vid.id}}" ng-click="videoPopup(sm_vid.id)" class = "thumbnail custom-thumbnail-image-gallery customn-thumbs-color-{{10 | randomize}}">
          <img ng-src="{{sm_vid.thumbnail}}" class="img-responsive custom-img-responsive">
          <div class="overlay "></div>
          <span class="arrow-triangle"></span>
          <div class="box-inside-content">
          <span class="logo-companies"><img ng-src="{{sm_vid.company.logo}}" class="img-responsive"></span>
                <h6 class="h6 custom-h6">{{sm_vid.company.name}}</h6>
              <h1 class="h1 custom-gallery-h1">{{sm_vid.title}}</h1>
          </div>
        </a>
      </div>
    </div>

    <div class="row custom-row-10 for_show_all_purpose">
    </div>

  </div>
</section>
