<section class="page-section page-section-recent-fairs" ng-controller="company_mostrecentedfairvideo">
  <div class="container">
    <div class="page-header custom-page-header">
      <div class="pull-left">
        <h2 class="h2 custom-h2">Most recent fairs</h2>
      </div>
      <div class="pull-right"> <a href="#" class="link-all" title="Show All">Show All</a> </div>
    </div>
    <div class="row custom-row-10">
      <div class="slider-container-recent">
        <div class="" id="slider-carousel" data-uix-bxslider="mode: 'horizontal', nextText: '', prevText: '', pager: false, controls: true, minSlides: 1, maxSlides:2, slideWidth: 555, infiniteLoop: false, hideControlOnEnd: true">
          <div class="slide" data-ng-repeat="fairs in recent_fairs" data-notify-when-repeat-finished style="margin-right: 40px;">
            <div class="slider-inside-large">
              <div class="slider-recent-fairs">
                <a href="/com/careerfair/{{fairs.id}}" style="color:#000;">
                <img ng-src="{{fairs.image}}" alt="img1.png" style="width:555px; height:315px;">
                <div class="slider-caption">
                  <div class="caption-date-container"><span class="caption-date">{{fairs.start_date}}</span> &bull; <span class="caption-state">{{ fairs.city }}, {{ fairs.state }}</span></div>
                  <h3 class="caption-description">{{fairs.title}}</h3>
                </div>
              </a>
              </div>
            </div>
            <div class="slider-inside-thumbs">
              <div class="row custom-row-15">
                <div class="col-xs-4 col-sm-4" ng-repeat="rv in fairs.related_video | limitTo:3">
                  <a href="#" ng-click="videoPopup(rv.id)" class="thumbnail customn-thumbs-color-08 custom-thumbs-box-views">
                    <img ng-src="{{rv.thumbnail}}" style="width:170px; height:99px;">
                    <div class="overlay "></div>
                    <span class="icon-btn-play"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
	</div>
</section>
